<div class="row">
    <div id="appVueLeftTable">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="white-box">
                @*<div class="table-responsive">
                        <table id="tblLista" class="table table-hover table-bordered font-10">
                            <thead class="thead-custom">
                                <tr>
                                    <th class="row-strench" width="%">N° INTERNO</th>
                                    <th class="row-strench" width="%">F.PAGO</th>
                                    <th class="row-strench" width="%">F.CARGA</th>
                                    <th class="row-strench" width="%">REGISTRADO</th>
                                    <th class="row-strench" width="%">ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, key) in list.retenedorCabecera" @@dblclick="sendRow(item)">
                                    <td class="row-custom">{{item.NroInterno}}</td>
                                    <td class="row-custom">{{item.FechaPago}}</td>
                                    <td class="row-custom">{{item.FechaCarga}}</td>
                                    <td class="row-custom">{{item.Usuario}}</td>
                                    <td class="row-custom">{{item.Estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@
            </div>
        </div>
    </div>
</div>