<div id="appClaveAutorizacion" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" style="top:10%;">
        <div class="modal-content">
            <div class="modal-body">
                <h3>XDD</h3>
            </div>
            <div class="modal-footer">
                <button id="btnCerrarVenta" class="btn btn-info waves-effect waves-light text-left">
                    <span class="fa fa-save fa-fw"></span>ACEPTAR
                </button>
                <button data-dismiss="modal" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>CANCELAR
                </button>
            </div>
        </div>
    </div>
</div>
