@using SisComWeb.Aplication.Helpers;
@{
    var claveDescuentoDePasajes = Constant.CLAVE_CLAVE_DE_DESCUENTO_DE_PASAJES;
    var claveHoraConfirmacion = Constant.CLAVE_HORA_CONFIRMACION;
    var clavereintegroconfirmacion = Constant.CLAVE_REINTEGRO_CONFIRMACION;
}

<div id="appClaveAutorizacion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index: 2000;">
    <div class="modal-dialog modal-sm" style="top:10%; width: 325px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-0">
                        <div class="col-md-12 text-center">
                            <template v-if="Tipo == '@claveDescuentoDePasajes'">
                                <h2 style="margin: 0px; font-weight: 500; ">
                                    Descuento
                                </h2>
                            </template>
                            <img src="~/wwwroot/plugins/images/users/user-shield-solid.svg" width="100" height="100" />
                        </div>
                        <h5 style="font-family:Rubik, sans-serif; margin-top: 0px; margin-bottom: 15px; ">
                            <template v-if="Tipo == '@claveHoraConfirmacion'">
                                La hora de confirmación es mayor a la hora permitida por administración ({{horaReal}}), ingrese la clave de autorización.
                            </template>
                            <template v-else>
                                Necesita permiso para realizar esta acción, ingrese la clave de autorización.
                            </template>
                        </h5>
                    </div>
                    <template v-if="Tipo == '@claveHoraConfirmacion'">
                        <div class="form-group m-b-5">
                            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; ">
                                <label class="col-md-3 control-label label-sm">Usuario: </label>
                                <div class="col-md-9">
                                    <v-select id="cboUsuarioCA"
                                              placeholder="USUARIO"
                                              v-model="usuario"
                                              :options="list.usuarios"
                                              :select-on-tab="true"
                                              :get-option-label="getLabel"
                                              :filterable="false"
                                              @@search="getUsuariosHC"
                                              @@keydown.13.native.prevent="$refs.refContraseniaCA.focus()"
                                              @*@@keydown.9.native.prevent="$refs.refContraseniaCA.focus()"*@
                                              ref="refUsuarioCA">
                                        <template slot="option" slot-scope="option">
                                            <div @@click="$refs.refContraseniaCA.focus()">{{ option.id }} - {{ option.label }}</div>
                                        </template>
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-else-if="Tipo == '@clavereintegroconfirmacion'">
                        <div class="form-group m-b-5">
                            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; ">
                                <label class="col-md-3 control-label label-sm">Usuario: </label>
                                <div class="col-md-9">
                                    <v-select id="cboUsuarioRE"
                                              placeholder="USUARIO"
                                              v-model="usuario"
                                              :options="list.usuarios"
                                              :select-on-tab="true"
                                              :get-option-label="getLabel"
                                              :filterable="false"
                                              @@search="getUsuarioControlPwd"
                                              @@keydown.13.native.prevent="$refs.refContraseniaCA.focus()"
                                              ref="refUsuarioRE">
                                        <template slot="option" slot-scope="option">
                                            <div @@click="$refs.refContraseniaCA.focus()">{{ option.id }} - {{ option.label }}</div>
                                        </template>
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="form-group m-b-5">
                        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; ">
                            <label class="col-md-3 control-label label-sm">Clave: </label>
                            <div class="col-md-9">
                                <input v-model="password"
                                       id="txtContraseniaCA"
                                       ref="refContraseniaCA"
                                       @@focus="$event.target.select()"
                                       @@keypress.13.prevent="recorrerClaveAutorizacion()"
                                       @*@@keypress.9.prevent="recorrerClaveAutorizacion"*@
                                       type="password"
                                       class="form-control input-sm"
                                       placeholder="CLAVE"
                                       maxlength="30"
                                       autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <template v-if="Tipo == '@claveDescuentoDePasajes' || Tipo == '@clavereintegroconfirmacion'">
                        <div class="form-group m-b-5">

                            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                                <label class="col-md-3 control-label label-sm">Obs.: </label>
                                <div class="col-md-9">
                                    <textarea v-model="observacion"
                                              id="txtObservacionCA"
                                              @@keypress.13.prevent="sendClaveAutorizacion()"
                                              @*@@keypress.9.prevent="recorrerClaveAutorizacion"*@
                                              class="form-control input-sm"
                                              placeholder="OBSERVACIÓN"
                                              maxlength="150"
                                              style="height: 50px; resize: none; "
                                              autocomplete="off">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAceptarClaveAutorizacion"
                        @@click="sendClaveAutorizacion"
                        class="btn btn-info waves-effect waves-light text-left"
                        :disabled="disabledBtnAceptar">
                    <span class="fa fa-save fa-fw"></span>Aceptar
                </button>
                <button data-dismiss="modal" @@click="cerrarClaveAutorizacion" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
