
<div id="appVueCrearProgramacion" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header modal-drag">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Crear Programación</b></h4>
            </div>
            <div class="modal-body p-t-10 p-b-0">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group m-b-5">
                            <div class="col-md-12 p-0">
                                <div class="col-md-12 separate-in-form">
                                    <label class="col-md-6 control-label label-sm">N° Viaje:</label>
                                    <div class="col-md-6">
                                        <input :value="filtro.NroViaje" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 separate-in-form">
                                    <label class="control-label label-sm">Empresa:</label>
                                    <div class="">
                                        <input :value="filtro.CodiEmpresa | empresas" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 separate-in-form">
                                    <label class="control-label label-sm">Origen:</label>
                                    <div class="">
                                        <input :value="filtro.CodiSucursal | rutas" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 separate-in-form">
                                    <label class="control-label label-sm">Punto de Venta:</label>
                                    <div class="">
                                        <input :value="filtro.CodiPuntoVenta | rutas" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 separate-in-form">
                                    <label class="control-label label-sm">Destino:</label>
                                    <div class="">
                                        <input :value="filtro.CodiRuta | rutas" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 separate-in-form">
                                    <label class="control-label label-sm">Servicio:</label>
                                    <div class="">
                                        <input :value="filtro.CodiServicio | servicios" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-12 p-0">
                                    <div class="col-xs-6 separate-in-form">
                                        <label class="control-label label-sm">Fecha Prog.:</label>
                                        <div class="">
                                            <input :value="filtro.FechaProgramacion" class="form-control input-sm" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 separate-in-form">
                                        <label class="control-label label-sm">Hora Prog.:</label>
                                        <div class="">
                                            <input v-model="filtro.HoraProgramacion" 
                                                   class="form-control input-sm dph2"
                                                   @@blur="filtro.HoraProgramacion = $event.target.value"
                                                   ref="refCPHoraProg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="save"
                        class="btn btn-primary waves-effect waves-light">
                    <span class="fa fa-save fa-fw"></span>Crear
                </button>
                <button @@click="close"
                        class="btn btn-inverse waves-effect waves-light">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Salir
                </button>
            </div>
        </div>
    </div>
</div>
