<div id="appVueFilter" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-wrapper" aria-expanded="false">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-success">
                                <label class="col-md-12 text-center" style="font-family:Rubik, sans-serif; font-size:14px;">FILTRAR</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Origen pasajero:</label>
                                        <v-select v-model="filtro.CodiOrigen"
                                                  :id="'cboOrigenPas'"
                                                  label="label"
                                                  :get-option-label="getLabel"
                                                  :options="list.origenesPas"
                                                  :placeholder="'ORIGEN PAS.'"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino pasajero:</label>
                                        <v-select v-model="filtro.CodiDestino"
                                                  :id="'cboDestinoPas'"
                                                  label="label"
                                                  :get-option-label="getLabel"
                                                  :options="list.destinosPas"
                                                  :placeholder="'DESTINO PAS.'"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino bus:</label>
                                        <v-select v-model="filtro.CodiRuta"
                                                  :id="'cboDestinoBus'"
                                                  label="label"
                                                  :get-option-label="getLabel"
                                                  :options="list.destinosBus"
                                                  :placeholder="'DESTINO BUS.'"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <div class="input-group input-sm group-strench">
                                            <label class="control-label">Fecha desde:</label>
                                            <input @@blur="filtro.FechaViaje = $event.target.value.trim()"
                                                   :value="filtro.FechaViaje"
                                                   type="text"
                                                   id="txtFecha"
                                                   class="form-control input-sm dp"
                                                   placeholder="FECHA"
                                                   autocomplete="off">
                                            @*<input @@blur="filtro.FechaViaje = $event.target.value"
                                                       :value="filtro.FechaViaje"
                                                       type="text"
                                                       id="txtFecha"
                                                       class="form-control input-sm dp"
                                                       placeholder="FECHA"
                                                       autocomplete="off">
                                                <span id="spnFecha" class="input-group-addon open-datetimepicker"><i class="fa fa-calendar-o"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Hora desde:</label>
                                        <input @@blur="filtro.Hora = $event.target.value.trim()"
                                               :value="filtro.Hora"
                                               type="text"
                                               id="txtHora"
                                               class="form-control input-sm dph"
                                               placeholder="HORA DESDE"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="checkbox-list">
                                            <div class="col-md-6">
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="chckTodos" type="checkbox" v-model="filtro.TodosTurnos">
                                                    <label for="chckTodos">TODOS</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkbox checkbox-info checkbox-circle">
                                                    <input id="chckProgramados" type="checkbox" v-model="filtro.SoloProgramados">
                                                    <label for="chckProgramados">PROGRAMADOS</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button id="buscar" @@click="search" class="btn btn-inverse btn-block waves-effect waves-light">
                                    <span><i class="fa fa-search fa-1.5x fa-fw"></i>BUSCAR</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
