<div id="appVueFilter" v-show="!showVentas" class="row">
    <div id="FilterItinerarios" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-wrapper" aria-expanded="false">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="display:none;">
                            <div class="form-group has-success">
                                <label class="col-md-12 text-center" style="font-family:Rubik, sans-serif; font-size:14px;">FILTRAR</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Origen pasajero:</label>
                                        <v-select v-model="filtro.CodiOrigen"
                                                  id="cboOrigenPas"
                                                  placeholder="ORIGEN PASAJERO"
                                                  :options="list.origenesPas"
                                                  :select-on-tab="true"
                                                  :get-option-label="getLabel"
                                                  @@input="$refs.refOrigenPas.typeAheadPointer = $getSelectorVselect(list.origenesPas, filtro.CodiOrigen)"
                                                  @@keydown.13.native.prevent="nextStep(1)"
                                                  @*@@keydown.9.native.prevent="nextStep(1)"*@
                                                  ref="refOrigenPas">
                                            <template slot="option" slot-scope="option">
                                                <div @@click="nextStep(1)">{{ option.id }} - {{ option.label }}</div>
                                            </template>
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino pasajero:</label>
                                        <v-select v-model="filtro.CodiDestino"
                                                  id="cboDestinoPas"
                                                  placeholder="DESTINO PASAJERO"
                                                  :options="list.destinosPas"
                                                  :select-on-tab="true"
                                                  :get-option-label="getLabel"
                                                  @@input="$refs.refDestinoPas.typeAheadPointer = $getSelectorVselect(list.destinosPas, filtro.CodiDestino)"
                                                  @@keydown.13.native.prevent="nextStep(2)"
                                                  @*@@keydown.9.native.prevent="nextStep(2)"*@
                                                  ref="refDestinoPas">
                                            <template slot="option" slot-scope="option">
                                                <div @@click="nextStep(2)">{{ option.id }} - {{ option.label }}</div>
                                            </template>
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino bus:</label>
                                        <v-select v-model="filtro.CodiRuta"
                                                  id="cboDestinoBus"
                                                  placeholder="DESTINO BUS"
                                                  :options="list.destinosBus"
                                                  :select-on-tab="true"
                                                  :get-option-label="getLabel"
                                                  @@input="$refs.refDestinoBus.typeAheadPointer = $getSelectorVselect(list.destinosBus, filtro.CodiRuta)"
                                                  @@keydown.13.native.prevent="nextStep(3)"
                                                  @*@@keydown.9.native.prevent="nextStep(3)"*@
                                                  ref="refDestinoBus">
                                            <template slot="option" slot-scope="option">
                                                <div @@click="nextStep(3)">{{ option.id }} - {{ option.label }}</div>
                                            </template>
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding: 0 !important;">
                                <div class="col-md-2" style="padding: 0 !important;">
                                    <div class="form-group ">
                                        <div class="input-group input-sm group-strench">
                                            <label class="control-label">Fecha desde:</label>
                                            <input v-model="filtro.FechaViaje"
                                                   id="txtFecha"
                                                   class="form-control input-sm dpFiltro"
                                                   type="text"
                                                   placeholder="DD/MM/YYYY"
                                                   v-mask="'##/##/####'"
                                                   @@focus="$event.target.select()"
                                                   @@keydown.13.prevent="nextStep(4)"
                                                   @*@@keydown.9.prevent="nextStep(4)"*@
                                                   @@blur="filtro.FechaViaje = $event.target.value"
                                                   autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Hora desde:</label>
                                        <input v-model="filtro.Hora"
                                               id="txtHora"
                                               class="form-control input-sm dph"
                                               type="text"
                                               placeholder="HH:MM AM"
                                               v-mask="'##:## AM'"
                                               @@focus="$event.target.select()"
                                               @@keydown.13.prevent="nextStep(5)"
                                               @*@@keydown.9.prevent="nextStep(5)"*@
                                               @@blur="filtro.Hora = $event.target.value"
                                               autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-8" style="margin-top: 15px;">
                                    <div class="form-group">
                                        <div class="col-md-7 checkbox-list">
                                            <div style="width: 100%">
                                                <div class="checkbox checkbox-info checkbox-circle"
                                                     @@keydown.13.prevent="nextStep(6)"
                                                     @*@@keydown.9.prevent="nextStep(6)"*@
                                                     style="display: inline-block; margin: 0 25px 15px 0; ">
                                                    <input id="chckTodos" type="checkbox" class="check-with-label" v-model="filtro.TodosTurnos">
                                                    <label for="chckTodos" class="label-for-check">TODOS</label>
                                                </div>
                                                <div class="checkbox checkbox-info checkbox-circle"
                                                     @@keydown.13.prevent="nextStep(7)"
                                                     @*@@keydown.9.prevent="nextStep(7)"*@
                                                     style="display: inline-block; ">
                                                    <input id="chckProgramados" type="checkbox" class="check-with-label" v-model="filtro.SoloProgramados">
                                                    <label for="chckProgramados" class="label-for-check">PROGRAMADOS</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <button id="buscar" @@click="nextStep(0)" :disabled="processing" class="btn btn-inverse btn-block waves-effect">
                                                <span><i class="fa fa-search fa-1.5x fa-fw"></i>BUSCAR</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
