
<div id="appVueFilter" v-show="!showVentas" class="row">
    <div id="FilterItinerarios" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-wrapper" aria-expanded="false">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="display:none;">
                            <div class="form-group has-success">
                                <label class="col-md-12 text-center" style="font-family:Rubik, sans-serif; font-size:14px;">FILTRAR</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Origen pasajero:</label>
                                        <v-select v-model="filtro.CodiOrigen"
                                                  :id="'cboOrigenPas'"
                                                  :get-option-label="getLabel"
                                                  :options="list.origenesPas"
                                                  :placeholder="'ORIGEN PAS.'"                                                  
                                                  @@keydown.13.native.prevent="nextStep(1)"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino pasajero:</label>
                                        <v-select v-model="filtro.CodiDestino"
                                                  :id="'cboDestinoPas'"
                                                  :get-option-label="getLabel"
                                                  :options="list.destinosPas"
                                                  :placeholder="'DESTINO PAS.'"
                                                  @@keydown.13.native.prevent="nextStep(2)"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Destino bus:</label>
                                        <v-select v-model="filtro.CodiRuta"
                                                  :id="'cboDestinoBus'"
                                                  :get-option-label="getLabel"
                                                  :options="list.destinosBus"
                                                  :placeholder="'DESTINO BUS.'"
                                                  @@keydown.13.native.prevent="nextStep(3)"
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <div class="input-group input-sm group-strench">
                                            <label class="control-label">Fecha desde:</label>
                                            <input v-model="filtro.FechaViaje"
                                                   v-mask="'##/##/####'"
                                                   @@blur="nextStep(4)"
                                                   type="text"
                                                   id="txtFecha"                                                   
                                                   class="form-control input-sm dp"
                                                   placeholder="DD/MM/YYYY"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Hora desde:</label>
                                        <input v-model="filtro.Hora"
                                               v-mask="'##:## AM'"
                                               @@blur="nextStep(5)"
                                               type="text"
                                               id="txtHora"
                                               class="form-control input-sm dph"
                                               placeholder="HH:MM AM"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="form-group">
                                        <div class="checkbox-list">
                                            <div class="col-md-6">
                                                <div class="checkbox checkbox-info checkbox-circle" @@keypress.13.prevent="nextStep(6)">@*1*@
                                                    <input id="chckTodos" type="checkbox" class="check-with-label" v-model="filtro.TodosTurnos">
                                                    <label for="chckTodos" class="label-for-check">TODOS</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkbox checkbox-info checkbox-circle" @@keypress.13.prevent="nextStep(7)">@*2*@
                                                    <input id="chckProgramados" type="checkbox" class="check-with-label" v-model="filtro.SoloProgramados">
                                                    <label for="chckProgramados" class="label-for-check">PROGRAMADOS</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-top: 15px;">
                                <button id="buscar" @@click="nextStep(0)" :disabled="processing" class="btn btn-inverse btn-block waves-effect waves-light">
                                    <span><i class="fa fa-search fa-1.5x fa-fw"></i>BUSCAR</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
