<div id="appVueMensajeria" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index: 999999; ">
    <div class="modal-dialog modal-sm" style="width: 500px; top: 10%; ">
        <div class="modal-content" style="border-radius: 0px 0px 10px 10px; ">
            <div class="modal-header" style="padding: 10px; text-align: center; background-color: var(--emp-color); ">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title" style="color: white; ">
                    <span class="mdi mdi-email-open-outline fa-fw"></span>
                    <b>Mensajería instantánea</b>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-0">
                        <h5 style="font-weight: 400; font-size: 14px; text-align: justify; line-height: 1.5; ">
                            {{mensaje}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
