
<div id="appVueMiniMapa" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-drag">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Buscar Asiento</b></h4>
            </div>
            <div class="modal-body p-0">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        @*<div class="col-sm-2 col-xs-4">
                            <div class="col-xs-3">
                                <div style="background-color:#A5D6A7; border: 1px solid #7c7c7c; border-radius: 2px;">
                                    &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="col-xs-9">
                                &ensp;Actual
                            </div>
                        </div>*@
                        <div class="col-sm-2 col-xs-4">
                            <div class="col-xs-3">
                                <div style="background-color:#EB5B5B; border: 1px solid #7c7c7c; border-radius: 2px;">
                                    &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="col-xs-9">
                                &ensp;Ocupado
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="col-xs-3">
                                <div style="background-color:#FFFFFF; border: 1px solid #7c7c7c; border-radius: 2px;">
                                    &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="col-xs-9">
                                &ensp;Libre
                            </div>
                        </div>
                    </div>
                    <div class="container-bus bgc-emp">
                        <div class="img-bus">
                            <img src="~/wwwroot/plugins/images/users/cabecera-bus.png" />
                        </div>
                        <div class="table-responsive form-bus">

                            <table id="tblLista" class="table table-bus">
                                <tbody>
                                    <tr>
                                        <td v-for="(item, key) in list.plano1"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button :id="'btnAsientoMini_' + item.Tipo"
                                                        class="btn btn-bus"
                                                        @@dblclick="setData(item)"
                                                        :style="[item.FlagVenta ? {'background-color': 'red'} : {'background-color': ''}]"
                                                        :title="(item.FlagVenta ? `${item.Nombres} ${item.ApellidoPaterno} ${item.ApellidoMaterno}` : 'PRECIO NORMAL: ' + item.PrecioNormal)"
                                                        :disabled="item.FlagVenta != ''">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano2"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button :id="'btnAsientoMini_' + item.Tipo"
                                                        class="btn btn-bus"
                                                        @@dblclick="setData(item)"
                                                        :style="[item.FlagVenta ? {'background-color': 'red'} : {'background-color': ''}]"
                                                        :title="(item.FlagVenta ? `${item.Nombres} ${item.ApellidoPaterno} ${item.ApellidoMaterno}` : 'PRECIO NORMAL: ' + item.PrecioNormal)"
                                                        :disabled="item.FlagVenta != ''">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano3"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button :id="'btnAsientoMini_' + item.Tipo"
                                                        class="btn btn-bus"
                                                        @@dblclick="setData(item)"
                                                        :style="[item.FlagVenta ? {'background-color': 'red'} : {'background-color': ''}]"
                                                        :title="(item.FlagVenta ? `${item.Nombres} ${item.ApellidoPaterno} ${item.ApellidoMaterno}` : 'PRECIO NORMAL: ' + item.PrecioNormal)"
                                                        :disabled="item.FlagVenta != ''">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano4"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button :id="'btnAsientoMini_' + item.Tipo"
                                                        class="btn btn-bus"
                                                        @@dblclick="setData(item)"
                                                        :style="[item.FlagVenta ? {'background-color': 'red'} : {'background-color': ''}]"
                                                        :title="(item.FlagVenta ? `${item.Nombres} ${item.ApellidoPaterno} ${item.ApellidoMaterno}` : 'PRECIO NORMAL: ' + item.PrecioNormal)"
                                                        :disabled="item.FlagVenta != ''">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano5"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button :id="'btnAsientoMini_' + item.Tipo"
                                                        class="btn btn-bus"
                                                        @@dblclick="setData(item)"
                                                        :style="[item.FlagVenta ? {'background-color': 'red'} : {'background-color': ''}]"
                                                        :title="(item.FlagVenta ? `${item.Nombres} ${item.ApellidoPaterno} ${item.ApellidoMaterno}` : 'PRECIO NORMAL: ' + item.PrecioNormal)"
                                                        :disabled="item.FlagVenta != ''">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="close" class="btn btn-inverse waves-effect waves-light">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
