
<div id="appVueModificacionBoleto" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>MODIFICACIÓN DE BOLETOS</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-5 separate-in-form">
                            <label class="control-label label-sm">Empresa:</label>
                            <div class="">
                                <v-select v-model="filtroCodiEmpresa"
                                          :options="list.empresas"
                                          :placeholder="'EMPRESA'"
                                          :select-on-tab="true"
                                          id="cboEmpresa"
                                          :get-option-label="getLabel"
                                          @@keydown.13.native.prevent=""
                                          ref="refMBEmpresa">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                        <div class="col-md-4 separate-in-form p-b-10" style="display:flex;">
                            <div class="m-t-20">
                                <div class="col-xs-4">
                                    <input type="radio" id="rdoManual" class="rbDescTipo" value="M" v-model="item.tipo">
                                    <label for="rdoManual"
                                           class="lblDescTipo"
                                           style="line-height: inherit; ">
                                        Manual
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="radio" id="rdoBoleta" class="rbDescTipo" value="B" v-model="item.tipo">
                                    <label for="rdoBoleta"
                                           class="lblDescTipo"
                                           style="line-height: inherit; ">
                                        Boleta
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="radio" id="rdoFactura" class="rbDescTipo" value="F" v-model="item.tipo">
                                    <label for="rdoFactura"
                                           class="lblDescTipo"
                                           style="line-height: inherit; ">
                                        Factura
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 separate-in-form">
                            <label class="col-xs-12 control-label label-sm" style="text-align:left;">Número:</label>
                            <div class="col-xs-4">
                                <input v-model="item.serie"
                                       class="form-control input-sm"
                                       @@keypress.13.prevent="$refs.refMBNumero.focus()"
                                       @*@@keypress.9.prevent="$refs.refMBNumero.focus()"*@
                                       @@blur="item.serie = ($event.target.value) ? ($event.target.value).padStart(3,0) : ''"
                                       v-mask="'#'.repeat(4)"
                                       ref="refMBSerie" />
                            </div>
                            <div class="col-xs-8">
                                <input v-model="item.numero"
                                       class="form-control input-sm"
                                       @@keypress.13.prevent="searchData"
                                       @*@@keypress.9.prevent="searchData"*@
                                       @@blur="item.numero = ($event.target.value) ? ($event.target.value).padStart(8,0) : ''"
                                       v-mask="'#'.repeat(8)"
                                       ref="refMBNumero" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5 bordergray" v-show="showData">
                        <div class="col-md-5 p-0">
                            <div class="col-md-9 p-0">
                                <div class="col-md-6 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Destino Bus:</label>
                                    <div class="">
                                        <input :value="item.destinoBus | rutas"
                                               class="form-control input-sm"
                                               style="background-color:rgb(253, 249, 205);"
                                               disabled />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Ruta:</label>
                                    <div class="">
                                        <input :value="item.ruta | rutas"
                                               class="form-control input-sm"
                                               style="background-color:rgb(253, 249, 205);"
                                               disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Turno:</label>
                                <div class="">
                                    <input :value="item.turno"
                                           class="form-control input-sm"
                                           style="background-color:rgb(253, 249, 205);"
                                           disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 p-0">
                            <div class="col-md-4 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Día:</label>
                                <div class="">
                                    <input :value="item.dia | diaSemana"
                                           class="form-control input-sm"
                                           style="background-color:rgb(253, 249, 205);"
                                           disabled />
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Fecha Viaje:</label>
                                <div class="">
                                    <input :value="item.fechaViaje"
                                           class="form-control input-sm"
                                           style="background-color:rgb(253, 249, 205);"
                                           disabled />
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Fecha Venta:</label>
                                <div class="">
                                    <input :value="item.fechaVenta"
                                           class="form-control input-sm"
                                           style="background-color:rgb(253, 249, 205);"
                                           disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-8 separate-in-form">
                            <label class="control-label label-sm">Número:</label>
                            <div class="">
                                <input :value="item.correlativoSinTipo"
                                       class="form-control input-sm"
                                       style="background-color:rgb(253, 249, 205); font-weight:500;"
                                       disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5" v-show="showData">
                        <div class="col-md-3 p-0">
                            <div class="col-md-6 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Tipo Doc.:</label>
                                <div class="">
                                    <input :value="filtro.tipoDoc | tipoDocumento"
                                           class="form-control input-sm"
                                           disabled />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 separate-in-form">
                                <label class="control-label label-sm">Documento:</label>
                                <div class="">
                                    <input :value="filtro.dni"
                                           class="form-control input-sm"
                                           disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 p-0">
                            <div class="col-md-8 p-0">
                                <div class="col-md-4 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Nombre:</label>
                                    <div class="">
                                        <input :value="item.nombre"
                                               class="form-control input-sm"
                                               disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Apellido Paterno:</label>
                                    <div class="">
                                        <input :value="item.apepat"
                                               class="form-control input-sm"
                                               disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Palliedo Materno:</label>
                                    <div class="">
                                        <input :value="item.apemat"
                                               class="form-control input-sm"
                                               disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="col-md-4 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Edad:</label>
                                    <div class="">
                                        <input :value="filtro.edad"
                                               class="form-control input-sm"
                                               disabled />
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-6 separate-in-form">
                                    <label class="control-label label-sm">Sexo:</label>
                                    <div class="">
                                        <input :value="item.sexo | sexo"
                                               class="form-control input-sm"
                                               disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">R.U.C.:</label>
                            <div class="">
                                <input :value="filtro.ruc"
                                       class="form-control input-sm"
                                       disabled />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Razón Social:</label>
                            <div class="">
                                <input :value="item.razSocial"
                                       class="form-control input-sm"
                                       disabled />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Teléfono:</label>
                            <div class="">
                                <input :value="filtro.telefono"
                                       class="form-control input-sm"
                                       disabled />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Recoger:</label>
                            <div class="">
                                <input v-model="filtro.recoger"
                                       class="form-control input-sm"
                                       @@keypress.13.prevent="$refs.refMBNacionalidad.focus()"
                                       @*@@keypress.9.prevent="$refs.refMBNacionalidad.focus()"*@
                                       :disabled="!panel"
                                       maxlength="30"
                                       ref="refMBRecoger" />
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Asiento:</label>
                            <div class="">
                                <input :value="item.asiento"
                                       class="form-control input-sm"
                                       disabled />
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Precio:</label>
                            <div class="">
                                <input :value="item.precio | money"
                                       class="form-control input-sm"
                                       disabled />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 separate-in-form">
                            <label class="control-label label-sm">Nacionalidad:</label>
                            <div class="">
                                <input v-model="filtro.nacionidad"
                                       class="form-control input-sm"
                                       @@keypress.13.prevent="$refs.refMBSave.focus()"
                                       @*@@keypress.9.prevent="$refs.refMBSave.focus()"*@
                                       :disabled="!panel"
                                       maxlength="30"
                                       ref="refMBNacionalidad" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="saveModBoleto"
                        v-show="panel"
                        ref="refMBSave"
                        :disabled="errors.any()"
                        class="btn btn-primary waves-effect waves-light">
                    <span class="glyphicon glyphicon-saved fa-fw"></span>Guardar
                </button>
                <button @@click="close" class="btn btn-inverse waves-effect waves-light">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>