<div id="appVueNotaCredito" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="cerrarNotaCredito()">&times;</button>
                <h4 class="modal-title"><b>Nota de crédito</b></h4>
            </div>
            <div class="modal-body p-b-0">
                <div class="form-horizontal">
                    <div class="form-group m-b-15" style="border-bottom: 1px solid #e5e5e5; ">
                        <div class="col-md-12 m-b-5">
                            <div class="col-md-6">
                                <label class="control-label">Empresa:</label>
                                <v-select id="cboEmpresaNC"
                                          placeholder="EMPRESA"
                                          v-model="filtro.empresa"
                                          :options="list.empresas"
                                          :select-on-tab="true"
                                          :get-option-label="getLabel"
                                          @@input="$refs.refEmpresaNC.typeAheadPointer = $getSelectorVselect(list.empresas, filtro.empresa)"
                                          @@keydown.13.native.prevent="recorrerFiltrosNotaCredito()"
                                          @*@@keydown.9.native.prevent="recorrerFiltrosNotaCredito()"*@
                                          ref="refEmpresaNC">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="recorrerFiltrosNotaCredito()">{{ option.id }} - {{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                            <div class="col-md-3" style="text-align:right; ">
                                <label class="col-md-12 control-label">&nbsp;</label>
                                <input name="groupRdbPasEnc" type="radio" id="rdbPasajeNC" value="P" v-model="filtro.rdbPasEnc">
                                <label for="rdbPasajeNC"
                                       class="lblBoletoTipoDir">
                                    Pasaje
                                </label>
                                <input name="groupRdbPasEnc" type="radio" id="rdbEncomiendaNC" value="E" v-model="filtro.rdbPasEnc">
                                <label for="rdbEncomiendaNC"
                                       class="lblBoletoTipoDir">
                                    Encomienda
                                </label>
                            </div>
                            <div class="col-md-3" style="text-align: right; ">
                                <input type="checkbox"
                                       id="chbDocumentoElecNC"
                                       v-model="filtro.chbDocumentoElec"
                                       :disabled="TipoTerminalElectronico === 'M'">
                                <label for="chbDocumentoElecNC" style="color: black; ">Documento electrónico</label>
                            </div>
                        </div>
                        <div class="col-md-12  m-b-5">
                            <div class="col-md-2">
                                <label class="control-label">Tipo documento:</label>
                                <v-select id="cboTipoDocumentoNC"
                                          placeholder="TIPO DOCUMENTO"
                                          v-model="filtro.tipoDocumento"
                                          :options="list.tiposDocumentos"
                                          :select-on-tab="true"
                                          @@input="$refs.refTipoDocumentoNC.typeAheadPointer = $getSelectorVselect(list.tiposDocumentos, filtro.tipoDocumento)"
                                          @@keydown.13.native.prevent="recorridoVselectTipoDocumento()"
                                          @*@@keydown.9.native.prevent="recorridoVselectTipoDocumento()"*@
                                          ref="refTipoDocumentoNC">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="recorridoVselectTipoDocumento()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                            <div class="col-md-6">
                                <div v-show="filtro.tipoDocumento !== null && filtro.tipoDocumento.id === '06'">
                                    <label class="control-label">Cliente:</label>
                                    <v-select id="cboClienteNC"
                                              placeholder="CLIENTE"
                                              v-model="filtro.cliente"
                                              :options="list.clientes"
                                              :select-on-tab="true"
                                              :get-option-label="getLabel"
                                              :filterable="false"
                                              @@search="listaClientesNC_Autocomplete"
                                              @@keydown.13.native.prevent="recorrerFiltrosNotaCredito()"
                                              @*@@keydown.9.native.prevent="recorrerFiltrosNotaCredito()"*@
                                              ref="refClienteNC">
                                        <template slot="option" slot-scope="option">
                                            <div @@click="recorrerFiltrosNotaCredito()">{{ option.id }} - {{ option.label }}</div>
                                        </template>
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                                <div v-show="filtro.tipoDocumento === null || filtro.tipoDocumento.id !== '06'">
                                    <label class="col-md-12 control-label" style="text-align: left; ">Documento:</label>
                                    <div class="col-md-3 p-r-0 p-l-0">
                                        <input v-model="filtro.clienteId"
                                               @@input="filtro.clienteId = $event.target.value.toUpperCase()"
                                               @@keydown.13.prevent="recorridoTxtClienteIdNC()"
                                               @*@@keydown.9.prevent="recorridoTxtClienteIdNC()"*@
                                               @@focus="$event.target.select()"
                                               id="txtClienteIdNC"
                                               ref="refClienteIdNC"
                                               class="form-control input-sm"
                                               placeholder="DOCUMENTO"
                                               v-mask="mask.tipoDocumento"
                                               autocomplete="off">
                                    </div>
                                    <div class="col-md-9 p-r-0 p-l-0">
                                        <input :value="filtro.clienteLabel"
                                               @@input="filtro.clienteLabel = $event.target.value.toUpperCase()"
                                               id="txtClienteLabelNC"
                                               ref="refClienteLabelNC"
                                               class="form-control input-sm"
                                               disabled="disabled"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Fecha inicial:</label>
                                <input id="txtFechaInicialNC"
                                       class="form-control input-sm dpFiltro"
                                       type="text"
                                       placeholder="FECHA INICIAL"
                                       v-model="filtro.fechaInicial"
                                       v-mask="'##/##/####'"
                                       @@focus="$event.target.select()"
                                       @@blur="filtro.fechaInicial = $getValueDateTimePicker($event)"
                                       autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Fecha final:</label>
                                <input id="txtFechaFinalNC"
                                       class="form-control input-sm dpFiltro"
                                       type="text"
                                       placeholder="FECHA FINAL"
                                       v-model="filtro.fechaFinal"
                                       v-mask="'##/##/####'"
                                       @@focus="$event.target.select()"
                                       @@blur="filtro.fechaFinal = $getValueDateTimePicker($event)"
                                       autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-12  m-b-15">
                            <div class="col-md-4">
                                <label class="col-md-12 control-label" style="text-align: left; ">Número documento:</label>
                                <div class="col-md-3">
                                    <v-select id="cboTipoNumDocNC"
                                              placeholder="TIPO"
                                              v-model="filtro.tipoNumDoc"
                                              :options="list.tiposNumDoc"
                                              :select-on-tab="true"
                                              @@input="$refs.refTipoNumDocNC.typeAheadPointer = $getSelectorVselect(list.tiposNumDoc, filtro.tipoNumDoc)"
                                              @@keydown.13.native.prevent="recorrerFiltrosNotaCredito()"
                                              @*@@keydown.9.native.prevent="recorrerFiltrosNotaCredito()"*@
                                              ref="refTipoNumDocNC">
                                        <template slot="option" slot-scope="option">
                                            <div @@click="recorrerFiltrosNotaCredito()">{{ option.label }}</div>
                                        </template>
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                                <div class="col-md-4">
                                    <input v-model="filtro.serieNumDoc"
                                           id="txtSerieNumDocNC"
                                           ref="refSerieNumDocNC"
                                           class="form-control input-sm"
                                           placeholder="SERIE"
                                           @@keydown.13.prevent="$refs.refNumeroNumDocNC.focus()"
                                           @*@@keydown.9.prevent="$refs.refNumeroNumDocNC.focus()"*@
                                           @@focus="$event.target.select()"
                                           @@blur="blurSerieNumDoc"
                                           v-mask="'N'.repeat(3)"
                                           autocomplete="off">
                                </div>
                                <div class="col-md-5">
                                    <input v-model="filtro.numeroNumDoc"
                                           id="txtNumeroNumDocNC"
                                           ref="refNumeroNumDocNC"
                                           class="form-control input-sm"
                                           placeholder="NUMERO"
                                           @@keydown.13.prevent="$refs.refBuscarNC.focus()"
                                           @*@@keydown.9.prevent="$refs.refBuscarNC.focus()"*@
                                           @@focus="$event.target.select()"
                                           @@blur="blurNumeroNumDoc"
                                           v-mask="'N'.repeat(7)"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4" style="text-align: center; ">
                                <label class="col-md-12 control-label">&nbsp;</label>
                                <input name="groupRdbManEle" type="radio" id="rdbManualNC" value="M" v-model="filtro.rdbManEle">
                                <label for="rdbManualNC"
                                       class="lblBoletoTipoDir">
                                    Manual
                                </label>
                                <input name="groupRdbManEle" type="radio" id="rdbElectronicoNC" value="E" v-model="filtro.rdbManEle">
                                <label for="rdbElectronicoNC"
                                       class="lblBoletoTipoDir">
                                    Electrónico
                                </label>
                            </div>
                            <div class="col-md-4" style="text-align: right; ">
                                <label class="col-md-12 control-label">&nbsp;</label>
                                <button id="btnBuscarNC"
                                        class="btn btn-info waves-effect text-left"
                                        ref="refBuscarNC"
                                        @@click="buscarDocumentosEmitidos()">
                                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0" v-show="list.documentosEmitidos.length > 0">
                        <div class="col-md-5">
                            <label class="col-md-12 control-label p-t-0" style="text-align: center; ">Documentos emitidos</label>
                            <div class="custom-scroll-container">
                                <div class="table-responsive">
                                    <table id="tblListaDocumentosEmitidosNC" class="table table-hover" style="cursor:default; background-color:white; ">
                                        <thead>
                                            <tr>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Tipo</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%" title="Número documento">Nro. Documento</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%" title="Fecha emisión">F. emisión</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Oficina</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody v-show="list.documentosEmitidos.length > 0">
                                            <paginate ref="paginatorDocumentosEmitidosNC" name="itemsDE" :list="list.documentosEmitidos" :per="5">
                                                <tr v-for="item in paginated('itemsDE')" @@click="seleccionarDocumento(item.Index, item)">
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.ColumnTipo}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.ColumnNroDocumento}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.Fecha}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{String(item.CodiPuntoVenta).padStart(2, '0')}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{parseFloat(item.Total || '0').toFixed(2)}}</td>
                                                </tr>
                                            </paginate>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <center>
                                <paginate-links for="itemsDE" :async="true" :classes="{'ul': 'pagination'}"></paginate-links>
                            </center>
                        </div>
                        <div class="col-md-7">
                            <label class="col-md-12 control-label p-t-0" style="text-align: center; ">Documentos seleccionados</label>
                            <div class="custom-scroll-container">
                                <div class="table-responsive">
                                    <table id="tblListaDocumentosSeleccionadosNC" class="table table-hover" style="cursor:default; background-color:white; ">
                                        <thead>
                                            <tr>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Tipo</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%" title="Número documento">Nro. Documento</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%" title="Fecha emisión">F. emisión</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Oficina</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%">Importe</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="%" title="Importe Nota Crédito">Importe N.C.</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="10%">Plano</th>
                                                <th style="padding: 4px 10px 4px 10px; " class="custom-th" width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody v-show="list.documentosSeleccionados.length > 0">
                                            <paginate ref="paginatorDocumentosSeleccionadosNC" name="itemsDS" :list="list.documentosSeleccionados" :per="5">
                                                <tr v-for="(item, key) in paginated('itemsDS')">
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.ColumnTipo}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.ColumnNroDocumento}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{item.Fecha}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{String(item.CodiPuntoVenta).padStart(2, '0')}}</td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; ">{{parseFloat(item.Total || '0').toFixed(2)}}</td>
                                                    <td class="custom-td tdImporteNC">
                                                        <input :id="'txtDocSelImporteNC_' + item.Index"
                                                               class="form-control input-sm"
                                                               type="text"
                                                               placeholder="0.00"
                                                               onPaste="return false"
                                                               v-model="item.ImporteNC"
                                                               @@input="item.ImporteNC = $filterNumberWithTwoDecimals(item.ImporteNC, 3)"
                                                               @@blur="item.ImporteNC = $formatNumberWithTwoDecimals($event, item.ImporteNC)"
                                                               @@keydown.13.prevent="recorridoDocumentosSeleccionados(2, item.Index)"
                                                               @*@@keydown.9.prevent="recorridoDocumentosSeleccionados(2, item.Index)"*@
                                                               style="height: 18px; padding: 0px 10px; "
                                                               autocomplete="off" />
                                                    </td>
                                                    <td class="custom-td" style="padding: 5px 10px !important; text-align: center; ">
                                                        <input :id="'cboDocSelPlano_' + item.Index"
                                                               type="checkbox"
                                                               v-model="item.Plano"
                                                               @@keydown.13.prevent="recorridoDocumentosSeleccionados(1, item.Index)"
                                                               @*@@keydown.9.prevent="recorridoDocumentosSeleccionados(1, item.Index)"*@
                                                               style="float:left; margin: 2px 0px 0px 5px; " />
                                                        <label :for="'cboDocSelPlano_' + item.Index"
                                                               style="margin-top: 0px; margin-bottom: 0px; font-weight: 300; ">
                                                            {{item.Plano ? 'SI' : 'NO'}}
                                                        </label>
                                                    </td>
                                                    <td class="custom-td" style="padding: 2px 10px 3px 10px !important; ">
                                                        <button @@click="deseleccionarDocumento(item.Index, item, key)"
                                                                :id="'btnDeseleccionarDocSelNC_' + key"
                                                                class="btn btn-danger waves-effect btn-xs"
                                                                title="Remover">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </paginate>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <center>
                                <paginate-links for="itemsDS" :async="true" :classes="{'ul': 'pagination'}"></paginate-links>
                            </center>
                        </div>
                    </div>
                    <div class="form-group m-b-15" v-show="list.documentosSeleccionados.length > 0">
                        <div class="col-md-6">
                            <label class="control-label">Concepto:</label>
                            <v-select id="cboConceptoNC"
                                      placeholder="CONCEPTO"
                                      v-model="filtro.concepto"
                                      :options="list.conceptos"
                                      :select-on-tab="true"
                                      @@input="$refs.refConceptoNC.typeAheadPointer = $getSelectorVselect(list.conceptos, filtro.concepto)"
                                      @*@@keydown.13.native.prevent="recorrido(1)"*@
                                      @*@@keydown.9.native.prevent="recorrido(1)"*@
                                      ref="refConceptoNC">
                                <template slot="option" slot-scope="option">
                                    <div @*@@click="recorrido(1)"*@>{{ option.label }}</div>
                                </template>
                                <span slot="no-options" class="text-danger">No hay resultados</span>
                            </v-select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Nota crédito:</label>
                            <input v-model="filtro.notaCredito"
                                   @*@@input="list.ventas[indexVenta].ApellidoPaterno = $filterLettersToName(list.ventas[indexVenta].ApellidoPaterno)"*@
                                   @*@@keydown.13.prevent="recorrido(1)"*@
                                   @*@@keydown.9.prevent="recorrido(1)"*@
                                   id="txtNotaCreditoNC"
                                   ref="refNotaCreditoNC"
                                   class="form-control input-sm"
                                   placeholder="NOTA CRÉDITO"
                                   @*maxlength="10" NO SE SABE CON EXACTITUD*@
                                   autocomplete="off">
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Fecha emisión:</label>
                            <input id="txtFechaEmisionNC"
                                   class="form-control input-sm dpFiltro"
                                   type="text"
                                   placeholder="FECHA EMISIÓN"
                                   v-model="filtro.fechaEmision"
                                   v-mask="'##/##/####'"
                                   @@focus="$event.target.select()"
                                   @*@@keydown.13.prevent="recorrido(1)"*@
                                   @*@@keydown.9.prevent="recorrido(1)"*@
                                   @@blur="filtro.FechaEmision = $getValueDateTimePicker($event)"
                                   autocomplete="off" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Importe:</label>
                            <input v-model="filtro.importe"
                                   @*@@input="list.ventas[indexVenta].ApellidoPaterno = $filterLettersToName(list.ventas[indexVenta].ApellidoPaterno)"*@
                                   @*@@keydown.13.prevent="recorrido(1)"*@
                                   @*@@keydown.9.prevent="recorrido(1)"*@
                                   id="txtImporteNC"
                                   ref="refImporteNC"
                                   class="form-control input-sm"
                                   placeholder="IMPORTE"
                                   @*maxlength="10" NO SE SABE CON EXACTITUD*@
                                   autocomplete="off">
                        </div>
                        <div class="col-md-12 m-t-10 p-l-0 p-r-0">
                            <div class="col-md-1">
                                <label class="control-label">Glosa:</label>
                            </div>
                            <div class="col-md-11">
                                <input v-model="filtro.glosa"
                                       @*@@input="list.ventas[indexVenta].ApellidoPaterno = $filterLettersToName(list.ventas[indexVenta].ApellidoPaterno)"*@
                                       @*@@keydown.13.prevent="recorrido(1)"*@
                                       @*@@keydown.9.prevent="recorrido(1)"*@
                                       id="txtGlosaNC"
                                       ref="refGlosaNC"
                                       class="form-control input-sm"
                                       placeholder="GLOSA"
                                       @*maxlength="10" NO SE SABE CON EXACTITUD*@
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @*@@click="cerrarNotaCredito()"*@
                        v-show="list.documentosSeleccionados.length > 0"
                        class="btn btn-danger waves-effect pull-left">
                    <span class="glyphicon glyphicon-ban-circle fa-fw"></span>Anular
                </button>
                <button @*@@click="cerrarNotaCredito()"*@
                        v-show="list.documentosSeleccionados.length > 0"
                        class="btn btn-success waves-effect">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>Generar
                </button>
                <button @*@@click="cerrarNotaCredito()"*@
                        v-show="list.documentosSeleccionados.length > 0"
                        class="btn btn-info waves-effect">
                    <span class="glyphicon glyphicon-search fa-fw"></span>Buscar
                </button>
                <button @*@@click="cerrarNotaCredito()"*@
                        v-show="list.documentosSeleccionados.length > 0"
                        class="btn btn-primary waves-effect">
                    <span class="glyphicon glyphicon-print fa-fw"></span>Impresión
                </button>
                <button @*@@click="cerrarNotaCredito()"*@
                        class="btn btn-inverse waves-effect">
                    <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>Limpiar
                </button>
            </div>
        </div>
    </div>
</div>