
<div id="appVuePaseLote" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Pase en Lote</b></h4>
            </div>
            <div class="modal-body p-10 p-t-0">
                <div class="row">
                    <div class="panel panel-default m-b-0 m-t-10" v-show="true">
                        <div class="panel-heading p-0">
                            <div class="font-12 p-t-0 p-b-0">
                                <div class="" style="display:inline;">FILTROS DE ORIGEN</div>
                                <div class="" style="display:inline;">
                                    <p-check color="#7575FF">Primary</p-check>
                                </div>
                                <div class="p-l-30" style="display:inline;" v-if="list.destinosRutaOri.length > 0">
                                    <div v-for="(item, key) in list.destinosRutaOri" style="margin-right: 7px; display: inline-block;">

                                        @*<span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                        <label>{{item.Sigla}}</label>*@

                                        <div class="checkbox checkbox-circle" style="display: inline-block;" :style="{'color': item.Color}">
                                            <input :id="'chckOrigen' + key" type="checkbox" class="check-with-label">
                                            <label :for="'chckOrigen' + key" class="label-for-check">{{item.Sigla}}</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-action">
                                    <a @@click="" ref="refCollapseOrigen" class="btn btn-default btn-sm" href="javascript:void(0);" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="CollapseOrigen" class="panel-wrapper collapse in a-transition" aria-expanded="true">
                            <div class="panel-body p-0">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <div class="col-md-11 p-0">
                                            <div class="col-md-8 p-0">
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Origen:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiOrigen1"
                                                                  :options="list.rutas"
                                                                  :placeholder="'ORIGEN'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEDestino1.$el.querySelector('input').focus()"
                                                                  ref="refLOTEOrigen1">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Destino:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiDestino1"
                                                                  :options="list.rutasAll"
                                                                  :placeholder="'DESTINO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEServicio1.$el.querySelector('input').focus()"
                                                                  ref="refLOTEDestino1">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Servicio:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiServicio1"
                                                                  :options="list.servicios"
                                                                  :placeholder="'SERVICIO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEFechaIt1.focus()"
                                                                  ref="refLOTEServicio1">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-6 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Fecha:</label>
                                                <div class="">
                                                    <input v-model="filtroOrigen.FechaViaje"
                                                           class="form-control input-sm dpFiltro"
                                                           placeholder="DD/MM/YYYY"
                                                           v-mask="'##/##/####'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refLOTEHoraIt1.focus()"
                                                           @@blur="filtroOrigen.FechaViaje = $getValueDateTimePicker($event)"
                                                           autocomplete="off"
                                                           ref="refLOTEFechaIt1" />
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-xs-6 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Hora:</label>
                                                <div class="">
                                                    <input v-model="filtroOrigen.Hora"
                                                           class="form-control input-sm dph"
                                                           placeholder="HH:MM AM"
                                                           v-mask="'##:## AM'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refLOTEBuscar1.focus()"
                                                           @@blur="filtroOrigen.Hora = $event.target.value"
                                                           autocomplete="off"
                                                           ref="refLOTEHoraIt1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 separate-in-form text-center">
                                            <label class="full-width">&nbsp;</label>
                                            <button @@click="searchProgramacion(1)"
                                                    class="btn btn-primary btn-block-custom waves-effect waves-light"
                                                    ref="refLOTEBuscar1">
                                                <span class="fa fa-search fa-fw"></span>Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <div class="custom-scroll-container">
                                            <div class="table-responsive m-b-0" style="background-color: #616e7e;">
                                                <table id="tblProgramacionPLoteOri" class="table table-hover tbl-mini-row" style="cursor:default; background-color:white;">
                                                    <thead>
                                                        <tr>
                                                            <th class="custom-th" width="%">Estado</th>
                                                            <th class="custom-th" width="%">N° VIAJE</th>
                                                            <th class="custom-th" width="%">EMPRESA</th>
                                                            <th class="custom-th" width="%">SALIDA BUS</th>
                                                            <th class="custom-th" width="%">ORIGEN PAS.</th>
                                                            <th class="custom-th" width="%">DESTINO BUS</th>
                                                            <th class="custom-th" width="%">SERVICIO</th>
                                                            <th class="custom-th" width="%">HORA</th>
                                                            <th class="custom-th" width="%">BUS</th>
                                                            <th class="custom-th" width="%">PLACA</th>
                                                            <th class="custom-th" width="%">T.A.</th>
                                                            <th class="custom-th" width="%">C.B.</th>
                                                            <th class="custom-th" width="%">N°PRG</th>
                                                            <th class="custom-th" width="%">TURNO</th>
                                                            <th class="custom-th" width="%">COD. PUNTO VENTA</th>
                                                            <th class="custom-th" width="%">COD. EMP.</th>
                                                            <th class="custom-th" width="%">COD. DEST. BUS</th>
                                                            <th class="custom-th" width="%">COD. SERV.</th>
                                                            <th class="custom-th" width="%">FECHA PROG.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <paginate ref="paginator1" name="items" :list="list.itinerarios1" :per="5">
                                                            <tr v-for="(item, key) in paginated('items')" @@dblclick="dbClickProgramacion(item, 1)">
                                                                <td :tabindex="(key * 19) + 1" class="custom-td">
                                                                    <template v-if="item.Color === '#FFFFFF'">
                                                                        <span class="mdi mdi-checkbox-blank-circle-outline" style="color:#DDDDDD"></span>
                                                                    </template>
                                                                    <template v-else>
                                                                        <span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                                                    </template>
                                                                    <span v-if="item.SecondColor" class="mdi mdi-checkbox-blank-circle" :style="{color: item.SecondColor}"></span>
                                                                </td>
                                                                <td :tabindex="(key * 19) + 2" class="custom-td">{{item.NroViaje | concatZero(6)}}</td>
                                                                <td :tabindex="(key * 19) + 3" class="custom-td">{{item.RazonSocial}}</td>
                                                                <td :tabindex="(key * 19) + 4" class="custom-td">{{item.NomSucursal}}</td>
                                                                <td :tabindex="(key * 19) + 5" class="custom-td">{{item.NomOrigen}}</td>
                                                                <td :tabindex="(key * 19) + 6" class="custom-td">{{item.NomRuta}}</td>
                                                                <td :tabindex="(key * 19) + 7" class="custom-td">{{item.NomServicio}}</td>
                                                                <td :tabindex="(key * 19) + 8" class="custom-td">{{item.HoraPartida}}</td>
                                                                <td :tabindex="(key * 19) + 9" class="custom-td">{{item.CodiBus}}</td>
                                                                <td :tabindex="(key * 19) + 10" class="custom-td">{{item.PlacaBus}}</td>
                                                                <td :tabindex="(key * 19) + 11" class="custom-td">{{item.AsientosVendidos}}</td>
                                                                <td :tabindex="(key * 19) + 12" class="custom-td">{{item.CapacidadBus}}</td>
                                                                <td :tabindex="(key * 19) + 13" class="custom-td">{{item.CodiProgramacion | formatCodiProgramacion}}</td>
                                                                <td :tabindex="(key * 19) + 14" class="custom-td">{{item.HoraProgramacion}}</td>
                                                                <td :tabindex="(key * 19) + 15" class="custom-td">{{item.CodiPuntoVenta | concatZero(3)}}</td>
                                                                <td :tabindex="(key * 19) + 16" class="custom-td">{{item.CodiEmpresa | concatZero(2)}}</td>
                                                                <td :tabindex="(key * 19) + 17" class="custom-td">{{item.CodiRuta | concatZero(3)}}</td>
                                                                <td :tabindex="(key * 19) + 18" class="custom-td">{{item.CodiServicio | concatZero(2)}}</td>
                                                                <td :tabindex="(key * 19) + 19" class="custom-td">{{item.FechaProgramacion}}</td>
                                                            </tr>
                                                        </paginate>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <center>
                                            <paginate-links for="items" :async="true" :classes="{'ul': 'pagination'}" @@change="setTd1"></paginate-links>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="list.tempListOri.length > 0">
                    <div class="container-bus bgc-emp">
                        <div class="img-bus">
                            <img height="210" src="~/wwwroot/plugins/images/users/cabecera-bus.png" />
                        </div>
                        <div class="table-responsive form-bus" style="display:table;">

                            <table id="tblLista" class="table table-bus mini-bus">
                                <tbody>
                                    <tr>
                                        <td v-for="(item, key) in list.plano1_Ori"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainUp' : item.IDS}"
                                                        :draggable="OrigenDraggable(item)"
                                                        @@dragstart="onDragstart(item)"
                                                        :style="[item.NumeAsiento ? {'background-color': item.Color} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano2_Ori"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainUp' : item.IDS}"
                                                        :draggable="OrigenDraggable(item)"
                                                        @@dragstart="onDragstart(item)"
                                                        :style="[item.NumeAsiento ? {'background-color': item.Color} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano3_Ori"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainUp' : item.IDS}"
                                                        :draggable="OrigenDraggable(item)"
                                                        @@dragstart="onDragstart(item)"
                                                        :style="[item.NumeAsiento ? {'background-color': item.Color} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano4_Ori"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainUp' : item.IDS}"
                                                        :draggable="OrigenDraggable(item)"
                                                        @@dragstart="onDragstart(item)"
                                                        :style="[item.NumeAsiento ? {'background-color': item.Color} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano5_Ori"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainUp' : item.IDS}"
                                                        :draggable="OrigenDraggable(item)"
                                                        @@dragstart="onDragstart(item)"
                                                        :style="[item.NumeAsiento ? {'background-color': item.Color} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default m-b-0 m-t-10" v-show="true">
                        <div class="panel-heading p-0">
                            <div class="font-12 p-t-0 p-b-0">
                                <div class="" style="display:inline;">FILTROS DE DESTINO</div>
                                <div class="p-l-30" style="display:inline;" v-if="list.destinosRutaDes.length > 0">
                                    <div v-for="item in list.destinosRutaDes" style="margin-right: 7px;display: inline-block;">
                                        <span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                        <label>{{item.Sigla}}</label>
                                    </div>
                                </div>                                
                                <div class="panel-action">
                                    <a @@click="" ref="refCollapseDestino" class="btn btn-default btn-sm" href="javascript:void(0);" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="CollapseDestino" class="panel-wrapper collapse in a-transition" aria-expanded="true">
                            <div class="panel-body p-0">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <div class="col-md-11 p-0">
                                            <div class="col-md-8 p-0">
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Origen:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiOrigen2"
                                                                  :options="list.rutas"
                                                                  :placeholder="'ORIGEN'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEDestino2.$el.querySelector('input').focus()"
                                                                  ref="refLOTEOrigen2">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Destino:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiDestino2"
                                                                  :options="list.rutasAll"
                                                                  :placeholder="'DESTINO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEServicio2.$el.querySelector('input').focus()"
                                                                  ref="refLOTEDestino2">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Servicio:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiServicio2"
                                                                  :options="list.servicios"
                                                                  :placeholder="'SERVICIO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refLOTEFechaIt2.focus()"
                                                                  ref="refLOTEServicio2">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Fecha:</label>
                                                <div class="">
                                                    <input v-model="filtroDestino.FechaViaje"
                                                           class="form-control input-sm dpFiltro"
                                                           placeholder="DD/MM/YYYY"
                                                           v-mask="'##/##/####'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refLOTEHoraIt2.focus()"
                                                           @@blur="filtroDestino.FechaViaje = $getValueDateTimePicker($event)"
                                                           autocomplete="off"
                                                           ref="refLOTEFechaIt2" />
                                                </div>
                                            </div>
                                            <div class="col-md-2 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Hora:</label>
                                                <div class="">
                                                    <input v-model="filtroDestino.Hora"
                                                           class="form-control input-sm dph"
                                                           placeholder="HH:MM AM"
                                                           v-mask="'##:## AM'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refLOTEBuscar2.focus()"
                                                           @@blur="filtroDestino.Hora = $event.target.value"
                                                           autocomplete="off"
                                                           ref="refLOTEHoraIt2" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 separate-in-form text-center">
                                            <label class="full-width">&nbsp;</label>
                                            <button @@click="searchProgramacion(2)"
                                                    class="btn btn-primary btn-block-custom waves-effect waves-light"
                                                    ref="refLOTEBuscar2">
                                                <span class="fa fa-search fa-fw"></span>Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <div class="custom-scroll-container">
                                            <div class="table-responsive m-b-0" style="background-color: #616e7e;">
                                                <table id="tblProgramacionPLoteDes" class="table table-hover tbl-mini-row" style="cursor:default;background-color:white;">
                                                    <thead>
                                                        <tr>
                                                            <th class="custom-th" width="%">Estado</th>
                                                            <th class="custom-th" width="%">N° VIAJE</th>
                                                            <th class="custom-th" width="%">EMPRESA</th>
                                                            <th class="custom-th" width="%">SALIDA BUS</th>
                                                            <th class="custom-th" width="%">ORIGEN PAS.</th>
                                                            <th class="custom-th" width="%">DESTINO BUS</th>
                                                            <th class="custom-th" width="%">SERVICIO</th>
                                                            <th class="custom-th" width="%">HORA</th>
                                                            <th class="custom-th" width="%">BUS</th>
                                                            <th class="custom-th" width="%">PLACA</th>
                                                            <th class="custom-th" width="%">T.A.</th>
                                                            <th class="custom-th" width="%">C.B.</th>
                                                            <th class="custom-th" width="%">N°PRG</th>
                                                            <th class="custom-th" width="%">TURNO</th>
                                                            <th class="custom-th" width="%">COD. PUNTO VENTA</th>
                                                            <th class="custom-th" width="%">COD. EMP.</th>
                                                            <th class="custom-th" width="%">COD. DEST. BUS</th>
                                                            <th class="custom-th" width="%">COD. SERV.</th>
                                                            <th class="custom-th" width="%">FECHA PROG.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <paginate ref="paginator2" name="items2" :list="list.itinerarios2" :per="5">
                                                            <tr v-for="(item, key) in paginated('items2')" @@dblclick="dbClickProgramacion(item, 2)">
                                                                <td :tabindex="(key * 19) + 1" class="custom-td">
                                                                    <template v-if="item.Color === '#FFFFFF'">
                                                                        <span class="mdi mdi-checkbox-blank-circle-outline" style="color:#DDDDDD"></span>
                                                                    </template>
                                                                    <template v-else>
                                                                        <span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                                                    </template>
                                                                    <span v-if="item.SecondColor" class="mdi mdi-checkbox-blank-circle" :style="{color: item.SecondColor}"></span>
                                                                </td>
                                                                <td :tabindex="(key * 19) + 2" class="custom-td">{{item.NroViaje | concatZero(6)}}</td>
                                                                <td :tabindex="(key * 19) + 3" class="custom-td">{{item.RazonSocial}}</td>
                                                                <td :tabindex="(key * 19) + 4" class="custom-td">{{item.NomSucursal}}</td>
                                                                <td :tabindex="(key * 19) + 5" class="custom-td">{{item.NomOrigen}}</td>
                                                                <td :tabindex="(key * 19) + 6" class="custom-td">{{item.NomRuta}}</td>
                                                                <td :tabindex="(key * 19) + 7" class="custom-td">{{item.NomServicio}}</td>
                                                                <td :tabindex="(key * 19) + 8" class="custom-td">{{item.HoraPartida}}</td>
                                                                <td :tabindex="(key * 19) + 9" class="custom-td">{{item.CodiBus}}</td>
                                                                <td :tabindex="(key * 19) + 10" class="custom-td">{{item.PlacaBus}}</td>
                                                                <td :tabindex="(key * 19) + 11" class="custom-td">{{item.AsientosVendidos}}</td>
                                                                <td :tabindex="(key * 19) + 12" class="custom-td">{{item.CapacidadBus}}</td>
                                                                <td :tabindex="(key * 19) + 13" class="custom-td">{{item.CodiProgramacion | formatCodiProgramacion}}</td>
                                                                <td :tabindex="(key * 19) + 14" class="custom-td">{{item.HoraProgramacion}}</td>
                                                                <td :tabindex="(key * 19) + 15" class="custom-td">{{item.CodiPuntoVenta | concatZero(3)}}</td>
                                                                <td :tabindex="(key * 19) + 16" class="custom-td">{{item.CodiEmpresa | concatZero(2)}}</td>
                                                                <td :tabindex="(key * 19) + 17" class="custom-td">{{item.CodiRuta | concatZero(3)}}</td>
                                                                <td :tabindex="(key * 19) + 18" class="custom-td">{{item.CodiServicio | concatZero(2)}}</td>
                                                                <td :tabindex="(key * 19) + 19" class="custom-td">{{item.FechaProgramacion}}</td>
                                                            </tr>
                                                        </paginate>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <center>
                                            <paginate-links for="items2" :async="true" :classes="{'ul': 'pagination'}" @@change="setTd2"></paginate-links>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="list.tempListDes.length > 0">
                    <div class="container-bus bgc-emp">
                        <div class="img-bus">
                            <img height="210" src="~/wwwroot/plugins/images/users/cabecera-bus.png" />
                        </div>
                        <div class="table-responsive form-bus" style="display:table;">

                            <table id="tblLista" class="table table-bus mini-bus">
                                <tbody>
                                    <tr>
                                        <td v-for="(item, key) in list.plano1_Des"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainDown' : item.IDS}"
                                                        @@dragover.prevent
                                                        @@drop="onDrop($event, item)"
                                                        :style="[item.NumeAsiento ? {'background-color': (item.Color) ? item.Color : $colorBloqueoInterno} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano2_Des"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainDown' : item.IDS}"
                                                        @@dragover.prevent
                                                        @@drop="onDrop($event, item)"
                                                        :style="[item.NumeAsiento ? {'background-color': (item.Color) ? item.Color : $colorBloqueoInterno} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano3_Des"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainDown' : item.IDS}"
                                                        @@dragover.prevent
                                                        @@drop="onDrop($event, item)"
                                                        :style="[item.NumeAsiento ? {'background-color': (item.Color) ? item.Color : $colorBloqueoInterno} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano4_Des"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainDown' : item.IDS}"
                                                        @@dragover.prevent
                                                        @@drop="onDrop($event, item)"
                                                        :style="[item.NumeAsiento ? {'background-color': (item.Color) ? item.Color : $colorBloqueoInterno} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano5_Des"
                                            class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus"
                                                        :class="{'rainDown' : item.IDS}"
                                                        @@dragover.prevent
                                                        @@drop="onDrop($event, item)"
                                                        :style="[item.NumeAsiento ? {'background-color': (item.Color) ? item.Color : $colorBloqueoInterno} : {'background-color': ''}]"
                                                        :title="(item.NumeAsiento ? $getFormatName(item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno) : 'PRECIO NORMAL: ' + item.PrecioNormal)">
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-t-0">
                <button class="btn btn-success waves-effect m-t-10"
                        @@click="close"
                        ref="refBtnProccesingLoteSelect">
                    <span class="fa fa-refresh fa-fw"></span>Procesar Seleccionados
                </button>
                <button id="btnProccesingLote"
                        class="btn btn-primary waves-effect m-t-10"
                        @@click="confirm"
                        :disabled="!(list.tempListOri.length > 0 || list.tempListDes.length > 0)"
                        ref="refBtnProccesingLote">
                    <span class="fa fa-save fa-fw"></span>Grabar
                </button>
                <template v-if="!processingLote">
                    <button id="btnProccesingLote"
                            class="btn btn-info waves-effect m-t-10"
                            @@click="procesarEnLote"
                            :disabled="!(list.tempListOri.length > 0 || list.tempListDes.length > 0)"
                            ref="refBtnProccesingLote">
                        <span class="fa fa-refresh fa-fw"></span>Procesar en Lote
                    </button>
                </template>
                <template v-else>
                    <button id="btnProccesingLote"
                            class="btn btn-warning waves-effect m-t-10"
                            @@click="restaurarLote"
                            :disabled="!(list.tempListOri.length > 0 || list.tempListDes.length > 0)"
                            ref="refBtnProccesingLote">
                        <span class="fa fa-refresh fa-fw"></span>Restaurar
                    </button>
                </template>
                <template v-if="rainEfect">
                    <button id="btnNoProccesingLote"
                            class="btn btn-warning waves-effect m-t-10"
                            @@click="stopPrevisualizar"
                            :disabled="!(list.tempListOri.length > 0 || list.tempListDes.length > 0)"
                            ref="refBtnNoPrevisualizar">
                        <span class="fa fa-eye-slash fa-fw"></span>Detener Previsualización
                    </button>
                </template>
                <template v-else>
                    <button id="btnProccesingLote"
                            class="btn btn-success waves-effect m-t-10"
                            @@click="previsualizar"
                            :disabled="!(list.tempListOri.length > 0 || list.tempListDes.length > 0)"
                            ref="refBtnPrevisualizar">
                        <span class="fa fa-eye fa-fw"></span>Previsualizar
                    </button>
                </template>
                <button @@click="close" class="btn btn-inverse waves-effect waves-light m-t-10">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
