<div id="appVuePaseCortesia" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 500px; top:50%; transform: translateY(-50%)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="cancelarPaseCortesia">&times;</button>
                <h4 class="modal-title"><b>Datos del Beneficiario del Pase</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Gerente:</label>
                            <div class="col-md-10">
                                <v-select v-model="gerente"
                                          id="cboGerentePC"
                                          label="label"
                                          placeholder="GERENTE"
                                          :options="list.gerentes"
                                          :select-on-tab="true"
                                          @@keydown.13.native.prevent="recorridoPaseCortesia"
                                          @@keydown.9.native.prevent="recorridoPaseCortesia">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Solicitante:</label>
                            <div class="col-md-10">
                                <v-select v-model="solicitante"
                                          id="cboSolicitantePC"
                                          label="label"
                                          placeholder="SOLICITANTE"
                                          :options="list.solicitantes"
                                          :select-on-tab="true"
                                          @@keydown.13.native.prevent="fillBeneficiario(solicitante)"
                                          @@keydown.9.native.prevent="fillBeneficiario(solicitante)"
                                          ref="refSolicitantePC">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="fillBeneficiario(solicitante)">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Concepto:</label>
                            <div class="col-md-10">
                                <input v-model="concepto"
                                       id="txtConceptoPC"
                                       class="form-control input-sm"
                                       type="text"
                                       name="Concepto"
                                       placeholder="CONCEPTO"
                                       @@keypress.13.prevent="recorridoPaseCortesia"
                                       @@keydown.9.native.prevent="recorridoPaseCortesia"
                                       v-validate="'required'"
                                       autocomplete="off" />
                            </div>
                            <span v-show="errors.has('Concepto')" class="text-danger m-l-15" style="display: inline-block; margin-top: 5px; ">{{ errors.first('Concepto') }}</span>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Beneficiario:</label>
                            <div class="col-md-10">
                                <input v-model="searchInTable"
                                       id="txtBeneficiarioPC"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="BENEFICIARIO"
                                       @@keypress.13.prevent="recorridoPaseCortesia"
                                       @@keydown.9.native.prevent="recorridoPaseCortesia"
                                       autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="custom-scroll-container">
                            <div class="table-responsive" style="background-color: #616e7e;">
                                <table id="tblLista" class="table table-hover" style="cursor:default;background-color:white;">
                                    <thead>
                                        <tr>
                                            <th style="padding: 4px 10px 4px 10px;" class="custom-th" width="%">Nombre</th>
                                            <th style="padding: 4px 10px 4px 10px;" class="custom-th" width="%">Documento</th>
                                            <th style="padding: 4px 10px 4px 10px;" class="custom-th" width="%">N° Documento</th>
                                            <th style="padding: 4px 10px 4px 10px;" class="custom-th" width="%">Sexo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <paginate ref="paginatorPC" name="items" :list="list.filterBeneficiarios" :per="3">
                                            <tr v-for="item in paginated('items')" @@dblclick="sendRow(item)">
                                                <td class="custom-td">{{item.NombreBeneficiario | formatNombre}}</td>
                                                <td class="custom-td">{{item.Documento}}</td>
                                                <td class="custom-td">{{item.NumeroDocumento}}</td>
                                                <td class="custom-td">{{item.Sexo}}</td>
                                            </tr>
                                        </paginate>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <center>
                            <paginate-links for="items" :async="true" :classes="{'ul': 'pagination'}"></paginate-links>
                        </center>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-4 separate-in-form">
                            <div class="col-md-12">
                                <label class="col-md-12 control-label label-sm" style="text-align:left !important">Boletos Libres:</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control input-sm" type="text" min="0" :value="boletosLibres" disabled="disabled" style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                            </div>
                        </div>
                        <div class="col-md-4 separate-in-form">
                            <div class="col-md-12">
                                <label class="col-md-12 control-label label-sm" style="text-align:left !important">Boletos con Precio:</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control input-sm" type="number" min="0" v-model="boletosByPrecio" disabled="disabled" style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                            </div>
                        </div>
                        <div class="col-md-4 separate-in-form">
                            <div class="col-md-12">
                                <label class="col-md-12 control-label label-sm" style="text-align:left !important">Total Boletos:</label>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control input-sm" type="number" min="0" v-model="totalBoletos" disabled="disabled" style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="cancelarPaseCortesia" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>