<div id="appVuePostergacion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 500px; top:50%; transform: translateY(-50%)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Buscar Pasajero</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-0">
                        <div class="col-md-12 separate-in-form">
                            <label class="col-md-2 control-label label-sm" style="text-align: left; ">Empresa:</label>
                            <div class="col-md-10">
                                <v-select v-model="filtro.empresa"
                                          id="cboEmpresaPos"
                                          placeholder="EMPRESA"
                                          @@keydown.13.native.prevent="$refs.refSeriePos.focus()"
                                          @*@@keypress.9.native.prevent="$refs.refSeriePos.focus()"*@
                                          :options="list.empresas"
                                          :select-on-tab="true"
                                          ref="refEmpresaPos"
                                          label="label">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="$refs.refSeriePos.focus()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                        <div class="col-md-12 separate-in-form">
                            <div class="col-md-2">
                                <label class="control-label label-sm" for="txtSeriePos">Serie:</label>
                                <input v-model="filtro.serie"
                                       id="txtSeriePos"
                                       class="form-control input-sm"
                                       placeholder="0000"
                                       ref="refSeriePos"
                                       @@keypress.13.prevent="recorrido"
                                       @*@@keydown.9.prevent="recorrido"*@
                                       @@focus="$event.target.select()"
                                       @@blur="blurSerie"
                                       v-mask="'N'.repeat(4)"
                                       autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label label-sm" for="txtNumeroPos">Número:</label>
                                <input v-model="filtro.documento"
                                       id="txtNumeroPos"
                                       class="form-control input-sm"
                                       placeholder="0000000"
                                       ref="refNumeroPos"
                                       @@keypress.13.prevent="searchPasajero"
                                       @*@@keydown.9.prevent="recorrido"*@
                                       @@focus="$event.target.select()"
                                       @@blur="blurNumero"
                                       v-mask="'#'.repeat(7)"
                                       autocomplete="off" />
                            </div>
                            <div class="col-md-7">
                                <label class="col-md-12 control-label label-sm">&nbsp;</label>
                                <div class="col-md-12">
                                    <input type="radio" id="radCambioHorario" value="0" v-model="TipoPostergacion">
                                    <label for="radCambioHorario"
                                           class="lblBoletoTipoDir"
                                           title="Cambio de horario">
                                        Ctrl + F4
                                    </label>
                                    <input type="radio" id="radPostergacion" value="1" v-model="TipoPostergacion">
                                    <label for="radPostergacion"
                                           class="lblBoletoTipoDir"
                                           title="Postergación">
                                        F11
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 separate-in-form" style="text-align: right; ">
                            <button @@click="searchPasajero" :disabled="!filledCampos || postClick" id="btnBuscarPos" class="btn btn-primary waves-effect">
                                <span class="fa fa-search fa-fw"></span>Buscar
                            </button>
                        </div>
                    </div>
                    <template v-if="showBeneficiario">
                        <div class="form-group m-b-0">
                            <div class="col-md-12 separate-in-form">
                                <label class="control-label label-sm">Nombres</label>
                                <input :value="objBeneficiario.Nombre" class="form-control input-sm" disabled="disabled"/>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Apellido Paterno</label>
                                    <input :value="objBeneficiario.ApellidoPaterno" class="form-control input-sm" disabled="disabled" />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Apellido Materno</label>
                                    <input :value="objBeneficiario.ApellidoMaterno" class="form-control input-sm" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Origen</label>
                                    <input :value="objBeneficiario.CodiOrigen | rutas" class="form-control input-sm" disabled="disabled" />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Destino</label>
                                    <input :value="objBeneficiario.CodiDestino | rutas" class="form-control input-sm" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-9">
                                    <label class="control-label label-sm">Servicio</label>
                                    <input :value="objBeneficiario.CodiServicio | servicios" class="form-control input-sm" disabled="disabled" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label label-sm">Asiento</label>
                                    <input :value="String(objBeneficiario.NumeAsiento).padStart(2, '0')" class="form-control input-sm text-right" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Fecha de viaje</label>
                                    <input :value="objBeneficiario.FechaViaje" class="form-control input-sm text-right" disabled="disabled" />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label label-sm">Hora de viaje</label>
                                    <input :value="objBeneficiario.HoraViaje" class="form-control input-sm text-right" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="asignBeneficiario" id="btnAsignarPos" :disabled="!filledCampos || postClick" class="btn btn-info waves-effect waves-light">
                    <span class="fa fa-save fa-fw"></span>Asignar
                </button>
                <button @@click="close" class="btn btn-inverse waves-effect">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
