<div id="appVuePostergacion" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px; top:50%; transform: translateY(-50%)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" @@click="">&times;</button>
                <h4 class="modal-title"><b>Buscar Pasajero</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-12 separate-in-form">
                            <label class="col-md-2 control-label label-sm">Empresa:</label>
                            <div class="col-md-10">
                                <v-select v-model="filtro.empresa"
                                          @@keydown.13.native.prevent="$refs.refSeriePos.focus()"
                                          @@keypress.9.prevent="$refs.refSeriePos.focus()"
                                          :options="list.empresas"
                                          :placeholder="'EMPRESA'"
                                          :select-on-tab="true"
                                          :id="'cboEmpresaPos'"
                                          ref="refEmpresaPos"
                                          label="label">
                                    <template slot="option" slot-scope="option">
                                        <div @@click="$refs.refSeriePos.focus()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                        <div class="col-md-12 separate-in-form">
                            <div class="col-md-3">
                                <label class="control-label label-sm" for="txtSeriePos">Serie:</label>
                                <input v-model="filtro.serie"
                                       @@keypress.13.prevent="$refs.refNumeroPos.focus()"
                                       id="txtSeriePos"
                                       ref="refSeriePos"
                                       class="form-control input-sm"
                                       placeholder="0000">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label label-sm" for="txtNumeroPos">Número:</label>
                                <input v-model="filtro.documento"
                                       @@keypress.13.prevent="recorrido"
                                       id="txtNumeroPos"
                                       ref="refNumeroPos"
                                       class="form-control input-sm"
                                       placeholder="00000000">
                            </div>
                            <div class="col-md-3">
                                <label style="width: 100%">&nbsp;</label>
                                <button @@click="" class="btn btn-primary waves-effect waves-light">
                                    <span class="fa fa-search fa-fw"></span>Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="" :disabled="!filledCampos" class="btn btn-info waves-effect waves-light text-left">
                    <span class="fa fa-save fa-fw"></span>Asignar
                </button>
                <button @@click="" data-dismiss="modal" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
