
<div id="appRegistrarInfante" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px; top:10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Datos del Acompañante</b></h4>
            </div>
            <div class="modal-body">
                <h5 style="font-family:Rubik, sans-serif; margin-top: 0px; margin-bottom: 15px; ">
                    Los niños acompañantes no pueden ser mayores a los 5 años, caso contrario deben comprar un
                    propio pasaje o tener la autorizacion de una administrador.
                </h5>
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Documento:</label>
                            <div class="col-md-10">
                                <v-select v-model="CodiTipoDoc"
                                          :id="'cboTipoDocRA'"
                                          label="label"
                                          :options="list.tipoDoc"
                                          :placeholder="'DOCUMENTO'"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Número:</label>
                            <div class="col-md-10">
                                <input :value="Documento.toUpperCase()"
                                       @@input="Documento = $event.target.value.toUpperCase()"
                                       id="txtDocumentoRA"
                                       type="text"
                                       @@keypress.13.prevent="recorridoSectionParentesco"
                                       class="form-control input-sm"
                                       placeholder="NÚMERO"
                                       autocomplete="off"
                                       v-mask="mask.documento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Nombres:</label>
                            <div class="col-md-10">
                                <input v-model="Nombres"
                                       @@keypress.13.prevent="recorridoSectionParentesco"
                                       id="txtNombresRA"
                                       type="text"
                                       maxlength="50"
                                       class="form-control input-sm"
                                       placeholder="NOMBRES"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-6">
                            <label class="col-md-12 control-label label-sm">A. Paterno:</label>
                            <div class="col-md-12">
                                <input v-model="ApellidoPaterno"
                                       @@keypress.13.prevent="recorridoSectionParentesco"
                                       id="txtApellidoPaternoRA"
                                       type="text"
                                       maxlength="25"
                                       class="form-control input-sm"
                                       placeholder="APELLIDO PATERNO"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12 control-label label-sm">A. Materno:</label>
                            <div class="col-md-12">
                                <input v-model="ApellidoMaterno"
                                       @@keypress.13.prevent="recorridoSectionParentesco"
                                       id="txtApellidoMaternoRA"
                                       type="text"
                                       maxlength="25"
                                       class="form-control input-sm"
                                       placeholder="APELLIDO MATERNO"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-5">
                            <label class="col-md-12 label-sm">Fec. Nacimiento:</label>
                            <div class="col-md-12">
                                <input @@blur="setDateAndCalcYears($event.target.value.trim())"
                                       v-model="FechaNac"
                                       type="text"
                                       id="txtFechaNacRA"
                                       class="form-control input-sm dpyearnino"
                                       placeholder="FECHA NAC."
                                       autocomplete="off"
                                       v-mask="'##/##/####'">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-12 label-sm">Edad:</label>
                            <div class="col-md-12">
                                <input :value="Edad"
                                       type="text"
                                       id="txtEdadRA"
                                       class="form-control input-sm"
                                       placeholder="EDAD"
                                       style="text-align: center; "
                                       readonly="readonly"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-12 label-sm">Sexo:</label>
                            <div class="col-md-12">
                                <v-select v-model="Sexo"
                                          :id="'cboSexoRA'"
                                          label="label"
                                          :options="list.sexos"
                                          :placeholder="'SEXO'"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Parentesco:</label>
                            <div class="col-md-10">
                                <v-select v-model="Parentesco"
                                          :id="'cboParentescoRA'"
                                          label="label"
                                          :options="list.parentesco"
                                          :placeholder="'PARENTESCO'"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"
                        @@click="eliminarAcompaniante"
                        :disabled="disabledBotones"
                        class="btn btn-danger waves-effect text-left"
                        style="float: left; ">
                    <span class="glyphicon glyphicon-remove fa-fw" style="top: 2px; "></span>Eliminar
                </button>
                <button id="btnIngresarConClave"
                        @@click="showRegistrarWithClave"
                        class="btn btn-info waves-effect text-left"
                        v-show="Edad > 5">
                    <span class="fa fa-save fa-fw"></span>Ingresar con Clave
                </button>
                <button id="btnRegistrarAconpaniante"
                        @@click="saveAcompaniante"
                        @@keypress.13.native.prevent="saveAcompaniante"
                        :disabled="!filledCampos || disabledBotones"
                        class="btn btn-primary waves-effect text-left">
                    <span class="fa fa-save fa-fw"></span>Aceptar
                </button>
                <button data-dismiss="modal"
                        class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
