<div id="appVueRegistrarInfante" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 500px; top:10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Datos del Acompa&ntilde;ante</b></h4>
            </div>
            <div class="modal-body">
                <h5 style="font-family:Rubik, sans-serif; margin-top: 0px; margin-bottom: 15px; ">
                    Los niños acompa&ntilde;antes no pueden ser mayores a los 5 a&ntilde;os, caso contrario deben comprar un
                    propio pasaje o tener la autorizacion de una administrador.
                </h5>
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Documento:</label>
                            <div class="col-md-10">
                                <v-select id="cboTipoDocRA"
                                          placeholder="DOCUMENTO"
                                          label="label"
                                          v-model="CodiTipoDoc"
                                          :options="list.tipoDoc"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco()"
                                          @*@@keydown.9.native.prevent="recorridoSectionParentesco()"*@>
                                    <template slot="option" slot-scope="option">
                                        <div @@click="recorridoSectionParentesco()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Número:</label>
                            <div class="col-md-10">
                                <input id="txtDocumentoRA"
                                       class="form-control input-sm"
                                       name="Número"
                                       type="text"
                                       placeholder="NÚMERO"
                                       autocomplete="off"
                                       :value="Documento.toUpperCase()"
                                       @@input="Documento = $event.target.value.toUpperCase()"
                                       @@keypress.13.prevent="recorridoSectionParentesco()"
                                       @*@@keydown.9.prevent="recorridoSectionParentesco()"*@
                                       v-mask="mask.documento"
                                       v-validate="'min: ' + validateMinNumero" />
                            </div>
                            <span v-show="errors.has('Número')" class="text-danger m-l-5" style="display: inline-block; margin-top: 5px; ">{{ errors.first('Número') }}</span>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Nombres:</label>
                            <div class="col-md-10">
                                <input id="txtNombresRA"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="NOMBRES"
                                       maxlength="50"
                                       autocomplete="off"
                                       v-model="Nombres"
                                       @@input="Nombres = $filterLettersToName(Nombres)"
                                       @@keypress.13.prevent="recorridoSectionParentesco()"
                                       @*@@keydown.9.prevent="recorridoSectionParentesco()"*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-6">
                            <label class="col-md-12 control-label label-sm">Apellido Paterno:</label>
                            <div class="col-md-12">
                                <input id="txtApellidoPaternoRA"
                                       class="form-control input-sm"
                                       type="text"
                                       maxlength="25"
                                       placeholder="APELLIDO PATERNO"
                                       v-model="ApellidoPaterno"
                                       @@input="ApellidoPaterno = $filterLettersToName(ApellidoPaterno)"
                                       @@keypress.13.prevent="recorridoSectionParentesco()"
                                       @*@@keydown.9.prevent="recorridoSectionParentesco()"*@
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12 control-label label-sm">Apellido Materno:</label>
                            <div class="col-md-12">
                                <input id="txtApellidoMaternoRA"
                                       class="form-control input-sm"
                                       type="text"
                                       maxlength="25"
                                       placeholder="APELLIDO MATERNO"
                                       v-model="ApellidoMaterno"
                                       @@input="ApellidoMaterno = $filterLettersToName(ApellidoMaterno)"
                                       @@keypress.13.prevent="recorridoSectionParentesco()"
                                       @*@@keydown.9.prevent="recorridoSectionParentesco()"*@
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-5">
                            <label class="col-md-12 label-sm">Fecha Nacimiento:</label>
                            <div class="col-md-12">
                                <input id="txtFechaNacRA"
                                       class="form-control input-sm dpNac"
                                       type="text"
                                       placeholder="FECHA NAC."
                                       v-model="FechaNac"
                                       @@focus="$event.target.select()"
                                       @@blur="setDateAndCalcYears()"
                                       autocomplete="off"
                                       v-mask="'##/##/####'">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-12 label-sm">Edad:</label>
                            <div class="col-md-12">
                                <input id="txtEdadRA"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="EDAD"
                                       disabled="disabled"
                                       :value="Edad"
                                       style="text-align: center; " />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-12 label-sm">Sexo:</label>
                            <div class="col-md-12">
                                <v-select id="cboSexoRA"
                                          placeholder="SEXO"
                                          label="label"
                                          v-model="Sexo"
                                          :options="list.sexos"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco()"
                                          @*@@keydown.9.native.prevent="recorridoSectionParentesco()"*@>
                                    <template slot="option" slot-scope="option">
                                        <div @@click="recorridoSectionParentesco()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label label-sm">Parentesco:</label>
                            <div class="col-md-10">
                                <v-select id="cboParentescoRA"
                                          placeholder="PARENTESCO"
                                          label="label"
                                          v-model="Parentesco"
                                          :options="list.parentesco"
                                          @@keydown.13.native.prevent="recorridoSectionParentesco()"
                                          @*@@keydown.9.native.prevent="recorridoSectionParentesco()"*@>
                                    <template slot="option" slot-scope="option">
                                        <div @@click="recorridoSectionParentesco()">{{ option.label }}</div>
                                    </template>
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="eliminarAcompaniante"
                        :disabled="disabledBotones"
                        class="btn btn-danger waves-effect text-left"
                        style="float: left; ">
                    <span class="glyphicon glyphicon-remove fa-fw" style="top: 2px; "></span>Eliminar
                </button>
                <button id="btnIngresarConClave"
                        @@click="showClaveAutorizacion"
                        class="btn btn-info waves-effect text-left"
                        v-show="showBtnIngresarConClave">
                    <span class="fa fa-save fa-fw"></span>Ingresar con Clave
                </button>
                <button id="btnRegistrarAconpaniante"
                        @@click="saveAcompaniante"
                        class="btn btn-primary waves-effect text-left">
                    <span class="fa fa-save fa-fw"></span>Aceptar
                </button>
                <button id="btnCancelarRA"
                        @@click="close"
                        class="btn btn-inverse waves-effect text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
