
<div id="appVueReintegro" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @@click="close">&times;</button>
                <h4 class="modal-title"><b>Cambio de boleto</b></h4>
            </div>
            <div class="modal-body p-t-0 p-b-0">
                <div class="row">
                    <div class="panel panel-default m-b-0" v-show="true">
                        <div class="panel-heading">
                            <div class="font-12" style="padding-top:7px;padding-bottom:7px;">
                                VERIFICACIÓN DEL BOLETO
                                <div class="panel-action">
                                    <a @@click="anchorVerifBoleto" ref="refREVerifBoleto" class="btn btn-default btn-sm" href="javascript:void(0);" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="VerifBoletoRE" class="panel-wrapper collapse in a-transition" aria-expanded="true">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <div class="col-md-11 p-0">
                                            <div class="col-md-3 separate-in-form">
                                                <label class="control-label label-sm">Empresa:</label>
                                                <div class="">
                                                    <v-select v-model="filtroCodiEmpresa"
                                                              :options="list.empresas"
                                                              :placeholder="'EMPRESA'"
                                                              :select-on-tab="true"
                                                              :get-option-label="getLabel"
                                                              @@keydown.13.native.prevent=""
                                                              :disabled="lockFilters"
                                                              ref="refREEmpresa">
                                                        <template slot="option" slot-scope="option">
                                                            <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                        </template>
                                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                                    </v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 separate-in-form p-b-10" style="display:flex;">
                                                <div class="m-t-20">
                                                    <div class="col-xs-4">
                                                        <input v-model="filtro.tipo"
                                                               type="radio"
                                                               id="rdoManualRE"
                                                               class="rbDescTipo"
                                                               value="M"
                                                               :disabled="lockFilters">
                                                        <label for="rdoManualRE"
                                                               class="lblDescTipo"
                                                               style="line-height: inherit; ">
                                                            Manual
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input v-model="filtro.tipo"
                                                               type="radio"
                                                               id="rdoBoletaRE"
                                                               class="rbDescTipo"
                                                               value="B"
                                                               :disabled="lockFilters">
                                                        <label for="rdoBoletaRE"
                                                               class="lblDescTipo"
                                                               style="line-height: inherit; ">
                                                            Boleta
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input v-model="filtro.tipo"
                                                               type="radio"
                                                               id="rdoFacturaRE"
                                                               class="rbDescTipo"
                                                               value="F"
                                                               :disabled="lockFilters">
                                                        <label for="rdoFacturaRE"
                                                               class="lblDescTipo"
                                                               style="line-height: inherit; ">
                                                            Factura
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-12 separate-in-form">
                                                <label class="col-xs-12 control-label label-sm" style="text-align:left;">Número:</label>
                                                <div class="col-xs-4">
                                                    <input v-model="filtro.serie"
                                                           class="form-control input-sm"
                                                           @@keypress.13.prevent="$refs.refRENumero.focus()"
                                                           @@blur="filtro.serie = ($event.target.value) ? ($event.target.value).padStart(3,0) : ''"
                                                           v-mask="'#'.repeat(4)"
                                                           :disabled="lockFilters"
                                                           ref="refRESerie" />
                                                </div>
                                                <div class="col-xs-8">
                                                    <input v-model="filtro.numero"
                                                           class="form-control input-sm"
                                                           @@keypress.13.prevent="$refs.refREMotivo.$el.querySelector('input').focus()"
                                                           @@blur="filtro.numero = ($event.target.value) ? ($event.target.value).padStart(8,0) : ''"
                                                           v-mask="'#'.repeat(8)"
                                                           :disabled="lockFilters"
                                                           ref="refRENumero" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 separate-in-form">
                                                <label class="control-label label-sm">Motivo:</label>
                                                <div class="">
                                                    <v-select v-model="filtroCodiMotivo"
                                                              :options="list.motivos"
                                                              :placeholder="'MOTIVO'"
                                                              :select-on-tab="true"
                                                              :get-option-label="getLabel"
                                                              @@keydown.13.native.prevent="$refs.refREVerificar.focus()"
                                                              :disabled="lockFilters"
                                                              ref="refREMotivo">
                                                        <template slot="option" slot-scope="option">
                                                            <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                        </template>
                                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                                    </v-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 separate-in-form text-center">
                                            <label style="width: 100%">&nbsp;</label>
                                            <button @@click="searchData"
                                                    class="btn btn-primary btn-block-custom waves-effect waves-light"
                                                    :disabled="!filtrosFilled || lockFilters"
                                                    ref="refREVerificar">
                                                <span class="fa fa-search fa-fw"></span>Verificar
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-5 bordergray" v-show="dataFilled">

                                        <div class="col-md-12 p-0">
                                            <div class="col-md-7 p-0">
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Origen Pasajero:</label>
                                                    <div class="">
                                                        <input :value="item.origenPasj | rutas"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Destino Pasajero:</label>
                                                    <div class="">
                                                        <input :value="item.destinoPasj | rutas"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Destino Bus:</label>
                                                    <div class="">
                                                        <input :value="item.destinoBus | rutas"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Servicio:</label>
                                                    <div class="">
                                                        <input :value="item.servicio | servicios"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 p-0">
                                                <div class="col-md-6 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Fecha Venta:</label>
                                                    <div class="">
                                                        <input :value="item.fechaVenta"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205); padding: 5px;"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Hora Venta:</label>
                                                    <div class="">
                                                        <input :value="item.horaVenta"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 p-0">

                                                <div class="col-md-6 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Boleto:</label>
                                                    <div class="">
                                                        <input :value="item.boleto"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(213, 255, 213);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Venta:</label>
                                                    <div class="">
                                                        <input :value="item.venta"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 p-0">
                                            <div class="col-md-8 p-0">
                                                <div class="col-md-4 p-0">
                                                    <div class="col-md-6 col-xs-6 separate-in-form">
                                                        <label class="control-label">Tipo doc.</label>
                                                        <v-select v-model="filtroTipoDoc"
                                                                  placeholder="TIPO DOC."   
                                                                  @@keydown.13.native.prevent="$refs.refRENumeroDoc.focus()"
                                                                  :options="list.tiposDoc"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="labelOfDocumento"
                                                                  name="Tipo"
                                                                  v-validate="'required'"
                                                                  :disabled="readOnlyCodiMotivo"
                                                                  ref="refRETipoDoc">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="$refs.refRENumeroDoc.focus()">{{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>

                                                    <div class="col-md-6 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Número:</label>
                                                        <div class="">
                                                            <input v-model="item.numero"
                                                                   @@input="item.numero = $event.target.value.toUpperCase()"
                                                                   class="form-control input-sm"
                                                                   :class="{'p-r-20': item.documento == '01'}"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="searchUser(); $refs.refREApePat.focus()"
                                                                   @@keydown.32.prevent="consultaReniec(); $refs.refREApePat.focus()"
                                                                   @@focus="$event.target.select()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   v-mask="(validateDocumento.TipoDatoDocumento || '').repeat(parseInt(validateDocumento.MaxLonDocumento || 0))"
                                                                   ref="refRENumeroDoc"/>
                                                            <span v-if="item.documento == '01'"
                                                                  @@click="consultaReniec"
                                                                  class="fa fa-cloud field-icon fa-fw"
                                                                  title="Consultar a RENIEC"
                                                                  :disabled="readOnlyCodiMotivo"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 p-0">
                                                    <div class="col-md-4 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Apellido Paterno:</label>
                                                        <div class="">
                                                            <input v-model="item.apellidoPaterno"
                                                                   @@input="item.apellidoPaterno = $filterLettersToName(item.apellidoPaterno)"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="$refs.refREApeMat.focus()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refREApePat"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Apellido Materno:</label>
                                                        <div class="">
                                                            <input v-model="item.apellidoMaterno"
                                                                   @@input="item.apellidoMaterno = $filterLettersToName(item.apellidoMaterno)"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="$refs.refRENombre.focus()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refREApeMat"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Nombre:</label>
                                                        <div class="">
                                                            <input v-model="item.nombre"
                                                                   @@input="item.nombre = $filterLettersToName(item.nombre)"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="$refs.refRETelefono.focus()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refRENombre"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 p-0">
                                                <div class="col-md-7 p-0">
                                                    <div class="col-md-6 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Teléfono:</label>
                                                        <div class="">
                                                            <input v-model="item.telefono"
                                                                   @@input="item.telefono = $event.target.value.toUpperCase()"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="$refs.refRENacionalidad.focus()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refRETelefono"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Nacionalidad:</label>
                                                        <div class="">
                                                            <input v-model="item.nacionalidad"
                                                                   @@input="item.nacionalidad = $event.target.value.toUpperCase()"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   @@keydown.13.prevent="$refs.refREFechaNac.focus()"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refRENacionalidad"/>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-5 p-0">
                                                    <div class="col-md-8 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Nacimiento:</label>
                                                        <div class="">
                                                            <input v-model="item.fechaNac"
                                                                   id="txtFechaNacRE"
                                                                   class="form-control input-sm dpyear"
                                                                   style="background-color: white;"
                                                                   autocomplete="off"
                                                                   placeholder="FECHA NAC." 
                                                                   @@focus="$event.target.select()"
                                                                   @@keydown.13.prevent="(item.stReintegro == 'X') ? $refs.refREReintegro.focus() : $refs.refRERuc.focus()"
                                                                   @@blur="item.fechaNac = $event.target.value; calculaEdad();"
                                                                   v-mask="'##/##/####'"
                                                                   :disabled="readOnlyCodiMotivo"
                                                                   ref="refREFechaNac">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Edad:</label>
                                                        <div class="">
                                                            <input :value="item.edad"
                                                                   class="form-control input-sm"
                                                                   style="background-color: white;"
                                                                   disabled />
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>

                                        <div class="col-md-12 p-0">
                                            <div class="col-md-9 p-0">
                                                <div class="col-md-2 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">R.U.C.:</label>
                                                    <div class="">
                                                        <input v-model="item.ruc"
                                                               class="form-control input-sm p-r-20"
                                                               style="background-color: white;"
                                                               @@keydown.13.prevent="searchEmpresa(); $refs.refRERazSoc.focus()"
                                                               @@keydown.32.prevent="consultaSunat(); $refs.refRERazSoc.focus()"
                                                               :disabled="(readOnlyCodiMotivo || item.stReintegro == 'X')"
                                                               v-mask="'#'.repeat(11)"
                                                               ref="refRERuc"/>
                                                        <span v-if="item.ruc.length == 11"
                                                              @@click="consultaSunat"
                                                              class="fa fa-cloud field-icon fa-fw"
                                                              title="Consultar a SUNAT"
                                                              :disabled="readOnlyCodiMotivo"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Razón Social:</label>
                                                    <div class="">
                                                        <input v-model="item.razonSocial"
                                                               @@input="item.razonSocial = $event.target.value.toUpperCase()"
                                                               class="form-control input-sm"
                                                               style="background-color: white;"
                                                               @@keydown.13.prevent="$refs.refREDireccion.focus()"
                                                               :disabled="(readOnlyCodiMotivo || item.stReintegro == 'X')"
                                                               ref="refRERazSoc"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Dirección:</label>
                                                    <div class="">
                                                        <input v-model="item.direccion"
                                                               @@input="item.direccion = $event.target.value.toUpperCase()"
                                                               class="form-control input-sm"
                                                               style="background-color: white;"
                                                               @@keydown.13.prevent="$refs.refREReintegro.focus()"
                                                               :disabled="(readOnlyCodiMotivo || item.stReintegro == 'X')"
                                                               ref="refREDireccion"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 p-0">
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Asiento:</label>
                                                    <div class="">
                                                        <input :value="item.asiento | concatZero(2)"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Precio:</label>
                                                    <div class="">
                                                        <input :value="item.precio | fixed2"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(253, 249, 205);"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6 separate-in-form">
                                                    <label class="control-label label-sm">Reintegro:</label>
                                                    <div class="input-group input-sm p-0">
                                                        <input v-model="item.reintegro"
                                                               class="form-control input-sm"
                                                               style="background-color:rgb(213, 255, 213);"
                                                               @@keydown.13.prevent="enterReintegro"
                                                               @@focus="$event.target.select()"
                                                               @@blur="item.reintegro = (item.reintegro) ? parseFloat(item.reintegro).toFixed(2) : ''"
                                                               :readonly="lockReintegro"
                                                               ref="refREReintegro"/>
                                                        <span @@click="lockReintegro = !lockReintegro" class="input-group-addon" title="Cambiar Importe de Reintegro">
                                                            <template v-if="lockReintegro">
                                                                <i class="fa fa-unlock"></i>
                                                            </template>
                                                            <template v-else>
                                                                <i class="fa fa-lock"></i>
                                                            </template>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="showData">
                    <div class="panel panel-default m-b-0" v-show="true">
                        <div class="panel-heading">
                            <div class="font-12" style="padding-top:7px;padding-bottom:7px;">
                                BUSCAR SALIDA DEL BUS
                                <div class="panel-action">
                                    <a @@click="anchorBuscarProg" ref="refREBuscarProg" class="btn btn-default btn-sm" href="javascript:void(0);" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="BuscarProgRE" class="panel-wrapper collapse in a-transition" aria-expanded="false">
                            <div class="panel-body p-b-0">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <div class="col-md-11 p-0">
                                            <div class="col-md-8 p-0">
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Origen:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiOrigen"
                                                                  :options="list.rutas"
                                                                  :placeholder="'ORIGEN'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refREDestino.$el.querySelector('input').focus()"
                                                                  ref="refREOrigen">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Destino:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiDestino"
                                                                  :options="list.rutasAll"
                                                                  :placeholder="'DESTINO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refREServicio.$el.querySelector('input').focus()"
                                                                  ref="refREDestino">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 separate-in-form">
                                                    <label class="control-label label-sm">Servicio:</label>
                                                    <div class="">
                                                        <v-select v-model="filtroCodiServicio"
                                                                  :options="list.servicios"
                                                                  :placeholder="'SERVICIO'"
                                                                  :select-on-tab="true"
                                                                  :get-option-label="getLabel"
                                                                  @@keydown.13.native.prevent="$refs.refREFechaIt.focus()"
                                                                  ref="refREServicio">
                                                            <template slot="option" slot-scope="option">
                                                                <div @@click="">{{ option.id }} - {{ option.label }}</div>
                                                            </template>
                                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                                        </v-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Fecha:</label>
                                                <div class="">
                                                    <input v-model="filtroProgramacion.FechaViaje"
                                                           id="txtFechaRE"
                                                           class="form-control input-sm dpFiltro"
                                                           placeholder="DD/MM/YYYY"
                                                           v-mask="'##/##/####'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refREHoraIt.focus()"
                                                           @@blur="filtroProgramacion.FechaViaje = $getValueDateTimePicker($event)"
                                                           autocomplete="off"
                                                           ref="refREFechaIt" />
                                                </div>
                                            </div>
                                            <div class="col-md-2 separate-in-form">
                                                <label class="control-label label-sm" style="text-align:left;">Hora:</label>
                                                <div class="">
                                                    <input v-model="filtroProgramacion.Hora"
                                                           class="form-control input-sm dph"
                                                           placeholder="HH:MM AM"
                                                           v-mask="'##:## AM'"
                                                           @@focus="$event.target.select()"
                                                           @@keydown.13.prevent="$refs.refREBuscar.focus()"
                                                           @@blur="filtroProgramacion.Hora = $event.target.value"
                                                           autocomplete="off"
                                                           ref="refREHoraIt" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 separate-in-form text-center">
                                            <label style="width: 100%">&nbsp;</label>
                                            <button @@click="searchProgramacion"
                                                    class="btn btn-primary btn-block-custom waves-effect waves-light"
                                                    ref="refREBuscar">
                                                <span class="fa fa-search fa-fw"></span>Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <div class="custom-scroll-container">
                                            <div class="table-responsive" style="background-color: #616e7e;">
                                                <table class="table table-hover tbl-mini-row" style="cursor:default;background-color:white;">
                                                    <thead>
                                                        <tr>
                                                            <th class="custom-th" width="%">Estado</th>
                                                            <th class="custom-th" width="%">N° VIAJE</th>
                                                            <th class="custom-th" width="%">EMPRESA</th>
                                                            <th class="custom-th" width="%">SALIDA BUS</th>
                                                            <th class="custom-th" width="%">ORIGEN PAS.</th>
                                                            <th class="custom-th" width="%">DESTINO BUS</th>
                                                            <th class="custom-th" width="%">SERVICIO</th>
                                                            <th class="custom-th" width="%">HORA</th>
                                                            <th class="custom-th" width="%">BUS</th>
                                                            <th class="custom-th" width="%">PLACA</th>
                                                            <th class="custom-th" width="%">T.A.</th>
                                                            <th class="custom-th" width="%">C.B.</th>
                                                            <th class="custom-th" width="%">N°PRG</th>
                                                            <th class="custom-th" width="%">TURNO</th>
                                                            <th class="custom-th" width="%">COD. PUNTO VENTA</th>
                                                            <th class="custom-th" width="%">COD. EMP.</th>
                                                            <th class="custom-th" width="%">COD. DEST. BUS</th>
                                                            <th class="custom-th" width="%">COD. SERV.</th>
                                                            <th class="custom-th" width="%">FECHA PROG.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <paginate ref="paginator" name="items" :list="list.itinerarios" :per="10">
                                                            <tr v-for="(item, key) in paginated('items')" @@dblclick="dbClickProgramacion(item)">
                                                                <td class="custom-td">
                                                                    <template v-if="item.Color === '#FFFFFF'">
                                                                        <span class="mdi mdi-checkbox-blank-circle-outline" style="color:#DDDDDD"></span>
                                                                    </template>
                                                                    <template v-else>
                                                                        <span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                                                    </template>
                                                                    <span v-if="item.SecondColor" class="mdi mdi-checkbox-blank-circle" :style="{color: item.SecondColor}"></span>
                                                                </td>
                                                                <td class="custom-td">{{item.NroViaje | concatZero(6)}}</td>
                                                                <td class="custom-td">{{item.RazonSocial}}</td>
                                                                <td class="custom-td">{{item.NomSucursal}}</td>
                                                                <td class="custom-td">{{item.NomOrigen}}</td>
                                                                <td class="custom-td">{{item.NomRuta}}</td>
                                                                <td class="custom-td">{{item.NomServicio}}</td>
                                                                <td class="custom-td">{{item.HoraPartida}}</td>
                                                                <td class="custom-td">{{item.CodiBus}}</td>
                                                                <td class="custom-td">{{item.PlacaBus}}</td>
                                                                <td class="custom-td">{{item.AsientosVendidos}}</td>
                                                                <td class="custom-td">{{item.CapacidadBus}}</td>
                                                                <td class="custom-td">{{item.CodiProgramacion | formatCodiProgramacion}}</td>
                                                                <td class="custom-td">{{item.HoraProgramacion}}</td>
                                                                <td class="custom-td">{{item.CodiPuntoVenta | concatZero(3)}}</td>
                                                                <td class="custom-td">{{item.CodiEmpresa | concatZero(2)}}</td>
                                                                <td class="custom-td">{{item.CodiRuta | concatZero(3)}}</td>
                                                                <td class="custom-td">{{item.CodiServicio | concatZero(2)}}</td>
                                                                <td class="custom-td">{{item.FechaProgramacion}}</td>
                                                            </tr>
                                                        </paginate>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <center>
                                            <paginate-links for="items" :async="true" :classes="{'ul': 'pagination'}"></paginate-links>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="showData">
                    <div class="panel panel-default m-b-0" v-show="true">
                        <div class="panel-heading">
                            <div class="font-12" style="padding-top:7px;padding-bottom:7px;">
                                CAMBIO DE RUTA DEL BOLETO
                                <div class="panel-action">
                                    <a @@click="anchorCambioBoleto" ref="refRECambioBoleto" class="btn btn-default btn-sm" href="javascript:void(0);" data-perform="panel-collapse"><i class="ti-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div id="CambioBoletoRE" class="panel-wrapper collapse in a-transition" aria-expanded="false">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <div class="col-md-12 p-0">
                                            <div class="col-md-2 separate-in-form p-r-10 m-t-20">
                                                <div class="input-group input-sm p-0">
                                                    <input :value="filtroCambio.NumAsiento"
                                                           class="form-control input-sm"
                                                           style="min-height:80px;
                                                                    font-size: 36px !important;
                                                                    font-weight: 500;
                                                                    color: var(--emp-color);
                                                                    background-color: #fff !important;
                                                                    text-align: center;"
                                                           readonly
                                                           ref="refREAsientoNew" />
                                                    <span @@click="showMiniMapa"
                                                          class="input-group-addon"
                                                          style="font-size: 18px !important;
                                                                white-space:pre-wrap;
                                                                cursor:pointer;
                                                                background-color: #E4E7EA;">BUSCAR ASIENTO</span>
                                                </div>
                                            </div>
                                            <div class="col-md-10 p-0">
                                                <div class="col-md-12">
                                                    <div class="col-md-3 separate-in-form">
                                                        <label class="control-label label-sm">Nuevo Destino Pasajero:</label>
                                                        <div class="">
                                                            <v-select v-model="filtroCodiNuevoDestino"
                                                                      :options="list.destinosPas"
                                                                      :placeholder="'DESTINO'"
                                                                      :select-on-tab="true"
                                                                      :get-option-label="getLabel"
                                                                      @@keydown.13.native.prevent="$refs.refREDifPrecio.focus()"
                                                                      ref="refREDestinoNew">
                                                                <template slot="option" slot-scope="option">
                                                                    <div @@click="$refs.refREDifPrecio.focus()">{{ option.id }} - {{ option.label }}</div>
                                                                </template>
                                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                                            </v-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Nueva Fecha:</label>
                                                        <div class="">
                                                            <input :value="filtroCambio.Fecha"
                                                                   class="form-control input-sm"
                                                                   placeholder="DD/MM/YYYY"
                                                                   style="background-color:rgb(253, 249, 205);"
                                                                   disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 separate-in-form">
                                                        <label class="control-label label-sm">Nueva Hora:</label>
                                                        <div class="">
                                                            <input :value="filtroCambio.Hora"
                                                                   class="form-control input-sm"
                                                                   placeholder="HH:MM AM"
                                                                   style="background-color:rgb(253, 249, 205);"
                                                                   disabled />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 p-0"></div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-4 p-0">
                                                        <div class="col-md-6 col-xs-6 separate-in-form">
                                                            <label class="control-label label-sm">Nuevo Precio:</label>
                                                            <div class="">
                                                                <input :value="filtroCambio.MontoReal | fixed2"
                                                                       class="form-control input-sm"
                                                                       style="background-color:rgb(253, 249, 205);"
                                                                       disabled />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6 separate-in-form">
                                                            <label class="control-label label-sm">Precio Original:</label>
                                                            <div class="">
                                                                <input :value="item.precio | fixed2"
                                                                       class="form-control input-sm"
                                                                       style="background-color:rgb(253, 249, 205);"
                                                                       disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 p-0">
                                                        <div class="col-md-6 col-xs-6 separate-in-form">
                                                            <label class="control-label label-sm">Diferencia de Precios:</label>
                                                            <div class="">
                                                                <input v-model="filtroCambio.DiferenciaPrecio"
                                                                       class="form-control input-sm"
                                                                       @@keydown.13.prevent="$refs.refREDifPrecio.focus()"
                                                                       @@focus="$event.target.select()"
                                                                       @@blur="filtroCambio.DiferenciaPrecio = (filtroCambio.DiferenciaPrecio) ? parseFloat(filtroCambio.DiferenciaPrecio).toFixed(2) : ''" 
                                                                       :style="[(parseFloat(filtroCambio.DiferenciaPrecio) > 0) ? {'color': 'red'} : {}]"
                                                                       />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6 separate-in-form">
                                                            <label class="control-label label-sm">Reintegro:</label>
                                                            <div class="input-group input-sm p-0">
                                                                <input v-model="item.reintegro"
                                                                       class="form-control input-sm"
                                                                       style="background-color:rgb(213, 255, 213);"
                                                                       @@keydown.13.prevent="enterReintegroRuta"
                                                                       @@focus="$event.target.select()"
                                                                       @@blur="item.reintegro = (item.reintegro) ? parseFloat(item.reintegro).toFixed(2) : ''"
                                                                       :readonly="lockReintegro"
                                                                       ref="refREDifPrecio" />
                                                                <span @@click="lockReintegro = !lockReintegro" class="input-group-addon" title="Cambiar Importe de Reintegro">
                                                                    <template v-if="lockReintegro">
                                                                        <i class="fa fa-unlock"></i>
                                                                    </template>
                                                                    <template v-else>
                                                                        <i class="fa fa-lock"></i>
                                                                    </template>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="cancelarRE" 
                        class="btn btn-info waves-effect waves-light" 
                        :disabled="!(dataFilled)">
                    <span class="fa fa-refresh fa-fw"></span>Limpiar
                </button>
                <button @@click="saveReintegro" 
                        class="btn btn-primary waves-effect waves-light" 
                        :disabled="(!(dataFilled && dataToSave) || disabledAceptar)"
                        ref="refREAceptar">
                    <span class="fa fa-floppy-o fa-fw"></span>Aceptar
                </button>
                <button @@click="anularReintegro" 
                        class="btn btn-danger waves-effect waves-light">
                    <span class="glyphicon glyphicon-remove fa-fw"></span>Anular
                </button>
                <button @@click="close" 
                        class="btn btn-inverse waves-effect waves-light">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Salir
                </button>
            </div>
        </div>
    </div>
</div>
