
<div id="appVueTipoPago" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px; top:10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Tipo de Pago</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-12 separate-in-form" style="margin-bottom: 20px;">
                            <label class="col-md-2 control-label label-sm">Tipo Pago:</label>
                            <div class="col-md-10">
                                <v-select v-model="computedTipoPago"
                                          :id="'cboTipoPagoTP'"
                                          :options="list.tiposPago"
                                          :placeholder="'TIPO PAGO'"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>

                        <template v-if="tipoPago === '03'">
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Tipo:</label>
                                <div class="col-md-10">
                                    <v-select v-model="tarjeta"
                                              :id="'cboTipoTP'"
                                              :options="list.tarjetas"
                                              :placeholder="'TIPO'"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Número:</label>
                                <div class="col-md-10">
                                    <input id="txtNumeroTP" class="form-control input-sm" />
                                </div>
                            </div>
                        </template>
                        <template v-else-if="tipoPago === '01'">
                        </template>
                        <template v-else-if="tipoPago === '04'">
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Distrito:</label>
                                <div class="col-md-10">
                                    <v-select v-model="distrito"
                                              :id="'cboDistritoTP'"
                                              :options="list.distritos"
                                              :placeholder="'DISTRITO'"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Dirección:</label>
                                <div class="col-md-10">
                                    <input id="txtDireccionTP" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Observ.:</label>
                                <div class="col-md-10">
                                    <input id="txtObservTP" class="form-control input-sm" />
                                </div>
                            </div>
                        </template>

                        <div class="col-md-12 separate-in-form" style="margin-top: 20px;">
                            <label class="col-md-2 control-label label-sm">Embarques:</label>
                            <div class="col-md-10">
                                <v-select v-model="embarque"
                                          :id="'cboEmbarqueTP'"
                                          label="Lugar"
                                          :options="list.embarques"
                                          :placeholder="'EMBARQUE'"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                        <div class="col-md-12 separate-in-form">
                            <label class="col-md-2 control-label label-sm">Arribos:</label>
                            <div class="col-md-10">
                                <v-select v-model="arribo"
                                          :id="'cboArriboTP'"
                                          label="Lugar"
                                          :options="list.arribos"
                                          :placeholder="'ARRIBO'"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="saveVenta" class="btn btn-primary waves-effect waves-light text-left">
                    <span class="fa fa-save fa-fw"></span>Aceptar
                </button>
                <button data-dismiss="modal" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

