
<div id="appVueTipoPago" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 500px; top:10%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" @@click="limpiarCampos" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Tipo de Pago</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <div class="col-md-6 separate-in-form">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label label-sm" style="text-align:left !important">Monto Total:</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control input-sm" type="text" min="0" :value="sumaTotal | fixed2" readonly disabled style="background-color: rgb(247, 192, 110); font-weight: 500; text-align:right;" />
                            </div>
                        </div>
                        <div class="col-md-6 separate-in-form">
                            <div class="col-md-6">
                                <label class="col-md-12 control-label label-sm" style="text-align:right !important">N° Asientos:</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control input-sm" type="number" min="0" v-model="cantAsientos" readonly disabled style="background-color: rgb(247, 192, 110); font-weight: 500; text-align:center;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <div class="col-md-12 separate-in-form">
                            <label class="col-md-2 control-label label-sm">Tipo Pago:</label>
                            <div class="col-md-10">
                                <v-select :disabled="disabledTipoPago"
                                          v-model="computedTipoPago"
                                          :id="'cboTipoPagoTP'"
                                          :options="list.tiposPago"
                                          :placeholder="'TIPO PAGO'"
                                          @@keydown.13.native.prevent="recorridoSectionTipoPagos"
                                          ref="select">
                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                </v-select>
                            </div>
                        </div>
                        <template v-if="tipoPago === '01'">
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-6">
                                    <label class="col-md-12 control-label label-sm">Imp. Pagado:</label>
                                    <div class="col-md-12">
                                        <input v-model="importePagado"
                                               id="txtImportePagdoC"
                                               @@input="calcMontos('IPC')"
                                               @@keypress.13.prevent="nextInput('NUMERO')"
                                               v-validate="'min_value:' + (sumaTotal + 1)"
                                               data-vv-as="Imp. Pagado:"
                                               class="form-control input-sm"
                                               name="Imp Pagado"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-12 control-label label-sm">Vuelto:</label>
                                    <div class="col-md-12">
                                        <input v-model="vuelto"
                                               id="txtEfectivoC"
                                               @@keypress.13.prevent="recorridoSectionTipoPagos"
                                               class="form-control input-sm"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;"
                                               disabled />
                                    </div>
                                </div>
                            </div>
                            <span v-show="errors.has('Imp Pagado')" class="text-danger m-l-15">{{errors.first('Imp Pagado')}}</span>
                        </template>
                        <template v-else-if="tipoPago === '02'">
                            <div class="col-md-6 separate-in-form">
                                <label class="col-md-12 control-label label-sm">Tipo Tarjeta:</label>
                                <div class="col-md-12">
                                    <v-select v-model="tarjeta"
                                              :id="'cboTipoTargetaTP'"
                                              :options="list.tarjetas"
                                              :placeholder="'TIPO'"
                                              @@keydown.13.native.prevent="recorridoSectionTipoPagos"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-6 separate-in-form">
                                <label class="col-md-12 control-label label-sm">Número:</label>
                                <div class="col-md-12">
                                    <input v-model="numeroTarjeta"
                                           id="txtNumeroTP"
                                           @@keydown.13.native.prevent="nextInput('ARRIBOS')"
                                           @@keypress.13.prevent="recorridoSectionTipoPagos"
                                           class="form-control input-sm"
                                           v-mask="'####-####-####-####'" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <div class="col-md-3">
                                    <label class="col-md-12 control-label label-sm">Monto Tarjeta:</label>
                                    <div class="col-md-12">
                                        <input v-model="tarjetaCant"
                                               id="txtTtarjetaCantTP"
                                               @@input="calcMontos('T')"
                                               @@keypress.13.prevent="recorridoSectionTipoPagos"
                                               v-validate="'between:1, '+(sumaTotal-1)"
                                               class="form-control input-sm"
                                               name="monto tarjeta"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-md-12 control-label label-sm">Monto Efectivo:</label>
                                    <div class="col-md-12">
                                        <input v-model="efectivo"
                                               id="txtEfectivoTP"
                                               @@input="calcMontos('E')"
                                               @@keypress.13.prevent="recorridoSectionTipoPagos"
                                               v-validate="'between:1, '+sumaTotal"
                                               class="form-control input-sm"
                                               name="monto efectivo"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-md-12 control-label label-sm">Imp. Pagado:</label>
                                    <div class="col-md-12">
                                        <input v-model="importePagado"
                                               id="txtImportePagdoTP"
                                               @@input="calcMontos('IP')"
                                               @@keypress.13.prevent="nextInput('NUMERO')"
                                               v-validate="'min_value:' + (sumaTotal + 1)"
                                               data-vv-as="Imp. Pagado:"
                                               class="form-control input-sm"
                                               name="Imp Pagado"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-md-12 control-label label-sm">Vuelto:</label>
                                    <div class="col-md-12">
                                        <input v-model="vuelto"
                                               id="txtEfectivoTP"
                                               @@keypress.13.prevent="recorridoSectionTipoPagos"
                                               class="form-control input-sm"
                                               style="background-color: #fdf9cd; font-weight: 500; text-align:right;"
                                               disabled />
                                    </div>
                                </div>
                                <span v-show="errors.has('monto tarjeta')" class="text-danger m-l-15">{{errors.first('monto tarjeta')}}</span>
                                <span v-show="errors.has('monto efectivo')" class="text-danger m-l-15">{{errors.first('monto efectivo')}}</span>
                                <span v-show="errors.has('Imp Pagado')" class="text-danger m-l-15">{{errors.first('Imp Pagado')}}</span>
                            </div>
                        </template>
                        <template v-if="tipoPago === '03'">
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Tipo:</label>
                                <div class="col-md-10">
                                    <v-select v-model="tarjeta"
                                              :id="'cboTipoTP'"
                                              :options="list.tarjetas"
                                              :placeholder="'TIPO'"
                                              @@keydown.13.native.prevent="recorridoSectionTipoPagos"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Número:</label>
                                <div class="col-md-10">
                                    <input v-model="numeroTarjeta"
                                           id="txtNumeroTP"
                                           @@keypress.13.prevent="recorridoSectionTipoPagos"
                                           class="form-control input-sm" />
                                </div>
                            </div>
                        </template>
                        <template v-else-if="tipoPago === '04'">
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Distrito:</label>
                                <div class="col-md-10">
                                    <v-select v-model="distrito"
                                              :id="'cboDistritoTP'"
                                              :options="list.distritos"
                                              :placeholder="'DISTRITO'"
                                              @@keydown.13.native.prevent="recorridoSectionTipoPagos"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Dirección:</label>
                                <div class="col-md-10">
                                    <input v-model="direccion"
                                           id="txtDireccionTP"
                                           @@keypress.13.prevent="recorridoSectionTipoPagos"
                                           class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Observ.:</label>
                                <div class="col-md-10">
                                    <input v-model="observacion"
                                           id="txtObservTP"
                                           @@keypress.13.prevent="recorridoSectionTipoPagos"
                                           class="form-control input-sm" />
                                </div>
                            </div>
                        </template>

                        <template v-if="pickedBusVenta !== 'R'">
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Embarques:</label>
                                <div class="col-md-10">
                                    <v-select v-model="embarque"
                                              :id="'cboEmbarqueTP'"
                                              :get-option-label="getLabelEmbarqueArribo"
                                              label="Lugar"
                                              :options="list.embarques"
                                              :placeholder="'EMBARQUE'"
                                              @@keydown.13.native.prevent="nextInput('EMBARQUE')"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-12 separate-in-form">
                                <label class="col-md-2 control-label label-sm">Arribos:</label>
                                <div class="col-md-10">
                                    <v-select v-model="arribo"
                                              :id="'cboArriboTP'"
                                              :get-option-label="getLabelEmbarqueArribo"
                                              label="Lugar"
                                              :options="list.arribos"
                                              :placeholder="'ARRIBO'"
                                              @@keydown.13.native.prevent="nextInput('ARRIBOS')"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @@click="saveVenta" id="btnSaveVentaTipoPago" :disabled="!filledCampos || processing" class="btn btn-primary waves-effect waves-light text-left">
                    <span class="fa fa-save fa-fw"></span>Aceptar
                </button>
                <button data-dismiss="modal" @@click="limpiarCampos" class="btn btn-inverse waves-effect waves-light text-left">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>