@using SisComWeb.Aplication.Helpers
@{ var usuario = DataSession.UsuarioLogueado; }

<style type="text/css">
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #f7fafc;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 2px solid white;
                border-radius: 100%;
                /*background: #ff7601;*/
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #27e15e;
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .ancho {
        width: 23%;
    }

    #txtPrecio {
        outline: 0 !important;
        border-width: 0 0 2px !important;
        border-color: #1082c0 !important;
    }

    /*#txtPrecio :focus {
            border-color: #004e90;
        }*/
</style>

<div id="appVueVenta" v-show="showVentas" class="row">
    <div class="col-md-12">
        <div class="white-box" style="padding: 10px 0 15px 0;">
            <div>
                <div class="row">
                    <div id="FiltersVentas" class="col-md-12 panel panel-default" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Empresa:</label>
                                    <v-select v-model="filtro.CodiEmpresa"
                                              :id="'cboEmpresa'"
                                              :get-option-label="getLabel"
                                              :options="list.empresas"
                                              :placeholder="'EMPRESA'"
                                              @@keydown.13.native.prevent="nextStep(1)"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align: center; margin-top: 30px; ">
                                <label class="control-label color-blue">Nº VIAJE: {{filtro.NroViaje}}</label>
                            </div>
                            <div class="col-md-2" style="text-align: center; margin-top: 30px; ">
                                <label class="control-label color-blue">Nº PROGRAMACIÓN: {{filtro.CodiProgramacion}}</label>
                            </div>
                            <div class="col-md-4" style="text-align: right; font-size: 15px;">
                                <a @@click="nextStep(10)"
                                   :disabled="processing"
                                   href="javascript:void(0);"
                                   id="btnActualizar"
                                   style="display: inline-block; cursor: pointer; margin-right: 10px; color: black;">
                                    <img src="~/wwwroot/plugins/images/RELOAD.png" style="margin: 0px 0px 3px 10px; " />
                                    <label style="cursor: pointer;">Actualizar</label>
                                </a>
                                <div @@click="hideVentas" style="display: inline-block; cursor: pointer; margin-right: 10px; color: black;">
                                    <img src="~/wwwroot/plugins/images/ATRAS.png" style="margin: 0px 0px 3px 10px; " />
                                    <label style="cursor: pointer; ">Atrás</label>
                                </div>
                                <a href="@Url.Action("Index","Principal")">
                                    <div style="display: inline-block; cursor: pointer;">
                                        <img src="~/wwwroot/plugins/images/CERRAR.png" style="margin: 0px 0px 3px 10px; " />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-heading" style="padding: 5px 0px 5px 5px; ">
                                <img src="~/wwwroot/plugins/images/BUS3.png" />
                                <label class="control-label color-blue" style="margin-left: 5px; font-size: 12px; display: inline; ">
                                    CON EMBARQUE EN: {{setCadenaEmbarques}}
                                </label>
                                <div class="panel-action">
                                    <button type="button"
                                            id="btnDesplegar"
                                            class="btn btn-default btn-sm waves-effect waves-light btn-emp"
                                            style="color: #fff; font-weight: 400;padding: 0px 10px 1px 10px;"
                                            href="#"
                                            data-perform="panel-collapse"
                                            @@click="showTextTurnos = !showTextTurnos">
                                        <template v-if="showTextTurnos">
                                            <span class="mdi mdi-arrow-down-bold-circle fa-fw"></span>DESPLEGAR TURNOS
                                        </template>
                                        <template v-else>
                                            <span class="mdi mdi-arrow-up-bold-circle fa-fw"></span>CONTRAER TURNOS
                                        </template>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="panelWrapperV" class="panel-wrapper collapse in">
                                <div class="panel-body" style="padding: 15px 0px 0px 0px; ">

                                    <div class="col-md-9">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Sucursal:</label>
                                                <v-select v-model="filtro.CodiSucursal"
                                                          :id="'cboSucursal'"
                                                          :get-option-label="getLabel"
                                                          :options="list.sucursales"
                                                          :placeholder="'SUCURSAL'"
                                                          @@keydown.13.native.prevent="nextStep(2)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Origen bus:</label>
                                                <v-select v-model="filtro.CodiOrigenBus"
                                                          :id="'cboOrigenBus'"
                                                          :get-option-label="getLabel"
                                                          :options="list.origenesBus"
                                                          :placeholder="'ORIGEN BUS'"
                                                          @@keydown.13.native.prevent="nextStep(3)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">P.V. Origen bus:</label>
                                                <v-select v-model="filtro.CodiPVOrigenBus"
                                                          :id="'cboPVOrigenBus'"
                                                          :get-option-label="getLabel"
                                                          :options="list.pvOrigenesBus"
                                                          :placeholder="'P.V. ORIGEN BUS'"
                                                          @@keydown.13.native.prevent="nextStep(4)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Destino bus:</label>
                                                <v-select v-model="filtro.CodiDestinoBus"
                                                          :id="'cboDestinoBus_2'"
                                                          :get-option-label="getLabel"
                                                          :options="list.destinosBus"
                                                          :placeholder="'DESTINO BUS'"
                                                          @@keydown.13.native.prevent="nextStep(5)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Destino pasajero:</label>
                                                <v-select v-model="filtro.CodiDestinoPas"
                                                          :id="'cboDestinoPas_2'"
                                                          :get-option-label="getLabel"
                                                          :options="list.destinosPas"
                                                          :placeholder="'DESTINO PASAJERO'"
                                                          @@keydown.13.native.prevent="nextStep(7)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Turno:</label>
                                                <input v-model="filtro.Turno"
                                                       v-mask="'##:## AM'"
                                                       @@blur="nextStep(8)"
                                                       type="text"
                                                       id="txtTurno"
                                                       class="form-control input-sm dph"
                                                       placeholder="TURNO"
                                                       autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label">Fecha Viaje:</label>
                                                <input v-model="filtro.Fecha"
                                                       v-mask="'##/##/####'"
                                                       @@blur="nextStep(9)"
                                                       type="text"
                                                       id="txtFecha_2"
                                                       class="form-control input-sm dp"
                                                       placeholder="FECHA"
                                                       autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Servicio:</label>
                                                <v-select v-model="filtro.CodiServicio"
                                                          :id="'cboServicio'"
                                                          :get-option-label="getLabel"
                                                          :options="list.servicios"
                                                          :placeholder="'SERVICIO'"
                                                          @@keydown.13.native.prevent="nextStep(6)"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="float: right;">
                                        <div style="border-left: 1px solid rgb(228, 231, 234);padding-left: 45px;">
                                            <label style="width: calc(100% - 25px);text-align: center;">OTROS TURNOS</label>
                                            <div style="overflow-y:auto;height: 100px;">
                                                <ul style="list-style-type: none; padding-left: 0;">
                                                    <li v-for="item in list.turnos">
                                                        <a @@click="changeTurno(item)" style="cursor:pointer;font-weight: 500; color: #2A97F4" :title="item.HoraPartida + ' - ' + item.NomServicio">{{item.HoraPartida}}  -  {{item.NomServicio}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="BusVentas">
                        <div v-show="showPlano" class="col-md-12" style="background-color:white;height:40px;display:flex;">
                            <div class="col-md-8 bgc-emp" style="height:100%;border-radius: 8px 8px 0 0;margin-left: 20px; display: flex; align-items: center; color: white;">
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('V')">
                                    <input type="radio" id="ventaBV" value="V" v-model="pickedBusVenta" class="align-radio">
                                    <label for="ventaBV" class="align-label-radio">Venta</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('X')">
                                    <input type="radio" id="bloqueoBV" value="X" v-model="pickedBusVenta" class="align-radio">
                                    <label for="bloqueoBV" class="align-label-radio">Bloqueo</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('R')">
                                    <input type="radio" id="reservaBV" value="R" v-model="pickedBusVenta" class="align-radio">
                                    <label for="reservaBV" class="align-label-radio">Reserva</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('NV')">
                                    <input type="radio" id="fecAbiertaBV" value="NV" v-model="pickedBusVenta" class="align-radio">
                                    <label for="fecAbiertaBV" class="align-label-radio">F.&nbsp;Abierta</label>
                                </div>
                                <div class="col-md-1 ancho" @@click.prevent="changePickedBusVenta('7')">
                                    <input type="radio" id="paseBV" value="7" v-model="pickedBusVenta" class="align-radio">
                                    <label for="paseBV" class="align-label-radio">Pase</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('NV')">
                                    <input type="radio" id="remotoBV" value="NV" v-model="pickedBusVenta" class="align-radio">
                                    <label for="remotoBV" class="align-label-radio">Remoto</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('NV')">
                                    <input type="radio" id="retornoBV" value="NV" v-model="pickedBusVenta" class="align-radio">
                                    <label for="retornoBV" class="align-label-radio">Retorno</label>
                                </div>
                                <div class="col-md-1 ancho" @@click="changePickedBusVenta('NV')">
                                    <input type="radio" id="creditoBV" value="NV" v-model="pickedBusVenta" class="align-radio">
                                    <label for="creditoBV" class="align-label-radio">Crédito</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-6" style="text-align: center;top: 50%;transform: translateY(-50%);">
                                    <label id="lblNameDay_Fecha"
                                           class="control-label"
                                           style="color: var(--emp-color); font-size: 14px; font-weight: 500; ">
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <input value="USUARIO: @usuario.Nombre.ToString().ToUpper() - @usuario.CodiUsuario.ToString()"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="USUARIO"
                                               readonly="readonly"
                                               style="font-weight: 500; background-color: #fff; "
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="showPlano" class="container-bus bgc-emp">
                            <div class="col-md-12" style="background-color: white; min-height: 30px;margin-bottom: 15px;border-radius: 4px; display: flex; align-items: center; ">
                                <div class="col-md-1">
                                    <img src="~/wwwroot/plugins/images/users/BUS2.png" style="margin: 0px 10px 2px; " />
                                    <label style="margin-bottom: 0px; ">{{objPlano.CodiBus}}</label>
                                </div>
                                <div class="col-md-1">
                                    <img src="~/wwwroot/plugins/images/users/PLACA.png" style="margin: 0px 10px 2px; " />
                                    <label style="margin-bottom: 0px; ">{{objPlano.PlacaBus}}</label>
                                </div>
                                <div class="col-md-2">
                                    <img src="~/wwwroot/plugins/images/users/CHOFER.png" style="margin: 0px 10px 2px; " />
                                    <label style="margin-bottom: 0px; ">{{objPlano.NombreChofer}}</label>

                                </div>
                                <div class="col-md-2">
                                    <img src="~/wwwroot/plugins/images/users/CHOFER.png" style="margin: 0px 10px 2px; " />
                                    <label style="margin-bottom: 0px; ">{{objPlano.NombreCopiloto}}</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div v-for="item in list.destinosRuta" style="margin-right: 7px;display: inline-block;">
                                        <span class="mdi mdi-checkbox-blank-circle" :style="{color: item.Color}"></span>
                                        <label>{{item.Sigla}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="img-bus">
                                <img src="~/wwwroot/plugins/images/users/cabecera-bus.png" />
                            </div>
                            <div class="table-responsive form-bus">
                                <table id="tblLista" class="table table-bus">
                                    <tbody>
                                        <tr>
                                            <td v-for="(item, key) in list.plano1" class="bus-td">
                                                <template v-if="!isNaN(item.Tipo)">
                                                    <button :id="'btnAsiento_' + item.Tipo"
                                                            class="btn btn-bus"
                                                            :title="showNombrePasajero(item.FechaVenta, item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno)"
                                                            @@click="bloquearAsiento(item)"
                                                            :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento)">
                                                        <div class="icons-of-seat" v-if="item.FechaVenta">
                                                            <span class="ios-left">
                                                                <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                            </span>
                                                            <span class="ios-right">{{item.Sigla}}</span>
                                                        </div>
                                                        <div class="number-of-seat">
                                                            {{item.Tipo}}
                                                        </div>
                                                    </button>
                                                </template>
                                                <template v-else>
                                                    <span :class="[item.Tipo]"></span>
                                                </template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td v-for="(item, key) in list.plano2" class="bus-td">
                                                <template v-if="!isNaN(item.Tipo)">
                                                    <button :id="'btnAsiento_' + item.Tipo"
                                                            class="btn btn-bus"
                                                            :title="showNombrePasajero(item.FechaVenta, item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno)"
                                                            @@click="bloquearAsiento(item)"
                                                            :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento)">
                                                        <div class="icons-of-seat" v-if="item.FechaVenta">
                                                            <span class="ios-left">
                                                                <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                            </span>
                                                            <span class="ios-right">{{item.Sigla}}</span>
                                                        </div>
                                                        <div class="number-of-seat">
                                                            {{item.Tipo}}
                                                        </div>
                                                    </button>
                                                </template>
                                                <template v-else>
                                                    <span :class="[item.Tipo]"></span>
                                                </template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td v-for="(item, key) in list.plano3" class="bus-td">
                                                <template v-if="!isNaN(item.Tipo)">
                                                    <button :id="'btnAsiento_' + item.Tipo"
                                                            class="btn btn-bus"
                                                            :title="showNombrePasajero(item.FechaVenta, item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno)"
                                                            @@click="bloquearAsiento(item)"
                                                            :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento)">
                                                        <div class="icons-of-seat" v-if="item.FechaVenta">
                                                            <span class="ios-left">
                                                                <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                            </span>
                                                            <span class="ios-right">{{item.Sigla}}</span>
                                                        </div>
                                                        <div class="number-of-seat">
                                                            {{item.Tipo}}
                                                        </div>
                                                    </button>
                                                </template>
                                                <template v-else>
                                                    <span :class="[item.Tipo]"></span>
                                                </template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td v-for="(item, key) in list.plano4" class="bus-td">
                                                <template v-if="!isNaN(item.Tipo)">
                                                    <button :id="'btnAsiento_' + item.Tipo"
                                                            class="btn btn-bus"
                                                            :title="showNombrePasajero(item.FechaVenta, item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno)"
                                                            @@click="bloquearAsiento(item)"
                                                            :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento)">
                                                        <div class="icons-of-seat" v-if="item.FechaVenta">
                                                            <span class="ios-left">
                                                                <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                            </span>
                                                            <span class="ios-right">{{item.Sigla}}</span>
                                                        </div>
                                                        <div class="number-of-seat">
                                                            {{item.Tipo}}
                                                        </div>
                                                    </button>
                                                </template>
                                                <template v-else>
                                                    <span :class="[item.Tipo]"></span>
                                                </template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td v-for="(item, key) in list.plano5" class="bus-td">
                                                <template v-if="!isNaN(item.Tipo)">
                                                    <button :id="'btnAsiento_' + item.Tipo"
                                                            class="btn btn-bus"
                                                            :title="showNombrePasajero(item.FechaVenta, item.Nombres, item.ApellidoPaterno, item.ApellidoMaterno)"
                                                            @@click="bloquearAsiento(item)"
                                                            :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento)">
                                                        <div class="icons-of-seat" v-if="item.FechaVenta">
                                                            <span class="ios-left">
                                                                <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                            </span>
                                                            <span class="ios-right">{{item.Sigla}}</span>
                                                        </div>
                                                        <div class="number-of-seat">
                                                            {{item.Tipo}}
                                                        </div>
                                                    </button>
                                                </template>
                                                <template v-else>
                                                    <span :class="[item.Tipo]"></span>
                                                </template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="TicketsVentas">
                        <div v-show="showPlano" class="col-md-12" style="margin-top: 15px; padding: 0px; ">
                            <div class="col-md-1" style="height: 235px; width: 35px; padding-left: 0px; display: flex; align-items: center; ">
                                <div v-if="indexVenta > 0"
                                     @@click="leftSlider"
                                     class="bgc-emp"
                                     style="border-radius: 0px 10px 10px 0px; ">
                                    <img src="~/wwwroot/plugins/images/chevron-left.png" style="width: 100%; height: 100%" />
                                </div>
                            </div>
                            <div id="bannerVentas" class="col-md-10" style="border: 1px solid #009cff; width: calc(100% - 70px); border-radius: 10px; padding: 15px 15px 10px 15px; background-color: white; z-index: 1">
                                <form autocomplete="off" @@submit.prevent>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="form-group" style="border: 1px solid #009cff; text-align: center; border-radius: 5px; padding: 5px 0px; ">
                                                <label class="control-label" style="width: 100%; font-weight: 500; color: #1082c0;">Asiento</label>
                                                <input v-model="list.ventas[indexVenta].NroAsiento"
                                                       type="text"
                                                       ref="refNroAsientoVenta"
                                                       id="txtNroAsientoVenta"
                                                       class="form-control input-sm"
                                                       :class="{'placeh-ticket-venta': auxFocus.asiento}"
                                                       placeholder="Nº"
                                                       style="text-align: center; border-color: #fff; font-size: 38px !important; font-weight: 500; color: #004e90 "
                                                       v-mask="'##'"
                                                       :disabled="list.ventas[indexVenta].IsDisabled"
                                                       @@focus="focusAsiento($event)"
                                                       @@blur="validateTxtNroAsientoVenta()"
                                                       @@keydown.13.prevent="validateTxtNroAsientoVenta()">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Tipo doc.</label>
                                                <v-select v-model="list.ventas[indexVenta].CodiTipoDoc"
                                                          :id="'cboTipoDoc'"
                                                          label="label"
                                                          :options="list.tiposDoc"
                                                          :placeholder="'TIPO'"
                                                          @@keydown.13.native.prevent="passNumDocToDocumento"
                                                          @@input="passNumDocToDocumento"
                                                          ref="select">
                                                    <span slot="no-options" class="text-danger">No hay resultados</span>
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Número</label>
                                                <input :value="list.ventas[indexVenta].Documento.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].Documento = $event.target.value.toUpperCase()"
                                                       id="txtDocumento"
                                                       type="text"
                                                       @@keypress.13.prevent="searchUser"
                                                       class="form-control input-sm"
                                                       placeholder="DOCUMENTO"
                                                       v-mask="mask.documento">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Nombres</label>
                                                <input :value="list.ventas[indexVenta].Nombres.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].Nombres = $event.target.value.toUpperCase()"
                                                       @@keypress.13.prevent="recorridoSectionVentas"
                                                       id="txtNombres"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       style="font-size: 16px !important; font-weight: 500;"
                                                       placeholder="NOMBRES">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Apellido paterno</label>
                                                <input :value="list.ventas[indexVenta].ApellidoPaterno.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].ApellidoPaterno = $event.target.value.toUpperCase()"
                                                       @@keypress.13.prevent="recorridoSectionVentas"
                                                       id="txtApellidoPaterno"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       style="font-size: 16px !important; font-weight: 500;"
                                                       placeholder="PATERNO">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Apellido materno</label>
                                                <input :value="list.ventas[indexVenta].ApellidoMaterno.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].ApellidoMaterno = $event.target.value.toUpperCase()"
                                                       @@keypress.13.prevent="recorridoSectionVentas"
                                                       id="txtApellidoMaterno"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       style="font-size: 16px !important; font-weight: 500;"
                                                       placeholder="MATERNO">
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                <label class="control-label" style="font-size: 16px !important; font-weight: 500; color: #004e90;">{{list.ventas[indexVenta].NroVenta}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label">Fecha nac.</label>
                                                <input @@blur="setDateAndCalcYears($event.target.value.trim())"
                                                       v-model="list.ventas[indexVenta].FechaNac"
                                                       v-mask="'##/##/####'"
                                                       type="text"
                                                       id="txtFechaNac"
                                                       class="form-control input-sm dp"
                                                       placeholder="FECHA NAC.">
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="padding-left: 0px; padding-right: 0px; ">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Edad</label>
                                                    <input :value="list.ventas[indexVenta].Edad"
                                                           @@keypress.13.prevent="recorridoSectionVentas"
                                                           type="text"
                                                           id="txtEdad"
                                                           class="form-control input-sm text-center"
                                                           placeholder="EDAD"
                                                           disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Sexo</label>
                                                    <v-select v-model="list.ventas[indexVenta].Sexo"
                                                              :id="'cboSexo'"
                                                              label="label"
                                                              :options="list.sexos"
                                                              :placeholder="'SEXO'"
                                                              @@keydown.13.native.prevent="$refs.refTelefono.focus()"
                                                              @@input="$refs.refTelefono.focus()"
                                                              ref="select">
                                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                                    </v-select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">Teléfono</label>
                                                    <input v-model="list.ventas[indexVenta].Telefono"
                                                           @@keypress.13.prevent="$refs.refRecoger.focus()"
                                                           ref="refTelefono"
                                                           id="txtTelefono"
                                                           type="text"
                                                           class="form-control input-sm"
                                                           placeholder="TELÉFONO"
                                                           v-mask="'#########'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Recoger</label>
                                                <input :value="list.ventas[indexVenta].Recoger.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].Recoger = $event.target.value.toUpperCase()"
                                                       @@keypress.13.prevent="recorridoSectionVentas"
                                                       ref="refRecoger"
                                                       id="txtRecoger"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="RECOGER">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Reintegro</label>
                                                <input :value="list.ventas[indexVenta].Reintegro"
                                                       id="txtReintegro"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="REINTEGRO"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label" style="width: 100%; ">Nº Solicitud</label>
                                                <input v-model="list.ventas[indexVenta].NroSolicitud"
                                                       @@keypress.13.prevent="passSolicitudToRuc"
                                                       @@keypress.9.prevent="passSolicitudToRuc"
                                                       id="txtNroSolicitud"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="Nº SOLICITUD"
                                                       autocomplete="off"
                                                       v-mask="'###############'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9" style="padding-left: 0px; padding-right: 0px; ">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">RUC</label>
                                                    <input v-model="list.ventas[indexVenta].Ruc"
                                                           @@keypress.13.prevent="searchEmpresa"
                                                           @@focus="$event.target.select()"
                                                           ref="refRuc"
                                                           id="txtRuc"
                                                           type="text"
                                                           class="form-control input-sm"
                                                           placeholder="RUC"
                                                           autocomplete="off"
                                                           v-mask="'###########'">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">Razón social</label>
                                                    <input :value="list.ventas[indexVenta].RazonSocial.toUpperCase()"
                                                           @@input="list.ventas[indexVenta].RazonSocial = $event.target.value.toUpperCase()"
                                                           @@keypress.13.prevent="$refs.refDireccion.focus()"
                                                           ref="refRazonSocial"
                                                           id="txtRazonSocial"
                                                           type="text"
                                                           max="100"
                                                           class="form-control input-sm"
                                                           placeholder="RAZÓN SOCIAL">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">Dirección</label>
                                                    <input :value="list.ventas[indexVenta].Direccion.toUpperCase()"
                                                           @@input="list.ventas[indexVenta].Direccion = $event.target.value.toUpperCase()"
                                                           @@keypress.13.prevent="recorridoSectionVentas"
                                                           ref="refDireccion"
                                                           id="txtDireccion"
                                                           type="text"
                                                           max="200"
                                                           class="form-control input-sm"
                                                           placeholder="DIRECCIÓN">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="control-label" style="width: 100%; ">Fecha de venta</label>
                                                <input :value="list.ventas[indexVenta].FechaVen"
                                                       id="txtFechaVen"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="DD/MM/YYYY"
                                                       disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">Nacionalidad</label>
                                                <input :value="list.ventas[indexVenta].Nacionalidad.toUpperCase()"
                                                       @@input="list.ventas[indexVenta].Nacionalidad = $event.target.value.toUpperCase()"
                                                       @@keypress.13.prevent="recorridoSectionVentas"
                                                       v-mask="'A'.repeat(30)"
                                                       id="txtNacionalidad"
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="NACIONALIDAD">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Observación</label>
                                                <textarea :value="list.ventas[indexVenta].Observacion"
                                                          id="txtObservacion"
                                                          type="text"
                                                          class="form-control input-sm"
                                                          placeholder="OBSERVACIÓN"
                                                          style="height: 30px; min-height: 30px; "
                                                          disabled>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-8" style="padding-left: 0px; padding-right: 0px; ">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;</label>
                                                    <button @@click="showRegistrarParentesco"
                                                            class="btn btn-secondary btn-ticket btn-venta"
                                                            style="width: 100%; color:white; "
                                                            v-bind:disabled="!bloquearPago">
                                                        <img src="~/wwwroot/plugins/images/NINIO2.png" />
                                                        &ensp; Registrar Ni&ntilde;o
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group text-center">
                                                    <label class="control-label" style="width: 100%; font-weight: 500; color: #1082c0;">Precio S/.</label>
                                                    <input v-model="list.ventas[indexVenta].Precio"
                                                           @@keypress.13.prevent="recorridoSectionVentas"
                                                           @@focus="focusPrecio($event)"
                                                           ref="refPrecio"
                                                           id="txtPrecio"
                                                           type="text"
                                                           class="form-control input-sm"
                                                           :class="{'placeh-ticket-venta': auxFocus.precio}"
                                                           placeholder="0.00"
                                                           style="text-align:center; border-color: #fff; font-size: 38px !important; font-weight: 500; color: #004e90 "
                                                           autocomplete="off"
                                                           @@blur="validateRangePrice"
                                                           @*v-bind:disabled="!bloquearPago"*@>
                                                </div>
                                            </div>
                                            <template v-if="pickedBusVenta === 'V'">
                                                <div class="col-md-3">
                                                    <div class="form-group" style="text-align: center;">
                                                        <div v-if="list.ventas.length > 0 && indexVenta === list.ventas.length - 1">
                                                            <label class="control-label">&nbsp;</label>
                                                            <button @@click="showTipoPago"
                                                                    id="btnTipoPago"
                                                                    class="btn btn-secondary btn-ticket btn-venta"
                                                                    style="width: 100%; color:white; "
                                                                    v-bind:disabled="!bloquearPago">
                                                                $ &ensp; Pago Total
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                            <template v-else-if="pickedBusVenta === '7'">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;</label>
                                                        <button @@click=""
                                                                class="btn btn-secondary btn-ticket-venta-success"
                                                                style="width: 100%;">
                                                            Generar Boletos
                                                        </button>
                                                    </div>
                                                </div>
                                            </template>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;</label>
                                                    <button @@click="cancelarBoletos"
                                                            class="btn btn-secondary btn-ticket btn-cancelar"
                                                            style="width: 100%; color:white;">
                                                        Cancelar Boletos
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-1" style="height: 235px; width: 35px; padding: 0px 0px 0px 2px; display: flex; align-items: center; ">
                                <div v-if="indexVenta < list.ventas.length - 1"
                                     @@click="rightSlider"
                                     class="bgc-emp"
                                     style="border-radius: 10px 0px 0px 10px; ">
                                    <img src="~/wwwroot/plugins/images/chevron-right.png" style="width: 100%; height: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 5px; text-align: center;">
                            <div @@click="indexVenta = index" v-for="(item, index) in list.ventas" style="display: inline-block; vertical-align: middle; margin-right: 5px;">
                                <span class="label label-rouded btn-emp" style="cursor: pointer;">{{item.NroAsiento}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
