@using SisComWeb.Aplication.Helpers
@{ var usuario = DataSession.UsuarioLogueado; }

<div id="appVueVenta" v-show="showVentas" class="row">
    <div class="col-md-12">
        <div class="white-box" style="padding: 10px 0 15px 0;">
            <div @*class="custom-scroll-container"*@>
                <div class="row">
                    <div id="FiltersVentas" class="col-md-12 panel panel-default" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Empresa:</label>
                                    <v-select v-model="filtro.CodiEmpresa"
                                              :id="'cboEmpresa'"
                                              :get-option-label="getLabel"
                                              :options="list.empresas"
                                              :placeholder="'EMPRESA'"
                                              ref="select">
                                        <span slot="no-options" class="text-danger">No hay resultados</span>
                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-2" style="text-align: center; margin-top: 30px; ">
                                <label class="control-label">Nº Viaje: {{filtro.NroViaje}}</label>
                            </div>
                            <div class="col-md-2" style="text-align: center; margin-top: 30px; ">
                                <label class="control-label">Nº Programación: {{filtro.CodiProgramacion}}</label>
                            </div>
                            <div @@click="clear" class="col-md-4" style="text-align: right; ">
                                <div style="display: inline-block; cursor: pointer; ">
                                    <img src="~/wwwroot/plugins/images/RELOAD.png" style="margin: 0px 0px 3px 10px; " />
                                    <label style="cursor: pointer; ">Actualizar</label>
                                </div>
                                <div @@click="hideVentas" style="display: inline-block; cursor: pointer;">
                                    <img src="~/wwwroot/plugins/images/ATRAS.png" style="margin: 0px 0px 3px 10px; " />
                                    <label style="cursor: pointer; ">Atrás</label>
                                </div>
                                <a href="@Url.Action("Index","Principal")">
                                    <div style="display: inline-block; cursor: pointer;">
                                        <img src="~/wwwroot/plugins/images/CERRAR.png" style="margin: 0px 0px 3px 10px; " />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-heading" style="padding: 5px 0px 5px 5px; ">
                                <img src="~/wwwroot/plugins/images/BUS3.png" style="margin-bottom: 3px; " />
                                <label class="control-label" style="margin-left: 10px; font-size: 12px; ">
                                    Con embarque en: Lima, Plaza Norte, 9:00 am.
                                </label>
                                <div class="panel-action">
                                    <button type="button"
                                            id="btnDesplegar"
                                            class="btn btn-default btn-sm waves-effect waves-light btn-emp"
                                            style="color: #fff; font-weight: 400;padding: 1px 10px;"
                                            href="#"
                                            data-perform="panel-collapse"
                                            @@click="showTextTurnos = !showTextTurnos">
                                        <template v-if="showTextTurnos">
                                            <span class="mdi mdi-arrow-down-bold-circle fa-fw"></span>DESPLEGAR TURNOS
                                        </template>
                                        <template v-else>
                                            <span class="mdi mdi-arrow-up-bold-circle fa-fw"></span>CONTRAER TURNOS
                                        </template>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body" style="padding: 15px 0px 0px 0px; ">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Sucursal:</label>
                                            <v-select v-model="filtro.CodiSucursal"
                                                      :id="'cboSucursal'"
                                                      :get-option-label="getLabel"
                                                      :options="list.sucursales"
                                                      :placeholder="'SUCURSAL'"
                                                      v-on:keyup.enter="test($event)"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Origen bus:</label>
                                            <v-select v-model="filtro.CodiOrigenBus"
                                                      :id="'cboOrigenBus'"
                                                      :get-option-label="getLabel"
                                                      :options="list.origenesBus"
                                                      :placeholder="'ORIGEN BUS'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">P.V. Origen bus:</label>
                                            <v-select v-model="filtro.CodiPVOrigenBus"
                                                      :id="'cboPVOrigenBus'"
                                                      :get-option-label="getLabel"
                                                      :options="list.pvOrigenesBus"
                                                      :placeholder="'P.V. ORIGEN BUS'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Destino bus:</label>
                                            <v-select v-model="filtro.CodiDestinoBus"
                                                      :id="'cboDestinoBus_2'"
                                                      :get-option-label="getLabel"
                                                      :options="list.destinosBus"
                                                      :placeholder="'DESTINO BUS'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Servicio:</label>
                                            <v-select v-model="filtro.CodiServicio"
                                                      :id="'cboServicio'"
                                                      :get-option-label="getLabel"
                                                      :options="list.servicios"
                                                      :placeholder="'SERVICIO'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="float: right;text-align:center;">
                                        <div style="border-left: 1px solid rgb(228, 231, 234);">
                                            <label>OTROS TURNOS</label>
                                            <div style="overflow-y:auto;height: 100px;">
                                                <ul style="list-style-type: none;padding-left: 0;">
                                                    <li v-for="item in list.turnos">
                                                        <a @@click="changeTurno(item)" style="cursor:pointer;font-weight: 500; color: #2A97F4">{{item.HoraPartida}}. - {{item.NomServicio}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Destino pasajero:</label>
                                            <v-select v-model="filtro.CodiDestinoPas"
                                                      :id="'cboDestinoPas_2'"
                                                      :get-option-label="getLabel"
                                                      :options="list.destinosPas"
                                                      :placeholder="'DESTINO PASAJERO'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label">Turno:</label>
                                            <input @@blur="filtro.Turno = $event.target.value.trim()"
                                                   :value="filtro.Turno"
                                                   @*v-mask="'##:## AM'"*@
                                                   type="text"
                                                   id="txtTurno"
                                                   class="form-control input-sm dph"
                                                   placeholder="TURNO"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group ">
                                            <label class="control-label">Fecha Viaje:</label>
                                            <input @@blur="filtro.Fecha = $event.target.value.trim()"
                                                   :value="filtro.Fecha"
                                                   type="text"
                                                   id="txtFecha_2"
                                                   class="form-control input-sm dp"
                                                   placeholder="FECHA"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="text-align: center; margin-top: 27px; ">
                                        <label id="lblNameDay_Fecha"
                                               class="control-label"
                                               style="color: #ff7601; font-size: 14px; ">
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group ">
                                            <label class="control-label">&nbsp;</label>
                                            <input value="USUARIO: @usuario.Nombre.ToString().ToUpper() - @usuario.CodiUsuario.ToString()"
                                                   type="text"
                                                   class="form-control input-sm"
                                                   placeholder="USUARIO"
                                                   readonly="readonly"
                                                   style="font-weight: 500; background-color: #fff; "
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-show="showPlano" class="col-md-12" style="background-color:white;height:40px;">
                        <div class="col-md-4 bgc-emp" style="height:100%;border-radius: 8px 8px 0 0;margin-left: 20px;">

                        </div>
                    </div>
                    <div v-show="showPlano" class="container-bus bgc-emp">
                        <div class="col-md-12" style="background-color: white; height: 40px;margin-bottom: 15px;border-radius: 4px;">

                        </div>
                        <div class="img-bus">
                            <img src="~/wwwroot/plugins/images/users/cabecera-bus.png" />
                        </div>
                        <div class="table-responsive form-bus">
                            <table id="tblLista" class="table table-bus">
                                <tbody>
                                    <tr>
                                        <td v-for="(item, key) in list.plano1" class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus" @@click="bloquearAsiento(item)" :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento, item.IDS)">
                                                    <div class="icons-of-seat" v-if="item.FechaVenta">
                                                        <span class="ios-left">
                                                            <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                        </span>
                                                        <span class="ios-right">TE</span>
                                                    </div>
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano2" class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus" @@click="bloquearAsiento(item)" :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento, item.IDS)">
                                                    <div class="icons-of-seat" v-if="item.FechaVenta">
                                                        <span class="ios-left">
                                                            <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                        </span>
                                                        <span class="ios-right">TE</span>
                                                    </div>
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano3" class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus" @@click="bloquearAsiento(item)" :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento, item.IDS)">
                                                    <div class="icons-of-seat" v-if="item.FechaVenta">
                                                        <span class="ios-left">
                                                            <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                        </span>
                                                        <span class="ios-right">TE</span>
                                                    </div>
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano4" class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus" @@click="bloquearAsiento(item)" :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento, item.IDS)">
                                                    <div class="icons-of-seat" v-if="item.FechaVenta">
                                                        <span class="ios-left">
                                                            <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                        </span>
                                                        <span class="ios-right">TE</span>
                                                    </div>
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-for="(item, key) in list.plano5" class="bus-td">
                                            <template v-if="!isNaN(item.Tipo)">
                                                <button class="btn btn-bus" @@click="bloquearAsiento(item)" :style="bgcVentaBus(item.FechaVenta, item.Color, item.NumeAsiento, item.IDS)">
                                                    <div class="icons-of-seat" v-if="item.FechaVenta">
                                                        <span class="ios-left">
                                                            <img :src="iconVentaBus(item.Sexo, item.Edad)" />
                                                        </span>
                                                        <span class="ios-right">TE</span>
                                                    </div>
                                                    <div class="number-of-seat">
                                                        {{item.Tipo}}
                                                    </div>
                                                </button>
                                            </template>
                                            <template v-else>
                                                <span :class="[item.Tipo]"></span>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div v-show="showPlano" class="col-md-12" style="margin-top: 15px; padding: 0px; ">
                        <div class="col-md-1" style="height: 200px; width: 50px; ">

                        </div>
                        <div class="col-md-10" style="border: 1px solid #009cff; width: calc(100% - 100px); border-radius: 10px; padding: 15px 15px 5px 15px; ">
                            <div class="col-md-1">
                                <div class="col-md-12">
                                    <div class="form-group" style="border: 1px solid #009cff; text-align: center; border-radius: 5px; padding: 5px 0px; ">
                                        <label class="control-label" style="width: 100%; font-weight: 500; ">Nº ASIENTO</label>
                                        <input v-model="objVenta.NroAsiento"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="Nº"
                                               style="text-align: center; border-color: #fff; font-size: 30px !important; font-weight: 500; "
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" style="width: 100%; ">Tipo de documento:</label>
                                        <v-select v-model="objVenta.CodiTipoDoc"
                                                  :id="'cboTipoDoc'"
                                                  label="label"
                                                  :options="list.tiposDoc"
                                                  :placeholder="'TIPO'"
                                                  style="width: 50%; display: inline-block; "
                                                  ref="select">
                                            <span slot="no-options" class="text-danger">No hay resultados</span>
                                        </v-select>
                                        <input v-model="objVenta.Documento"
                                               id="txtDocumento"
                                               type="text"
                                               @@keypress.13.prevent="searchUser"
                                               class="form-control input-sm"
                                               placeholder="DOCUMENTO"
                                               style="width: 50%; display: inline-block; float: right; "
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Nombres:</label>
                                        <input v-model="objVenta.Nombres"
                                               @@keypress.13.prevent="recorridoSectionVentas"
                                               id="txtNombres"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="NOMBRES"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Apellidos:</label>
                                        <input v-model="objVenta.Apellidos"
                                               @@keypress.13.prevent="recorridoSectionVentas"
                                               id="txtApellidos"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="Apellidos"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Fecha de nacimiento:</label>
                                        <input @@blur="objVenta.FechaNac = $event.target.value.trim()"
                                               :value="objVenta.FechaNac"
                                               type="text"
                                               id="txtFechaNac"
                                               class="form-control input-sm dp"
                                               placeholder="FECHA NACIMIENTO"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group ">
                                        <label class="control-label">Edad:</label>
                                        <input :value="objVenta.Edad"
                                               @@keypress.13.prevent="recorridoSectionVentas"
                                               type="text"
                                               id="txtEdad"
                                               class="form-control input-sm"
                                               placeholder="EDAD"
                                               style="text-align: center; "
                                               readonly="readonly"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding: 0px; ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Sexo:</label>
                                            <v-select v-model="objVenta.Sexo"
                                                      :id="'cboSexo'"
                                                      label="label"
                                                      :options="list.sexos"
                                                      :placeholder="'SEXO'"
                                                      ref="select">
                                                <span slot="no-options" class="text-danger">No hay resultados</span>
                                            </v-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Teléfono:</label>
                                            <input v-model="objVenta.Telefono"
                                                   @@keypress.13.prevent="recorridoSectionVentas"
                                                   id="txtTelefono"
                                                   type="text"
                                                   class="form-control input-sm"
                                                   placeholder="TELÉFONO"
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">RUC:</label>
                                        <input v-model="objVenta.Ruc"
                                               @@keypress.13.prevent="recorridoSectionVentas"
                                               id="txtRuc"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="RUC"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <label class="control-label">Recoger:</label>
                                        <input v-model="objVenta.Recoger"
                                               @@keypress.13.prevent="recorridoSectionVentas"
                                               id="txtRecoger"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="RECOGER"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group ">
                                        <label class="control-label">Reintegro:</label>
                                        <input v-model="objVenta.Reintegro"
                                               @@keypress.13.prevent="saveUser"
                                               id="txtReintegro"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="REINTEGRO"
                                               autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">Observación:</label>
                                        <input v-model="objVenta.Observacion"
                                               id="txtObservacion"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="OBSERVACIÓN"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-8" style="float:right; padding: 0px; ">
                                    <div class="col-md-4">
                                        <label class="control-label" style="width: 100%; ">&nbsp;</label>
                                        <div class="form-group" style="border: 1px solid #009cff; height: 66px; border-radius: 5px; padding: 5px 0px; ">
                                            <label class="control-label" style="text-align: center; width: 100%; font-weight: 500; ">PRECIO S/</label>
                                            <input v-model="objVenta.Precio"
                                                   id="txtPrecio"
                                                   type="text"
                                                   class="form-control input-sm"
                                                   placeholder="PRECIO"
                                                   style="text-align: center; border-color: #fff; font-size: 30px !important; font-weight: 500; "
                                                   autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label" style="width: 100%; ">&nbsp;</label>
                                            <button class="btn btn-secondary"
                                                    style="width: 100%; ">
                                                $ Tipo pago
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-5" style="float: right; ">
                                        <div class="form-group">
                                            <label class="control-label" style="width: 100%; ">&nbsp;</label>
                                            <textarea style="width: 100%; height: 66px; border-radius: 5px; border-color: #e4e7ea; "></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-secondary"
                                                    style="width: 100%; ">
                                                <img src="~/wwwroot/plugins/images/PAGO.png" />
                                                Pago mult.
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <button class="btn btn-secondary"
                                                style="width: 100%; font-weight: 500; background-color: #fff; border-color: #009cff; ">
                                            <img src="~/wwwroot/plugins/images/NINIO2.png" />
                                            REGISTRAR NIÑO
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-12">
                                    <div class="form-group" style="text-align: center; ">
                                        <label class="control-label" style="width: 100%; ">Nº Venta</label>
                                        <input :value="objVenta.NroVenta"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="Nº VENTA"
                                               readonly="readonly"
                                               style="text-align: center; "
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="text-align: center; ">
                                        <label class="control-label" style="width: 100%; ">Nº Solicitud</label>
                                        <input v-model="objVenta.NroSolicitud"
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="Nº SOLICITUD"
                                               readonly="readonly"
                                               style="text-align: center; "
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="text-align: center; ">
                                        <label class="control-label" style="width: 100%; ">Fecha de venta</label>
                                        <input @@blur="objVenta.FechaVen = $event.target.value.trim()"
                                               :value="objVenta.FechaVen"
                                               type="text"
                                               id="txtFechaVen"
                                               class="form-control input-sm dp"
                                               placeholder="FECHA VENTA"
                                               style="text-align: center; "
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="height: 200px; width: 50px; ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
