<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsConsultaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://integradores.jelaf.pe/WsRUC/WsConsulta.asmx" binding="basicHttpBinding" bindingConfiguration="WsConsultaSoap" contract="ServicioConsultaDNIRUC.WsConsultaSoap" name="WsConsultaSoap" />
        </client>
    </system.serviceModel>
</configuration>