@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section styles{
    <style type="text/css">
        #principal {
            text-align: center;
            width: 100%;
        }

            #principal .item {
                background: #fff;
                border: 1px solid #e8e8e8;
                border-bottom: 5px solid #999999;
                display: inline-block;
                height: 175px;
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 20px;
                text-align: center;
                width: 150px;
            }

            #principal img {
                margin-top: 30px;
                margin-bottom: 10px;
            }

            #principal h5 {
                font-weight: 500;
            }

            #principal .item:hover {
                border-bottom: 5px solid #009cff !important;
            }

        @@media(max-width: 600px) {
            #principal .item {
                height: 140px;
            }

            #principal img {
                margin-top: 20px;
            }
        }
    </style>
}


<div id="principal">

    <a href="@Url.Action("Index","Itinerarios")">
        <div id="itemVentas" class="item" @@mouseover="changeImg1(0)" @@mouseout="changeImg1(1)">
            <img id="ventas" :src="img1" />
            <h5>Ventas</h5>
        </div>
    </a>

    <a href="javascript:void(0);">
        <div id="itemClientes" class="item" @@mouseover="changeImg2(0)" @@mouseout="changeImg2(1)">
            <img id="clientes" :src="img2" />
            <h5>Clientes</h5>
        </div>
    </a>

    <a href="javascript:void(0);">
        <div id="itemCorrelativos" class="item" @@mouseover="changeImg3(0)" @@mouseout="changeImg3(1)">
            <img id="correlativos" :src="img3" />
            <h5>Correlativos</h5>
        </div>
    </a>

    <a href="javascript:void(0);">
        <div id="itemRutas" class="item" @@mouseover="changeImg4(0)" @@mouseout="changeImg4(1)">
            <img id="rutas" :src="img4" />
            <h5>Rutas y precios</h5>
        </div>
    </a>

    <a href="javascript:void(0);">
        <div id="itemLiquidaciones" class="item" @@mouseover="changeImg5(0)" @@mouseout="changeImg5(1)">
            <img id="liquidaciones" :src="img5" />
            <h5>Liquidación</h5>
        </div>
    </a>

</div>

@section scripts{
    <script type="text/javascript">
        var classOne = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        var Class = 'item pulse animated';

        var Principal = new Vue({
            el: '#principal',
            data: {
                img1: '/wwwroot/plugins/images/VENTA1.png',
                img2: '/wwwroot/plugins/images/CLIENTE1.png',
                img3: '/wwwroot/plugins/images/CORELA1.png',
                img4: '/wwwroot/plugins/images/RUTAS1.png',
                img5: '/wwwroot/plugins/images/LIQ1.png',
            },
            mounted: function () {
                window.addEventListener('keyup', function (event) {
                    if (event.keyCode == 49 || event.keyCode == 97) { $('#itemVentas').click(); }
                    else if (event.keyCode == 50 || event.keyCode == 98) { }
                    else if (event.keyCode == 51 || event.keyCode == 99) { }
                    else if (event.keyCode == 52 || event.keyCode == 100) { }
                    else if (event.keyCode == 53 || event.keyCode == 101) { }
                });
            },
            methods: {
                changeImg1: function (index) {
                    if (index === 0) {
                        this.img1 = '/wwwroot/plugins/images/VENTA2.png';
                        $('#itemVentas').removeClass().addClass(Class).one(classOne, function () {
                            $(this).removeClass().addClass('item');
                        });
                    } else {
                        this.img1 = '/wwwroot/plugins/images/VENTA1.png';
                    }
                },
                changeImg2: function (index) {
                    if (index === 0) {
                        this.img2 = '/wwwroot/plugins/images/CLIENTES2.png';
                        $('#itemClientes').removeClass().addClass(Class).one(classOne, function () {
                            $(this).removeClass().addClass('item');
                        });
                    } else {
                        this.img2 = '/wwwroot/plugins/images/CLIENTE1.png';
                    }
                },
                changeImg3: function (index) {
                    if (index === 0) {
                        this.img3 = '/wwwroot/plugins/images/CORELA2.png';
                        $('#itemCorrelativos').removeClass().addClass(Class).one(classOne, function () {
                            $(this).removeClass().addClass('item');
                        });
                    } else {
                        this.img3 = '/wwwroot/plugins/images/CORELA1.png';
                    }
                },
                changeImg4: function (index) {
                    if (index === 0) {
                        this.img4 = '/wwwroot/plugins/images/RUTAS2.png';
                        $('#itemRutas').removeClass().addClass(Class).one(classOne, function () {
                            $(this).removeClass().addClass('item');
                        });
                    } else {
                        this.img4 = '/wwwroot/plugins/images/RUTAS1.png';
                    }
                },
                changeImg5: function (index) {
                    if (index === 0) {
                        this.img5 = '/wwwroot/plugins/images/LIQU2.png';
                        $('#itemLiquidaciones').removeClass().addClass(Class).one(classOne, function () {
                            $(this).removeClass().addClass('item');
                        });
                    } else {
                        this.img5 = '/wwwroot/plugins/images/LIQ1.png';
                    }
                },
            }
        });
    </script>
}