/*Reducir Cabecera de plantilla*/
.navbar-header {
    height: unset;
    background-color: #1D4672;
}

/*Todas las columnas con menos padding*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

/*Modal*/
.modal-footer {
    padding: 10px;
    border-radius: 0;
    bottom: 0px;
    position: relative;
    width: 100%;
}

.modal-top-30 {
    top: 30px;
}

.modal-body .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

/*Logo Jelaf Integradores*/
.top-left-part {
    width: 270px !important;
}

@media (max-width: 767px) {
    .top-left-part {
        width: 60px !important;
    }
}

/*Cabecera de los formularios*/
.panel {
    margin-bottom: 10px;
}

    .panel .panel-heading {
        padding: 15px;
    }

        .panel .panel-heading a i {
            font-size: 12px;
            margin-left: 0px;
        }

.panel-default .panel-heading,
.panel-white .panel-heading {
    min-height: 54px;
}

.panel .panel-body {
    padding: 15px;
}

.white-box {
    padding: 15px;
}

.table {
    cursor: default;
    border: 1px solid;
    border-color: #E4E7EA;
}

.thead-custom {
    border: 1px solid black !important;
}


.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: #FEF8E2;
    cursor: no-drop;
}

/*Autocomplete en modal*/
ul.ui-autocomplete {
    z-index: 1100;
}

/*Todo el cuerpo con tamañano de letra*/
body {
    font-size: 12px !important;
}

.form-control {
    font-size: 12px !important;
}

.btn {
    font-size: 12px;
}

/*Estilos de table vue-fix*/
.all-table-wrap {
    width: 100%;
    position: relative;
    cursor: default;
}

    .all-table-wrap thead th {
        background-color: #f5f7f9;
        border: 1px solid #616E7E;
        /*height: 40px;*/
        height: 20px;
    }

.table-style th {
    /*color: #657180;*/
    color: white;
    font-size: 12px;
    border: 1px solid #e3e8ee;
    background-color: #616E7E !important;
}

.tr-hover {
    background-color: #ebf7ff !important;
}

.table-style tbody tr:nth-child(even) {
    background: #f5f7f9;
}

.table-style td {
    padding: 4px 6px;
    color: #657180;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e3e8ee;
}

.table-wrap {
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.fixRow-table {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    z-index: 22;
}

.table-t {
    width: 100%;
}

    .table-t thead th {
        padding: 0 8px;
        border-bottom: none;
    }

    .table-t tbody tr:first-child > td {
        border-top: none;
    }

.table-wrap::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
}

/*.table-wrap:hover::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #f5f5f5;
        }*/

.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 1 6px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-color: #f5f5f5;
}

.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1 6px rgba(0, 0, 0, .3);
    background-color: #d2d2d2;
}

.table-wrap::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
}

.table-fix-tbody-wrap {
    /*top: -40px;*/
    top: -32px;
    position: relative;
}

.fixLeftCol-table-wrap-title {
    position: absolute;
    top: 0;
    background-color: #fff;
    z-index: 99;
}

.fixLeftCol-table-wrap {
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 33;
    top: 0;
    box-shadow: 2px 0 6px -2px rgba(0, 0, 0, .2);
}
/*
        .fixLeftCol-table-wrap tr {
            box-shadow: 2px 0 6px -2px rgba(0, 0, 0, .2);
        }*/

.fixRightCol-table-wrap-title {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #fff;
    z-index: 99;
}

.fixRightCol-table-wrap {
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 33;
    top: 0;
    right: 10px;
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, .2);
}

.no-left-scroll {
    right: 0;
}


.help-block-error {
    color: #F93536;
    display: inline-block;
}

.table > thead:first-child > tr:first-child > th {
    background-color: #616E7E;
}

.form-material .form-control {
    padding-left: 8px;
}

.table-hover tbody tr:hover td {
    /*background-color: #D4FFAA;*/
    background-color: #ECF1F4;
}

.btn-success {
    background-color: #1FDB7D;
}

    .btn-success:hover {
        background-color: #42E493;
    }

/*Custom styles*/
.table-title {
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
}

.row-head {
    background-color: #616E7E;
    color: white;
}

.row-strench {
    padding: 6px 7px !important;
    vertical-align: middle !important;
}

.row-custom {
    padding: 6px !important;
    vertical-align: middle !important;
    font-size: 12px !important;
}

.table > thead:first-child > tr:first-child > th {
    border-top: 0;
    color: white;
}

.spacing {
    margin-left: 15px !important;
}

.icon-on-table {
    float: right !important;
    color: red !important;
    margin: 2px !important;
    padding: 3px !important;
    cursor: pointer !important;
}

    .icon-on-table:hover {
        transform: scale(1.5);
    }

@media (max-width: 991px) {
    .clabel-custom {
        text-align: left !important;
    }
}

.separate-in-form {
    padding-bottom: 5px !important;
}

@media (max-width: 767px) {
    .separate-in-form {
        padding-bottom: 9px !important;
    }
}

@media screen and (min-width: 1px) {
    .table-responsive {
        border: 1px solid #ddd;
        overflow-y: auto;
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        margin-bottom: 15px;
    }

        .table-responsive > .table {
            margin-bottom: 0;
            border: 0;
        }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

        .table-responsive > .table-bordered {
            border: 0;
        }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
}

.v-select .dropdown-toggle,
.vs__selected-options,
.vs__actions {
    height: 30px;
}

.v-select .selected-tag {
    margin: 0 0 0 7px !important;
    padding: 0 !important;
    font-size: 12px;
    font-weight: 400;
}

.v-select .dropdown-menu {
    max-height: 230px !important;
    overflow-x: hidden;
    z-index: 101;
}

.v-select input[type=search],
.v-select input[type=search]:focus {
    margin: 0 !important;
    font-size: 12px !important;
}

.v-select .dropdown-menu li {
    font-size: 12px !important;
}

.v-select .dropdown-toggle .clear {
    font-size: 14px !important;
    color: #2A97F4 !important;
}

.v-select .open-indicator {
    height: 25px;
}

.v-select .dropdown-toggle {
    border: 1px solid #E4E7EA !important;
    background-color: #FFFFFF !important;
}

.v-select .vs__actions {
    position: absolute;
    right: 0;
}

.v-select .dropdown-toggle .clear {
    visibility: hidden;
}

.v-select.open .dropdown-toggle {
    border: 1px solid #66afe9 !important;
}

.vs__selected-options input[type=search] {
    height: 30px;
    padding: 5px 10px;
    line-height: 1.5;
}

.chk-width {
    width: unset;
}

.chk-height {
    height: 30px !important;
}

.footer {
    z-index: 1000;
}

.bordergray {
    /*border: 1px solid;
    border-color: #DDDDDD;*/
    padding: 10px 5px 5px 5px;
    background-color: #F7FAFC
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    margin-top: 30%;
    width: 300px;
}

.form-group {
    margin-bottom: 5px;
}

@media (max-width:600px) and (min-width:768px) {
}

.v-select .open-indicator:before {
    border-color: #2A97F4 !important;
    height: 6px !important;
    width: 6px !important;
}

@media (min-width: 768px) {
    .fix-header #page-wrapper {
        margin-top: 30px;
    }
}

.footer {
    z-index: 100;
}

.custom-radiolist {
    height: 30px;
    padding: 5px;
}

.btn-inverse {
    background-color: #616E7E !important;
}

.radio {
    margin-top: 2px;
    margin-bottom: 2px;
}

.checkbox-list {
    height: 30px;
    padding: 5px;
}

.checkbox {
    margin-top: 2px;
    margin-bottom: 2px;
}

.group-strench {
    margin: -5px 0 -5px -5px;
    padding: 5px;
}

.custom-th {
    /*padding: 8px 10px 8px 10px !important;*/
}

.custom-td {
    padding: 4px 10px 4px 10px !important;
}

.custom-scroll-container ::-webkit-scrollbar {
    /*width: 28px;
    height: 28px;*/
}

.custom-scroll-container ::-webkit-scrollbar-thumb:horizontal {
    /*background: url('/wwwroot/plugins/images/users/SCROLL.png') no-repeat;*/
    /*background-image: url('/wwwroot/plugins/images/users/SCROLL.png');*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 100% 100%;*/
    background-color: #2a97f4;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px;
    /*min-height: 26px;*/
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgb(220, 172, 0), inset 0 -1px 0 rgb(220, 172, 0);
}

.custom-scroll-container ::-webkit-scrollbar-track {
    background: white;
    border-width: 1px;
}

.custom-scroll-container ::-webkit-scrollbar-thumb:vertical {
    background: url('/wwwroot/plugins/images/users/SCROLL2.png') no-repeat;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px;
    min-height: 26px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgb(220, 172, 0), inset 0 -1px 0 rgb(220, 172, 0);
}

/*Variables de Empresa*/
:root {
    --emp-color: #1082c0;
}

.bgc-emp {
    background-color: var(--emp-color);
}

.color-emp {
    color: var(--emp-color);
}

.btn-emp {
    background-color: var(--emp-color);
    border-color: var(--emp-color);
}

    .btn-emp:focus {
        background-color: var(--emp-color);
        border-color: var(--emp-color);
        opacity: 0.3;
    }

    .btn-emp:hover {
        background-color: var(--emp-color);
        border-color: var(--emp-color);
        opacity: 0.6;
    }

.panel-default .panel-heading {
    height: 35px;
    min-height: 35px;
}

.input-group-addon {
    border-radius: 4px;
    border: 1px solid rgb(228, 231, 234);
    color: #2a97f4;
    background-color: white;
}

.form-control:focus {
    box-shadow: none;
    border-color: #66afe9;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: white;
    padding: 3px !important;
    border-radius: 8px;
    cursor: pointer;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 0 !important;
            margin: 0 4px;
            border-radius: 50%;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }

.pagination > li:first-child > a {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%
}

.pagination > li:last-child > a {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.table-responsive > ul {
    display: none;
}

.btn-inverse:focus {
    background-color: #A1ABB7 !important;
    border: 1px solid #A1ABB7 !important;
}

.color-blue {
    color: #2a97f4;
}

.dp {
    font-weight: 400;
}

.dph {
    font-weight: 400;
}

.btn-ticket {
    font-weight: 500;
}

    .btn-ticket:hover {
        opacity: 0.6;
    }

    .btn-ticket:focus {
        opacity: 0.8;
    }

.btn-venta {
    background-color: #004e90;
    background-image: linear-gradient(#1082c0, #004e90);
    border-color: #004e90;
}

.btn-cancelar {
    background-color: #c50000;
    background-image: linear-gradient(#ffffff63, #c50000);
    border-color: #c50000;
}
