@{
    ViewBag.Title = "Ventas";
}

<style type="text/css">
    /* COMMON RADIO AND CHECKBOX STYLES  */
    input[type=radio],
    input[type=checkbox] {
        /* Hide original inputs */
        visibility: hidden;
        position: absolute;
    }

        input[type=radio] + label:before,
        input[type=checkbox] + label:before {
            /*height: 12px;
            width: 12px;
            margin-right: 2px;
            content: " ";
            display: inline-block;
            vertical-align: baseline;*/
            border: 1px solid #777;
        }

        input[type=radio]:checked + label:before,
        input[type=checkbox]:checked + label:before {
            background: gold;
        }

        /* CUSTOM RADIO AND CHECKBOX STYLES */
        input[type=radio] + label:before {
            border-radius: 50%;
        }

        input[type=checkbox] + label:before {
            border-radius: 2px;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <form id="claseBrevetesGridForm" action="/" class="" autocomplete="off">
            <div class="panel panel-default">
                <div class="panel-wrapper" aria-expanded="false">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group has-success">
                                    <label class="col-md-12 text-center" style="font-family:Rubik, sans-serif; font-size:14px;">FILTRAR</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col col-xs-6 col-md-2">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="value">ORIGEN PAS.</option>
                                            <option value="value">text</option>
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-xs-6 col-md-2">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="value">DESTINO PAS.</option>
                                            <option value="value">text</option>
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-xs-6 col-md-2">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="value">DESTINO BUS.</option>
                                            <option value="value">text</option>
                                            <option value="value">text</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-xs-6 col-md-2">
                                    <div class="form-group">
                                        <input type="date" class="form-control" placeholder="FECHA" value="">
                                    </div>
                                </div>
                                <div class="col col-xs-12 col-md-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="HORA DESDE" value="">
                                    </div>
                                </div>
                                <div class="col col-xs-10 col-md-2">
                                    <div class="form-group">
                                        <div class="radio-list">
                                            <label class="radio-inline p-0">
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio1" value="option1">
                                                    <label for="radio1">TODOS</label>
                                                </div>
                                            </label>
                                            <label class="radio-inline">
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio2" value="option2">
                                                    <label for="radio2">PROGRAMADOS</label>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-xs-2 col-md-1">
                                    <button type="button" class="btn btn-info btn-search ajax waves-effect waves-light">
                                        <span class="visible-lg visible-md"><i class="fa fa-search fa-1.5x fa-fw"></i>BUSCAR</span>
                                        <span class="visible-xs visible-sm"><i class="fa fa-search fa-1.5x"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>