@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var JLMrootCode = System.Configuration.ConfigurationManager.AppSettings["JLMrootCode"].ToString();
}

@section styles{
    <style>
        .form-control:focus {
            border-color: #66afe9;
            border-color: rgb(102, 175, 233);
        }
        #appVueLogin {
            width: 300px;
        }
    </style>
}

<div id="appVueLogin">
    <form v-on:submit.prevent="confirmUsuario(filtro)" action="@Url.Content("~/login/redirect")" id="frmLogin" class="form-container" autocomplete="off">
        <div class="form-group m-b-0">
            <div class="separate-in-form">
                <center style="padding-bottom: 20px;">
                    <img width="35%" src="~/wwwroot/plugins/images/owner/venta-comercial.png" />
                </center>
            </div>
            <div class="separate-in-form">
                <v-select v-model="codigoUsuario"
                          :options="list.usuarios"
                          :placeholder="'--- Seleccione usuario ---'"
                          :filterable="false"
                          @@search="getUsuarios"
                          :select-on-tab="true"
                          :id="'txtUsuario'"
                          label="label"
                          ref="usuario">
                    <template slot="option" slot-scope="option">
                        <div>{{ option.id }} - {{ option.label }}</div>
                    </template>
                    <span slot="no-options" class="text-danger">No hay resultados</span>
                </v-select>
            </div>
            <div v-show="filtro.Codigo && filtro.Codigo === '@JLMrootCode'">
                <div class="separate-in-form">
                    <v-select v-model="filtro.Sucursal"
                              :id="'cboSucursal'"
                              label="label"
                              :get-option-label="getLabel"
                              :options="list.sucursales"
                              :placeholder="'Sucursal'"
                              ref="select">
                        <span slot="no-options" class="text-danger">No hay resultados</span>
                    </v-select>
                </div>
                <div class="separate-in-form">
                    <v-select v-model="filtro.PuntoVenta"
                              :id="'cboPuntoVenta'"
                              label="label"
                              :get-option-label="getLabel"
                              :options="list.puntosventa"
                              :placeholder="'Punto de Venta'"
                              ref="select">
                        <span slot="no-options" class="text-danger">No hay resultados</span>
                    </v-select>
                </div>
            </div>
            <div class="separate-in-form">
                <input id="txtContrasena"
                       v-model="filtro.Clave"
                       @@keypress.13="recorrido"
                       type="password"
                       name="txtClave"
                       class="form-control input-sm"
                       placeholder="Password" />
            </div>
            <div style="padding-top: 30px !important; ">
                <button id="btnLogIn" :disabled="!filledFiltro" type="submit" class="btn btn-info btn-block">INGRESAR</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script>

        var appVueLogin = new Vue({
            el: '#appVueLogin',
            data: {
                filtro: {
                    Codigo: 0,
                    Clave: '',
                    Sucursal: null,
                    PuntoVenta: null
                },
                list: {
                    sucursales: [],
                    puntosventa: [],
                    usuarios: []
                }
            },
            mounted: function () {
                this.getUsuarios('', null);
                this.$nextTick(() => {
                    $('#txtUsuario input[type=search]').focus();
                });
            },
            methods: {
                confirmUsuario(filtro) {
                    var input = {};
                    input.Codigo = filtro.Codigo;
                    input.Clave = filtro.Clave;
                    input.Sucursal = filtro.Codigo === '@JLMrootCode' ? filtro.Sucursal.id : '0';
                    input.PuntoVenta = filtro.Codigo === '@JLMrootCode' ? filtro.PuntoVenta.id : '0';
                    input.NomSucursal = filtro.Codigo === '@JLMrootCode' ? filtro.Sucursal.label : '';
                    input.NomPuntoVenta = filtro.Codigo === '@JLMrootCode' ? filtro.PuntoVenta.label : '';
                    APP.rq.axios2.post(APP.base + '/login/post-usuario', input)
                        .then(res => {
                            if (res.data.Estado)
                                $('#frmLogin').submit();
                            else {
                                document.getElementById("txtContrasena").focus();
                                APP.msg.error(res.data.Mensaje);
                            }
                        })
                        .catch(APP.rq.axios_handler_error_alert);
                },
                getSucursales() {
                    var _this = this;
                    APP.rq.axios2.get(APP.base + '/base/get-oficinas')
                        .then(res => {
                            if (res.data.Estado)
                                _this.list.sucursales = res.data.Valor;
                            else
                                APP.msg.error(res.data.Mensaje);
                        })
                        .catch(APP.rq.axios_handler_error_alert);
                },
                getPuntosVenta(Codi_Sucursal) {
                    var _this = this;
                    APP.rq.axios2.get(APP.base + '/base/get-puntosventa', { params: { CodiSucursal: Codi_Sucursal } })
                        .then(res => {
                            if (res.data.Estado)
                                _this.list.puntosventa = res.data.Valor;
                            else
                                APP.msg.error(res.data.Mensaje);
                        })
                        .catch(APP.rq.axios_handler_error_alert);
                },
                getUsuarios: async function (search, loading) {
                    var _this = this;
                    if (loading)
                        loading(true);
                    await APP.rq.axios2.get(APP.base + '/base/get-usuarios' + APP.util.getQueryParamByObject({ value: search }))
                        .then(res => {
                            if (res.data.Estado) {
                                if (loading)
                                    loading(false);
                                _this.list.usuarios = res.data.Valor;
                            }
                            else
                                APP.msg.error(res.data.Mensaje);
                        })
                        .catch(APP.rq.axios_handler_error_alert);
                },
                getLabel(option) {
                    return `${option.id} - ${option.label}`
                },
                recorrido() {
                    var _this = this;
                    if (_this.filtro.Codigo === '@JLMrootCode' && !_this.filtro.Sucursal)
                        $('#cboSucursal input[type=search]').focus();
                    else if (_this.filtro.Codigo === '@JLMrootCode' && !_this.filtro.PuntoVenta)
                        $('#cboPuntoVenta input[type=search]').focus();
                    else if (_this.filtro.Codigo === 0)
                        $('#cboUsuario input[type=search]').focus();
                    else if (!_this.filtro.Clave)
                        document.getElementById("txtContrasena").focus();
                    else
                        document.getElementById("btnLogIn").focus();
                }
            },
            computed: {
                filledFiltro: function() {
                    var _this = this;
                    if (_this.filtro.Codigo) {
                        if (_this.filtro.Codigo === '@JLMrootCode') {
                            return (
                                _this.filtro.Sucursal &&
                                _this.filtro.PuntoVenta &&
                                _this.filtro.Codigo > 0 &&
                                _this.filtro.Clave) ? true : false;
                        }
                        else {
                            return (
                                _this.filtro.Codigo > 0 &&
                                _this.filtro.Clave) ? true : false;
                        }
                    }
                },
                codigoUsuario: {
                    get: function () {
                        if (this.list.usuarios.length > 0 && this.list.usuarios.find(x => x.id === parseInt(this.filtro.Codigo)))
                            return this.list.usuarios.find(x => x.id === parseInt(this.filtro.Codigo))
                    },
                    set: function (value) {
                        if (value) {
                            if (this.list.usuarios.find(x => x.id === value.id)) {
                                this.filtro.Codigo = value.id;
                                this.recorrido();
                            }
                        }
                        else
                            this.filtro.Codigo = '';
                    }
                }
            },
            watch: {
                'filtro.Sucursal': function (newVal, oldVal) {
                    if (newVal) {
                        if (String(newVal.id).replace(/\s/g, '').length > 0)
                            this.getPuntosVenta(newVal.id);
                    }
                    else {
                        this.list.puntosventa = [];
                        this.filtro.PuntoVenta = null;
                    }
                    this.recorrido();
                },
                'filtro.PuntoVenta': function (newVal, oldVal) {
                    this.recorrido();
                },
                'filtro.Codigo': function (newVal, oldVal) {
                    if (this.filtro.Codigo === '@JLMrootCode' && this.list.sucursales.length === 0)
                        this.getSucursales();

                    this.$nextTick(function () {
                        this.recorrido();
                    });
                }
            }
        });

    </script>
}
