@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section styles{
    <style>
        .form-control:focus {
            border-color: #66afe9;
            border-top-color: rgb(102, 175, 233);
            border-right-color: rgb(102, 175, 233);
            border-bottom-color: rgb(102, 175, 233);
            border-left-color: rgb(102, 175, 233);
        }

        .v-select.open .dropdown-toggle {
            border: 1px solid #66afe9 !important;
        }

        /*button:disabled {
            background-color: #DFE1FF !important
        }

        button:hover:disabled {
            color: red !important;
            border-color: #FC9898 !important;
        }*/
    </style>
}

<div id="appVueLogin">
    <form v-on:submit.prevent="confirmUsuario(filtro)" action="@Url.Content("~/login/redirect")" id="frmLogin" class="form-container" autocomplete="off">
        <div class="form-group m-b-0">
            <div class="separate-in-form">
                <center style="padding-bottom: 20px;">
                    <img width="35%" src="~/wwwroot/plugins/images/owner/venta-comercial.png" />
                </center>
            </div>
            <div v-show="filtro.Nombre !== null && filtro.Nombre.id === '339'">
                <div class="separate-in-form">
                    <v-select v-model="filtro.Sucursal"
                              :id="'cboSucursal'"
                              label="label"
                              :get-option-label="getLabel"
                              :options="list.sucursales"
                              :placeholder="'Sucursal'"
                              ref="select">
                        <span slot="no-options" class="text-danger">No hay resultados</span>
                    </v-select>
                </div>
                <div class="separate-in-form">
                    <v-select v-model="filtro.PuntoVenta"
                              :id="'cboPuntoVenta'"
                              label="label"
                              :get-option-label="getLabel"
                              :options="list.puntosventa"
                              :placeholder="'Punto de Venta'"
                              ref="select">
                        <span slot="no-options" class="text-danger">No hay resultados</span>
                    </v-select>
                </div>
            </div>
            <div class="separate-in-form">
                <v-select v-model="filtro.Nombre"
                          :id="'cboUsuario'"
                          label="label"
                          :get-option-label="getLabel"
                          :options="list.usuarios"
                          :placeholder="'Cajero'"
                          ref="select">
                    <span slot="no-options" class="text-danger">No hay resultados</span>
                </v-select>
            </div>
            <div class="separate-in-form">
                <input id="txtContrasena"
                       v-model="filtro.Clave"
                       @@keypress.13="recorrido"
                       type="password"
                       name="txtClave"
                       class="form-control input-sm"
                       placeholder="Password" />
            </div>
            <div style="padding-top: 30px !important; ">
                <button id="btnLogIn" :disabled="!filledFiltro" type="submit" class="btn btn-info btn-block">INGRESAR</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script>

        var appVueLogin = new Vue({
            el: '#appVueLogin',
            data: {
                filtro: {
                    Nombre: null,
                    Clave: '',
                    Sucursal: null,
                    PuntoVenta: null
                },
                list: {
                    sucursales: [],
                    puntosventa: [],
                    usuarios: []
                }
            },
            mounted: function () {
                //this.$refs.select.open = true
                $(".preloader").fadeIn();
                this.getUsuarios();
                this.$nextTick(() => {
                    $('.vs__selected-options input[type=search]').addClass('input-sm');
                    $('#cboUsuario input[type=search]').focus();
                    $(".preloader").fadeOut();
                });
            },
            methods: {
                confirmUsuario(filtro) {
                    var input = {};
                    input.Nombre = filtro.Nombre.id;
                    input.Clave = filtro.Clave;
                    input.Sucursal = filtro.Nombre.id === '339' ? filtro.Sucursal.id : '0';
                    input.PuntoVenta = filtro.Nombre.id === '339' ? filtro.PuntoVenta.id : '0';
                    APP.rq.axios2.post(APP.base + '/login/post-usuario', input)
                        .then(res => {
                            if (res.data.mensaje === 'Log success') {
                                $('#frmLogin').submit();
                            } else {
                                APP.msg.warning(res.data.mensaje);
                            }
                        }).catch(APP.rq.axios_handler_error_alert);
                },
                getSucursales() {
                    var _this = this;
                    APP.rq.axios2.get(APP.base + '/base/get-oficinas')
                        .then(res => {
                            _this.list.sucursales = res.data;
                        }).catch(APP.rq.axios_handler_error_alert);
                },
                getPuntosVenta(Codi_Sucursal) {
                    var _this = this;
                    APP.rq.axios2.get(APP.base + '/base/get-puntosventa', { params: { CodiSucursal: Codi_Sucursal } })
                        .then(res => {
                            _this.list.puntosventa = res.data;
                        }).catch(APP.rq.axios_handler_error_alert);
                },
                getUsuarios() {
                    var _this = this;
                    APP.rq.axios2.get(APP.base + '/base/get-usuarios')
                        .then(res => {
                            _this.list.usuarios = res.data;
                        }).catch(APP.rq.axios_handler_error_alert);
                },
                getLabel(option) {
                    return `${option.id} - ${option.label}`
                },
                recorrido() {
                    var _this = this;
                    if (_this.filtro.Nombre.id === '339' && _this.filtro.Sucursal === null)
                        $('#cboSucursal input[type=search]').focus();
                    else if (_this.filtro.Nombre.id === '339' && _this.filtro.PuntoVenta === null)
                        $('#cboPuntoVenta input[type=search]').focus();
                    else if (_this.filtro.Nombre === null)
                        $('#cboUsuario input[type=search]').focus();
                    else if (_this.filtro.Clave === '')
                        document.getElementById("txtContrasena").focus();
                    else
                        document.getElementById("btnLogIn").focus();
                }
            },
            computed: {
                filledFiltro: function () {
                    var _this = this;
                    if (_this.filtro.Nombre !== null && _this.filtro.Nombre.id === '339')
                    {
                        return (
                            _this.filtro.Sucursal !== null &&
                            _this.filtro.PuntoVenta !== null &&
                            _this.filtro.Nombre !== null &&
                            _this.filtro.Clave) ? true : false;
                    }
                    else
                    {
                        return (
                            _this.filtro.Nombre !== null &&
                            _this.filtro.Clave) ? true : false;
                    }
                }
            },
            watch: {
                'filtro.Sucursal': function (newVal, oldVal) {
                    if (newVal) {
                        if (String(newVal.id).replace(/\s/g, '').length > 0) {
                            this.getPuntosVenta(newVal.id);
                        }
                    } else {
                        this.list.puntosventa = [];
                        this.filtro.PuntoVenta = null;
                        //this.list.usuarios = [];
                        //this.filtro.Nombre = null;
                        //this.filtro.Clave = '';
                    }
                    this.recorrido();
                },
                'filtro.PuntoVenta': function (newVal, oldVal) {
                    //if (newVal) {
                    //    if (String(newVal.id).replace(/\s/g, '').length > 0) {
                    //        this.getUsuarios(newVal.id);
                    //    }
                    //} else {
                    //    this.list.usuarios = [];
                    //    this.filtro.Nombre = null;
                    //    this.filtro.Clave = '';
                    //}
                    this.recorrido();
                },
                'filtro.Nombre': function (newVal, oldVal) {
                    if (this.filtro.Nombre.id === '339' && this.list.sucursales.length === 0)
                        this.getSucursales();
                    this.$nextTick(function () {
                        this.recorrido();
                    });
                }
            }
        });

    </script>
}
