<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="SisComercialWeb.log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="CnPasajes" connectionString="Data Source=192.168.15.181\SQLCOM_2012; Initial Catalog=BDPASAJE_N;User=SA;Password=123456789" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="SetCommandTimeoutInSeconds" value="3000"/>
    
    <add key="userWebSUNAT" value="WEBPASAJES"/>
    <add key="motivoAnulacionFE" value="ANULACIÓN DE COMPROBANTE"/>
    
    <add key="serviceRENIEC" value="http://aplicaciones007.jne.gob.pe/srop_publico/Consulta/Afiliado/"/>
    <add key="serviceSUNAT" value="https://api.sunat.cloud/ruc/"/>
    
    <add key="codiCorrelativoVentaBoleta" value="16" />
    <add key="codiCorrelativoVentaFactura" value="17" />
    <add key="codiCorrelativoPaseBoleta" value="77" />
    <add key="codiCorrelativoPaseFactura" value="78" />
    <add key="codiSerieReserva" value="-98" />

    <add key="tipoImprimir" value="Impresion" />
    <add key="tipoReimprimir" value="Reimpresion" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Ws_SeeFacteSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding openTimeout="24.20:31:23.6470000"
                 closeTimeout="24.20:31:23.6470000"
                 sendTimeout="24.20:31:23.6470000"
                 receiveTimeout="24.20:31:23.6470000">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://integradores.jelaf.pe/WsFacte_Prueba/Ws_SeeFacte.asmx"
        binding="basicHttpBinding" bindingConfiguration="Ws_SeeFacteSoap"
        contract="ServiceFE.Ws_SeeFacteSoap" name="Ws_SeeFacteSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>