@using SisComWeb.Aplication.Helpers
@{
    var usuario = DataSession.UsuarioLogueado;
}

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header" id="appVueNavarHeader">
        <div class="top-left-part">
            <a class="logo" href="javascript:void(0);">
                <b class="hidden-xs">
                    <img height="40" src="~/wwwroot/plugins/images/users/flores.png" style="padding-left: 40%;" />
                </b>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-left">
            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;"><i class="ti-close ti-menu fa-fw"></i>Herramientas</a></li>
        </ul>
        <ul class="nav navbar-top-links navbar-left">
            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs"><i class="ti-close ti-menu"></i></a></li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a href="@Url.Action("Logout", "Autenticacion")">
                    <i class="fa fa-user fa-fw"></i>@usuario.Nombre &ensp;
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>