
<style>
    footer {
        background: #0e2843 !important;
        color: #fff !important;
        padding: 5px 0px !important;
        height: 100px;
    }

        footer #footer_contenedor {
            float: left;
            width: 100%;
        }

        footer .footer_column {
            float: left;
            line-height: 70px;
            text-align: center;
        }

        footer a {
            color: #fff;
            cursor: pointer;
            font-size: 11px;
            margin-left: 5px;
        }

            footer a:hover {
                color: #009cff;
            }

        footer p {
            margin: 0px;
            text-align: center;
        }
</style>

<footer class="footer">

    <div id="footer_contenedor">
        <div class="footer_column hidden-xs" style="width: 30%; ">
            <img src="~/wwwroot/plugins/images/logo-jelafazul-blanco.png" height="45" width="150" />
        </div>
        <div class="footer_column visible-xs" style="width: 30%; ">
            <img src="~/wwwroot/plugins/images/logo-jelafazul-blanco-recortado.png" height="45" width="61" />
        </div>
        <div class="footer_column" style="width: 40%; ">
            <a>Inicio</a>
            <a>Nosotros</a>
            <a>Soporte</a>
        </div>
        <div class="footer_column" style="width: 30%; ">
            <a href="https://www.facebook.com/" target="_blank"><img src="~/wwwroot/plugins/images/FACB.png" /></a>
            <a href="https://pe.linkedin.com/" target="_blank"><img src="~/wwwroot/plugins/images/LINKDIN.png" /></a>
        </div>
    </div>

    <p>Copyright &copy; @DateTime.Now.Year. Jelaf Integradores</p>

</footer>
