@using SisComWeb.Aplication.Helpers
@{
    var usuario = DataSession.UsuarioLogueado;
}

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header" id="appVueNavarHeader">
        <div class="top-left-part">
            <a class="logo" href="@Url.Action("Index", "principal")">
                <b class="hidden-xs">
                    <img height="40" src="~/wwwroot/plugins/images/users/flores.png" style="padding-left: 40%;" />
                </b>
            </a>
            <button class="hidden" id="btnHiddenBloquearBus"></button>
            <button class="hidden" id="btnHiddenLiberarBus"></button>
        </div>
        <ul class="nav navbar-top-links navbar-left">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" style="font-size:14px !important;"
                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i id="herramientas" class="ti-close ti-menu fa-fw"></i>Herramientas
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);">
                            Mantenimiento
                            &ensp;<span class="fa fa-caret-right"></span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0);">
                            Pasajes
                            &ensp;<span class="fa fa-caret-right"></span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0);">
                            Reportes
                            &ensp;<span class="fa fa-caret-right"></span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0);">
                            Utilitario
                            &ensp;<span class="fa fa-caret-right"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;" onmouseover="hoverV();" onmouseout="unhoverV();">
                    @*<img id="ventas" src="~/wwwroot/plugins/images/VENTA1.png" width="20" height="20" />*@
                    &ensp; Ventas
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;" onmouseover="hoverC();" onmouseout="unhoverC();">
                    @*<img id="clientes" src="~/wwwroot/plugins/images/CLIENTE1.png" width="20" height="20" />*@
                    &ensp; Clientes
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;" onmouseover="hoverCo();" onmouseout="unhoverCo();">
                    @*<img id="correlativos" src="~/wwwroot/plugins/images/CORELA1.png" width="20" height="20" />*@
                    &ensp; Correlativos
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;" onmouseover="hoverR();" onmouseout="unhoverR();">
                    @*<img id="rutas" src="~/wwwroot/plugins/images/RUTAS1.png" width="20" height="20" />*@
                    &ensp; Rutas/Precios
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light hidden-xs" style="font-size:14px !important;" onmouseover="hoverL();" onmouseout="unhoverL();">
                    @*<img id="liquidaciones" src="~/wwwroot/plugins/images/LIQ1.png" width="20" height="20" />*@
                    &ensp; Liquidaciones
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a>
                    <i class="fa fa-user fa-fw"></i>@usuario.Nombre &ensp;
                </a>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Autenticacion")">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    function unhoverV() {
        $("#ventas").attr("src", "/wwwroot/plugins/images/VENTA1.png");
    }

    function hoverV() {
        $("#ventas").attr("src", "/wwwroot/plugins/images/VENTA2.png");
    }

    function unhoverC() {
        $("#clientes").attr("src", "/wwwroot/plugins/images/CLIENTE1.png");
    }

    function hoverC() {
        $("#clientes").attr("src", "/wwwroot/plugins/images/CLIENTES2.png");
    }

    function unhoverCo() {
        $("#correlativos").attr("src", "/wwwroot/plugins/images/CORELA1.png");
    }

    function hoverCo() {
        $("#correlativos").attr("src", "/wwwroot/plugins/images/CORELA2.png");
    }

    function unhoverR() {
        $("#rutas").attr("src", "/wwwroot/plugins/images/RUTAS1.png");
    }

    function hoverR() {
        $("#rutas").attr("src", "/wwwroot/plugins/images/RUTAS2.png");
    }

    function unhoverL() {
        $("#liquidaciones").attr("src", "/wwwroot/plugins/images/LIQ1.png");
    }

    function hoverL() {
        $("#liquidaciones").attr("src", "/wwwroot/plugins/images/LIQU2.png");
    }
</script>