<div class="content">
    <img class="centro" src="~/wwwroot/plugins/images/SINESULT.png" />
    <br />
    <br />
    <p style="font-size:18px;"><strong>SIN RESULTADOS</strong></p>
    <p>Por favor, redefina su búsqueda.</p>
</div>